<!-- <div class="modal">
  <form [formGroup]="changePasswordForm"
    (submit)="onSubmitChangePasswordform(changePasswordForm)">
    <mat-form-field>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <input matInput>
    </mat-form-field>
  </form>
  
<div>
  <button type="button" (click)="deleteUser()" mat-raised-button color="primary">
      Yes
  </button>
  <button type="button" (click)="onNoClick()" mat-raised-button>No</button>
</div>
</div> -->

<h1 mat-dialog-title>{{'HEADER.changePassword' | translate}}</h1>
<div *ngIf="error" class="col-sm-12 col-md-12 col-xl-12 error-container ">{{'HEADER.Wrongpassword' | translate}}</div>
<!-- <div mat-dialog-content> -->
  <form 
    (submit)="onSubmitChangePasswordform()">
    <mat-form-field class="col-sm-12 col-md-12 col-xl-12">
      <input matInput [formControl]="password" required [(ngModel)]="Password" placeholder="{{'HEADER.currentpassword' | translate}}" [type]="hide ? 'password' : 'text'">
      <mat-icon matSuffix style="cursor:default;" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="password.invalid">{{'HEADER.passwordinvalid1' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-12 col-md-12 col-xl-12">
      <input matInput [formControl]="newPassword" required [(ngModel)]="NewPassword" placeholder="{{'HEADER.newpassword' | translate}}" [type]="hide1 ? 'password' : 'text'">
      <mat-icon matSuffix style="cursor:default;" (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="newPassword.invalid">{{'HEADER.passwordinvalid1' | translate}}</mat-error>
    </mat-form-field>
    <mat-form-field class="col-sm-12 col-md-12 col-xl-12">
      <input matInput [formControl]="newPasswordConfirm" required [(ngModel)]="NewPasswordConfirm" placeholder="{{'HEADER.confirmpassword' | translate}}" [type]="hide2 ? 'password' : 'text'">
      <mat-icon matSuffix style="cursor:default;" (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
      <mat-error *ngIf="newPasswordConfirm.invalid">{{'HEADER.passwordinvalid2' | translate}}</mat-error>
    </mat-form-field>
    <div class="col-sm-12 col-md-12 col-xl-12" style="font-size:1rem;color:red" *ngIf="NewPasswordConfirm !== NewPassword && !newPasswordConfirm.invalid">{{'HEADER.passwordinvalid2' | translate}}</div>

<!-- </div> -->
  <div mat-dialog-actions style="margin:10px;text-align: right;" class="col-sm-12 col-md-12 col-xl-12">
    <button mat-raised-button color="primary" 
    disabled="{{password.invalid || newPassword.invalid || newPasswordConfirm.invalid || NewPassword !== NewPasswordConfirm}}" 
    type="submit" >{{'HEADER.changePassword' | translate}}</button>
    <button mat-raised-button (click)="onNoClick()">{{'HEADER.cancel' | translate}}</button>
  </div>
</form>
