@import "../../../../assets/scss/abstracts/abstracts";

.header {
  transition: 0.2s all ease-in;
  z-index: 1000;
  @include boxShadowMain();
  background: $white-color;
  position: fixed;
  height: 6rem;
  left: 25rem;
  top: 0;
  width: calc(100% - 25rem);
  padding-right: 2rem;
  z-index: 5;
  display: flex;
  flex-direction: row;

  &__search {
    display: inline-block;
    padding: 2rem;

    i {
      color: $grey-color-1;
      font-size: 2.4rem;
    }
  }

  &__logo{
    width: 8rem;
    flex: 1;

    img {
      width: 5rem;
      margin-top: .8rem;
      margin-left: .8rem;
      visibility: collapse;
    }
    &.logo-left{
      img{
        visibility: visible;
      }
    }

  }

  &__details {
    display: inline-block;
    float: right;
    padding: 1rem;

    img {
      @include square(4.5rem);
      @include border-radius(50%);
      border: .15rem solid $primary-color;
      vertical-align: middle;
      margin-left: 2rem;
    }

    span {
      color: $grey-color-1;
    }
  }
}

.hide-menu.sidebar {
  width: 7rem;
}

.hide-menu {
  .sidebar__logout {
    width: 7rem !important;
  }
}

.sidebar {
  transition: 0.2s all ease-in;
  //background: #3F5161;
  background: #FFFFFF;
  position: fixed;
  left: 0;
  top: 0;
  width: 25rem;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  overflow-x: hidden;

  &__toggle-menu {
    background: #3F5161;
    ul{
      overflow: auto;
      overflow-x: hidden;
      
    }
    top: 6rem;
    bottom: 6rem;
    width: 25rem;
    position: absolute;
    overflow: auto;
  }

  &__logo {
    transition: 0.3s all ease-in;
    background: $white-color;
    border-right: .1rem solid $grey-color-2;
    height: 6rem;
    width: 25rem;
    text-align: center;
    position: fixed;

    img {
      width: 5rem;
      margin-top: .8rem;
    }
  }

  &__menu {
    position: fixed;
    z-index: 30;
    left: 2rem;
    top: 1.6rem;

    i {
      font-size: 2.8rem;
    }
  }

  h1 {
    color: $white-color;
    font-size: 1.8rem;
    padding: 2.5rem;
  }

  ul {
    li {
      a {
        color: $white-color;
        font-size: 1.25rem;
        padding: 1.5rem 1rem;
        display: block;
        position: relative;
        white-space: nowrap;

        span {
          white-space: nowrap;
        }

        &:hover {
          background: darken(#3F5161, 4%);
        }

        &.active {
          background: darken(#3F5161, 6%);
        }

        i {
          vertical-align: middle;
          margin-right: 1rem;
          margin-left: 1.5rem;
          font-size: 2rem;
        }
      }

      ul {
        margin-top: 0;

        li {
          a {
            padding: 1rem 1rem 1rem 3.5rem;
          }
        }
      }
    }
  }

  &__logout {
    transition: 0.2s all ease-in;
    color: $white-color;
    background: darken(#3F5161, 5%);
    position: fixed;
    left: 0;
    bottom: 0;
    display: block;
    padding: 2rem;
    width: 25rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    white-space: nowrap;

    i {
      vertical-align: text-bottom;
      margin-right: 1rem;
      margin-left: .5rem;
      font-size: 2rem;
    }
  }
}

.drop {
  position: absolute;
  right: 1rem;
  top: 1.6rem;
}

.large-header {
  left: 7rem;
  width: calc(100% - 7rem);
}

.avatar {
  background-color: #3F5161;
  color: white;
  font-size: 1.4rem;
  float: right;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.name {
  float: right;
  vertical-align: middle;
  height: 100%;
  padding: 10px;
  cursor: default;
}

.sidebar-logo-left {
  width: 7rem;
  img {
    /* left: 8rem;
    position: relative; */
    
    visibility: hidden;
  }
}
.error-container{
  color: red;
  border: 1px solid red;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 10px;
}
.sidebar{
  font-size: 1.25rem !important;
}
