<div [ngClass]="{'large-header' : isMenuCollapse}" class="header">
  <!-- <div class="header__search">
    <a>
      <i matRipple [matRippleColor]="color" class="material-icons">search</i>
    </a>
  </div> -->
  <div class="header__logo" [ngClass]="{'logo-left' : isMenuCollapse}">
    <img src="assets/images/logo.png" alt="">
  </div>

  <div class="header__details">
    
    <!-- <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxI4xKysAB_qo81HpH36KAlF8noYs7k7cPSmH_J5D_j_yS5F7Okg"
      alt=""> -->
      <div [matMenuTriggerFor]="menu" class="avatar">{{this.initials}}</div>
      <mat-menu #menu="matMenu">
        <button style="font-size:1.4rem;" mat-menu-item class="download-files"
            (click)="openchangePasswordModal()">
            <i class="material-icons">person</i>
            <span>{{'HEADER.changePassword' | translate}}</span>
        </button>
      </mat-menu>
      <div class="name">{{this.userService.currentUser.Name}}</div>
  </div>
</div>

<div class="sidebar" [ngClass]="{'hide-menu' : isMenuCollapse}">
  <div class="sidebar__menu">
    <a (click)="onShowHideMenu()">
      <i class="material-icons">menu</i>
    </a>
  </div>

  <div class="sidebar__logo" [ngClass]="{'sidebar-logo-left' : isMenuCollapse}">
    <img src="assets/images/logo.png" alt="">
  </div>

  <div class="sidebar__toggle-menu">
    <ul>
      <li>
        <a aria-label="This is information" routerLinkActive="active" [routerLink]="homeUrl" matRipple [matRippleColor]="color">
          <i class="material-icons">home</i>
          <span *ngIf="!isMenuCollapse">{{'HOME.Home' | translate}}</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" matRipple [matRippleColor]="color" (click)="onOpenSubMenuGuid = !onOpenSubMenuGuid">
          <i class="material-icons">question_answer</i>
          <span *ngIf="!isMenuCollapse">Guide QMS</span>
          <i *ngIf="!isMenuCollapse" class="material-icons drop">arrow_drop_down</i>

        </a>

        <ul *ngIf="onOpenSubMenuGuid ">
          <li>
            <a routerLinkActive="active" [routerLink]="guide_qms" matRipple [matRippleColor]="color">
              <i class="material-icons">format_list_bulleted</i>
              <span *ngIf="!isMenuCollapse">Guide QMS</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="definitions" matRipple [matRippleColor]="color">
              <i class="material-icons">description</i>
              <span *ngIf="!isMenuCollapse">{{'HEADER.DEFINITION' | translate}}</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="glossaire" matRipple [matRippleColor]="color">
              <i class="material-icons">chrome_reader_mode</i>
              <span *ngIf="!isMenuCollapse">{{'HEADER.GLOSSAIRE' | translate}}</span>
            </a>
          </li>

        </ul>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="dashboardUrl" matRipple [matRippleColor]="color">
          <i class="material-icons">dashboard</i>
          <span *ngIf="!isMenuCollapse">{{'DASHBOARD.dash' | translate}}</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" matRipple [matRippleColor]="color" (click)="onOpenSubMenuAsse = !onOpenSubMenuAsse">
          <i class="material-icons">assessment</i>
          <span *ngIf="!isMenuCollapse">{{'SELFASSESSEMENT.selfAssessment' | translate}}</span>
          <i *ngIf="!isMenuCollapse" class="material-icons drop">arrow_drop_down</i>
        </a>
        <ul *ngIf="onOpenSubMenuAsse">
          <li>
            <a routerLinkActive="active" [routerLink]="selfAssessmentUrl" matRipple [matRippleColor]="color">
              <i class="material-icons">list</i>
              <span *ngIf="!isMenuCollapse">{{'SELFASSESSEMENT.listAssessment' | translate}}</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="addAssessementUrl" matRipple [matRippleColor]="color">
              <i class="material-icons">note_add</i>
              <span *ngIf="!isMenuCollapse">{{'SELFASSESSEMENT.addAssessement' | translate}}</span>
            </a>
          </li>

        </ul>
      </li>
      <!-- <li>
        <a routerLinkActive="active" [routerLink]="actionsUrl" matRipple [matRippleColor]="color">
          <i class="material-icons">assignment</i>
          <span *ngIf="!isMenuCollapse">{{'DASHBOARD.actions' | translate}}</span>
        </a>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="reportUrl" matRipple [matRippleColor]="color">
          <i class="material-icons">file_copy</i>
          <span *ngIf="!isMenuCollapse">{{'HEADER.reports' | translate}}</span>
        </a>
      </li> -->
      <li>
        <a routerLinkActive="active" matRipple [matRippleColor]="color" (click)="onOpenSubMenuReport = !onOpenSubMenuReport">
          <i class="material-icons">file_copy</i>
          <span *ngIf="!isMenuCollapse">{{'HEADER.reports' | translate}}</span>
          <i *ngIf="!isMenuCollapse" class="material-icons drop">arrow_drop_down</i>
        </a>
        <ul *ngIf="onOpenSubMenuReport">
          <li>
            <a routerLinkActive="active" [routerLink]="reportUrl" matRipple [matRippleColor]="color">
              <i class="material-icons">developer_board</i>
              <span *ngIf="!isMenuCollapse">{{'HEADER.global' | translate}}</span>
            </a>
          </li>
          <li>
            <a routerLinkActive="active" [routerLink]="actionsUrl" matRipple [matRippleColor]="color">
              <i class="material-icons">assignment</i>
              <span *ngIf="!isMenuCollapse">{{'HEADER.details' | translate}}</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a routerLinkActive="active" [routerLink]="best_practice" matRipple [matRippleColor]="color">
          <i class="material-icons">book</i>
          <span *ngIf="!isMenuCollapse">{{'HEADER.bestpractice' | translate}}</span>
        </a>
      </li>
      <li>
        <a *ngIf="userService.currentUser.Role >= 2" (click)="onOpenSubMenu = !onOpenSubMenu">
          <i class="material-icons">settings</i>
          <span *ngIf="!isMenuCollapse">Configurations</span>
          <i *ngIf="!isMenuCollapse" class="material-icons drop">arrow_drop_down</i>
        </a>
        <ul *ngIf="onOpenSubMenu ">
          <li>
            <a *ngIf="userService.currentUser.Role > 2"
            routerLinkActive="active" [routerLink]="entityListUrl" matRipple [matRippleColor]="color">
              <i class="material-icons">format_list_bulleted</i>
              <span *ngIf="!isMenuCollapse">{{'CompanyEntities.entities' | translate}}</span>
            </a>
          </li>
          <li>
            <a 
             routerLinkActive="active" [routerLink]="userListUrl" matRipple [matRippleColor]="color">
              <i class="material-icons">perm_identity</i>
              <span *ngIf="!isMenuCollapse">{{'ConfigurationUsers.users' | translate}}</span>
            </a>
          </li>
          <li>
            <a *ngIf="userService.currentUser.Role > 2"
              routerLinkActive="active" [routerLink]="axesListUrl" matRipple [matRippleColor]="color">
              <i class="material-icons">bar_chart</i>
              <span *ngIf="!isMenuCollapse">Axes</span>
            </a>
          </li>
          <li>
            <a *ngIf="userService.currentUser.Role > 2"
              routerLinkActive="active" [routerLink]="assessmentUrl" matRipple [matRippleColor]="color">
              <i class="material-icons">donut_large</i>
              <span *ngIf="!isMenuCollapse">{{'HEADER.assementPlan' | translate}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <!-- <a routerLinkActive="active" [routerLink]="onLogout"
     matRipple
     [matRippleColor]="color"
     class="sidebar__logout">
    <i class="material-icons">power_settings_new</i>
    Logout
  </a> -->
  <a (click)="logOut()"
     matRipple
     [matRippleColor]="color"
     class="sidebar__logout">
    <i class="material-icons">power_settings_new</i>
    <span *ngIf="!isMenuCollapse">{{'HEADER.logout' | translate}}</span>
  </a>
</div>

