<div class="row">
    <div class="col-sm-9 col-md-9 col-xl-9 PL0">
        <h2>
            <a (click)="onBack()" class="back-icon">
                <i class="material-icons">arrow_back_ios</i>
            </a>
            {{isEditMode ? edit : add}} {{'ConfigurationAssessment.AssPlan' | translate}}
        </h2>
    </div>
</div>

<div class="admin-form">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-xl-6 PL0">
            <form [formGroup]="assessmentPlanForm"
                  (submit)="onSubmitSelfAssessmentForm(assessmentPlanForm)">
                <div class="admin-form__control">
                    <mat-form-field>
                        <input type="text" autocomplete="off"
                               formControlName="Code"
                               matInput placeholder="{{'ConfigurationAssessment.assPlanCode' | translate}}">
                    </mat-form-field>
                </div>

                <div class="admin-form__control">
                    <mat-form-field class="example-full-width">
                        <textarea matInput placeholder="Description"
                                  formControlName="Description"></textarea>
                    </mat-form-field>
                </div>

                <div class="admin-form__control">
                    <mat-form-field >
                        <mat-select formControlName="Axes"
                                    placeholder="Axes"
                                    [disableOptionCentering]="true"
                                     (click)="expandAll()"
                                    [(ngModel)]="selectedAxes"
                                    [disabled]="enabled==false"
                                    multiple>
                            <mat-tree #tree  [dataSource]="treeSource" [treeControl]="treeControl">
                                <!-- This is the tree node template for leaf nodes -->
                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                                    <!-- use a disabled button to provide padding for tree leaf -->
                                    <button mat-icon-button disabled></button>
                                    <!-- <mat-option *ngIf="!!node.axis._id" [value]="node.axis._id ">
                                        <a class='entity'>{{node.name}}</a>
                                    </mat-option> -->
                                    <mat-option id="{{node.axis.axis}}||{{node.axis.Description}}"
                                     value="{{node.axis.axis}}||{{node.axis.Description}}"
                                    (click)="SelectedAxeChange($event)">
                                        <a class='entity'>{{node.name}}</a>
                                    </mat-option>
                                </mat-tree-node>
                                <!-- This is the tree node template for expandable nodes -->
                                <mat-tree-node  *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                <!--
                                    <button mat-icon-button matTreeNodeToggle
                                    [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>-->
            
                                    <mat-option id="{{node.axis._id}}"
                                    [value]="node.axis._id "
                                    (click)="SelectedAxeChange($event)">
                                        <a class='entity'>{{node.name}}</a>
                                    </mat-option>
                                    <!-- <mat-option *ngIf="!node.axis._id" value="{{node.axis.axis}} +'||'+{{node.name}}">
                                            <a class='entity'>{{node.name}}</a>
                                    </mat-option> -->
                                    
                                </mat-tree-node>
                            </mat-tree>
                            <!-- <mat-option *ngFor="let axe of axesList"
                                        [value]="axe.id">
                                {{axe.Description}}
                            </mat-option> -->
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="text-right">
                    <button (click)="onBack()" type="button" mat-raised-button>{{'ConfigurationAssessment.cancel' | translate}}</button>
                    <button type="submit" mat-raised-button color="primary">
                        <i class="material-icons">add</i> {{isEditMode ? edit : add}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
