agm-map {
  height: 200px;
}

b{
  display: block;
  margin-bottom: 1rem;
}

.box-target{
  text-align: center;
  padding: 1rem;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px #80808073;

  h3{
    font-size: 3.6rem;
  }

  h3, b{
    color: #3f5260;
  }
}

.box-target-1{
  background: #b9d8e7;
}

.box-target-2{
  background: #f3ceb1;
}

.box-target-3{
  background: #f9d89e;
}

.select-entity{
  position: absolute;
  right: 0;
  top: -2rem;
}
mat-card.mat-card {
  margin-bottom: 11px;
}
/* ::ng-deep .cdk-overlay-pane{
  top : 149.922px !important;
  right : 50px !important;
  left :auto !important;
} */
