<div class="row MT-20">
    <div class="col-sm-6 col-md-6 col-xl-6">
        <b>{{'REPORTS.selectedEntity' | translate}} : {{selectedEntityName}}</b>
    </div>
    <div class="col-sm-6 col-md-6 col-xl-6 PR0 text-right">
        <div class="select-entity">
            <mat-form-field [floatLabel]="'never'">
                <mat-select
                    [(ngModel)]="selectedEntity" (selectionChange)="entitySelectionChange()"
                    placeholder="{{'DASHBOARD.selectEntity' | translate}}">
                    <mat-tree [dataSource]="treeSource" [treeControl]="treeControl">
                        <!-- This is the tree node template for leaf nodes -->
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                            <!-- use a disabled button to provide padding for tree leaf -->
                            <button mat-icon-button disabled></button>
                            <mat-option [value]="node.entity._id">
                                <a class='entity'>{{node.name}}</a>
                            </mat-option>
                        </mat-tree-node>
                        <!-- This is the tree node template for expandable nodes -->
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle
                                    [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>

                            <mat-option [value]="node.entity._id">
                                <a class='entity'>{{node.name}}</a>
                            </mat-option>
                            
                        </mat-tree-node>
                    </mat-tree>
                </mat-select>

            <!--     <mat-select [(ngModel)]="selectedEntity" (selectionChange)="entitySelectionChange()" placeholder="Select Entity">
                    <mat-option *ngFor="let entity of entities" value="{{entity._id}}">{{entity.Code}}</mat-option>
                </mat-select> -->
            </mat-form-field>
        </div>
    </div>
</div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-6 PR0">
                <mat-card>
                    <b>{{'REPORTS.subEntitiesScores' | translate}}</b>
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [colors]="barChartColors"
                            [legend]="barChartLegend"
                            [chartType]="barChartType">
                    </canvas>
                </mat-card>

            </div>
            <div class="col-sm-12 col-md-6 col-xl-6  PR0">
                <mat-card>
                    <b>{{'REPORTS.global' | translate}}</b>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-xl-6 PL0">

                        <div class="box-target box-target-1">
                            <b>{{'REPORTS.avgScore' | translate}}</b>
                            <h3>{{currentScores.currentScore}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-6 PR0">
                        <div class="box-target box-target-2">
                            <b>{{'REPORTS.goal' | translate}}</b>
                            <h3>{{currentScores.goal}}</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-xl-12 PL0 PR0">
                        <b>{{'REPORTS.Pourcent' | translate}}</b>
                        <div class="box-target box-target-3">
                            <b>{{'REPORTS.pourcentage' | translate}}</b>
                            <h3>{{currentScores.pourcentage}} %</h3>
                        </div>
                    </div>
                </div>
                    </mat-card>
            </div>


        </div>
    <!-- <div class="col-sm-12 col-md-5 col-xl-5">
        <div class="col-sm-6 col-md-6 col-xl-6 PL0">
            <b>Selected Site: OIS-01 Site SAFI</b>
        </div>
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div> -->


<div class="row">
    <div class="col-sm-12 col-md-6 col-xl-6 PR-0">
        <mat-card>
            <b>{{'REPORTS.selfAssessments' | translate}}</b>
            <canvas baseChart
                    [data]="doughnutChartData2"
                    [labels]="doughnutChartLabels2"
                    [options]="doughnutChartOptions"
                    [chartType]="doughnutChartType">
            </canvas>
        </mat-card>
    </div>
    <div class="col-sm-12 col-md-6 col-xl-6 PR-0">
        <mat-card>
            <b>{{'REPORTS.actions' | translate}}</b>
            <canvas baseChart
                    [data]="doughnutChartData"
                    [options]="doughnutChartOptions"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType">
            </canvas>
        </mat-card>
    </div>
</div>

<div class="row">
       
    <div class="col-sm-12 col-md-12 col-xl-12">
        <mat-card>
            <div class="row MT-30">
                <div class="col-sm-6 col-md-6 col-xl-6 PL0">
                    <b>{{'REPORTS.scoresHistory' | translate}}</b>
                </div>
                <div class="col-sm-6 col-md-6 col-xl-6 PR0 text-right">
                    <div class="select-entity">
                        <mat-form-field [floatLabel]="'never'">
                            <mat-select value='1' placeholder="Select Year">
                                <mat-option value="1">2019</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div>
                <canvas baseChart
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"></canvas>
            </div>
        </mat-card>
    </div>
</div>


