<div>
    <div class="row">
        <div class="col-sm-8 col-md-8 col-xl-8 PL0">
            <h2>{{'DASHBOARD.lastAssessment' | translate}}</h2>
        </div>
        <!-- <div class="col-sm-4 col-md-4 col-xl-4 text-center">
            <a (click)="navigateAssessment()" class="complete-list">Complete List</a>
        </div> -->
        <div class="col-sm-4 col-md-4 col-xl-4 MT10 PR0 text-right">
            <mat-form-field>
                <mat-select
                        (selectionChange)="onSelectionChangeEntity($event)"
                        value="all" placeholder="{{'DASHBOARD.selectEntity' | translate}}" class="dashSelect">
                        <mat-option value="all">{{'DASHBOARD.all' | translate}} </mat-option>
                    <mat-tree [dataSource]="treeSource" [treeControl]="treeControl">
                        <!-- This is the tree node template for leaf nodes -->
                        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                            <!-- use a disabled button to provide padding for tree leaf -->
                            <button mat-icon-button disabled></button>
                            <mat-option [value]="node.entity._id">
                                <a class='entity'>{{node.name}}</a>
                            </mat-option>
                        </mat-tree-node>
                        <!-- This is the tree node template for expandable nodes -->
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle
                                    [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
    
                            <mat-option [value]="node.entity._id">
                                <a class='entity'>{{node.name}}</a>
                            </mat-option>
                            
                        </mat-tree-node>
                    </mat-tree>
                    
                    <!-- <mat-option *ngFor="let entity of Entities;let i = index"
                                [value]="entity.id">
                        {{entity.Description}}
                    </mat-option> -->
                </mat-select>

            </mat-form-field>
        </div>
    </div>

    <div class="row dashboard-main">
        <div *ngFor="let assessm of Assessments; let i = index;" class="dashboard-box"
             [ngClass]="{'finished': (assessm.assesment_status==='Finished' && i < 4),'published': (assessm.assesment_status==='Published' && i < 4 )}">
            <div class="dashboard-box__content" (click)="reloadChartAxe(i)">
                <a *ngIf="i<4" [ngClass]="{'selected': i === this.selectedAssess,'finished': (assessm.assesment_status==='Finished' && i < 4),'published': (assessm.assesment_status==='Published' && i < 4 )}">
                    <div class="row MB10">
                        <div class="col-sm-12 col-md-12 col-xl-12 PL0">
                            <b *ngIf="assessm.assesment_status === 'Published'">{{'DASHBOARD.published' | translate}} {{assessm.perc}} %</b>
                            <b *ngIf="assessm.assesment_status === 'Finished'">{{'DASHBOARD.finished' | translate}} {{assessm.perc}} %</b>
                            <b *ngIf="assessm.assesment_status === 'In Progress'">{{'DASHBOARD.inprogress' | translate}} {{assessm.perc}} %</b>
                        </div>
                        <div class=" col-sm-6 col-md-6 col-xl-6 text-left PL0">
                            <button [disabled]="assessm.createdBy !== currUser._id && currUser.Role <= 2" mat-icon-button [matMenuTriggerFor]="menu" title="{{'DASHBOARD.more' | translate}}">
                                    <!-- <i class="fas fa-ellipsis-h"></i> -->
                                    <mat-icon>more_horiz</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu" >
                                    <button *ngIf="assessm.assesment_status != 'Published'" (click)="editAssessment(i)" mat-menu-item class="download-files">
                                        <i class="material-icons">edit</i>
                                        <span>{{'DASHBOARD.edit' |translate}}</span>
                                    </button>
                                    <!-- <button mat-menu-item class="download-files">
                                        <i class="material-icons">delete</i>
                                        <span>Delete</span>
                                    </button> -->
                                    <button (click)="publish(i)" *ngIf="assessm.assesment_status === 'Finished'" mat-menu-item class="download-files">
                                        <i class="material-icons fas fa-share-square fa-lg"></i>
                                        <span>{{'DASHBOARD.publish' | translate}}</span>
                                    </button>
                                    <button (click)="publish(i)" *ngIf="assessm.assesment_status === 'Published'" mat-menu-item class="download-files">
                                        <i class="material-icons fas fa-share-square fa-lg"></i>
                                        <span>{{'DASHBOARD.unpublish' |translate}}</span>
                                    </button>
                                    <!-- <button mat-menu-item class="download-files">
                                        <i class="material-icons">picture_as_pdf</i>
                                        <span>PDF</span>
                                    </button>
                                    <button mat-menu-item class="download-files">
                                        <i class="material-icons">insert_drive_file</i>
                                        <span>Excel</span>
                                    </button> -->
                                </mat-menu>
                        </div>
                        <div class="MT10 col-sm-6 col-md-6 col-xl-6 text-right" style="padding:0px 0 0 0;">
                            <span data-toggle="tooltip" title="{{assessm.assesment_entity_code}}" class="name-dotted">
                                {{assessm.assesment_entity_code}}</span>
                        </div>
                    </div>
                    <div class="text-center" style="margin-top:-10px;">
                        <span class="dashboard-box__content__title">{{'DASHBOARD.scoreGoal' | translate}}</span>
                        <h4 style="padding:0;margin-top:0;padding-bottom:10px;margin-bottom:5px;">{{ assessm.assesment_score?.score }} / {{assessm.assesment_goals.goal}}</h4>
                    </div>
                    <div class="row date-name">
                        <div class="date-name__name">
                            <span data-toggle="tooltip" title="{{assessm.assesment_creator}}"
                                  class="name-dotted">{{assessm.assesment_creator}}</span>
                        </div>
                        <div class="date-name__date">
                            <span>{{ assessm.assesment_date }}</span>
                        </div>
                    </div>
                </a>
                <a *ngIf="i==4" title="{{'DASHBOARD.More' | translate}}">
                    <div class="row MB10">
                        <div class="col-sm-7 col-md-7 col-xl-7 PL0">
                        <b>Finished</b>
                        </div>
                        <div class=" col-sm-6 col-md-6 col-xl-6 text-left PL0">
                            <button mat-icon-button>
                                <i class="fas fa-ellipsis-h" style="color:transparent"></i>
                            </button>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xl-6 text-right" style="padding:0;color:transparent">
                            100 %
                        </div>
                    </div>
                    <div class="text-center" style="margin-top:-10px;">
                        <span class="dashboard-box__content__title">{{'DASHBOARD.More' | translate}}</span>
                        <h4 style="padding:0;margin-top:0;margin-bottom:7px;">A<i class="fas fa-ellipsis-h fa-2x" style="padding-bottom:15px;"></i>A</h4>
                    </div>
                    <div class="row date-name">
                        <div class="date-name__name">
                            <span>Admin</span>
                        </div>
                        <div class="date-name__date">
                            <span>____-__-__</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div *ngIf="Assessments.length < 5 && Assessments.length > 0" class="dashboard-box2">
            <div class="dashboard-box2__content" (click)="reloadChartAxe(4)">
                <a title="{{'DASHBOARD.More' | translate}}">
                    <div class="row MB10">
                        <div class="col-sm-7 col-md-7 col-xl-7 PL0">
                            <b>Finished</b>
                        </div>
                        <div class=" col-sm-6 col-md-6 col-xl-6 text-left PL0">
                            <button mat-icon-button>
                                <i class="fas fa-ellipsis-h" style="color:transparent"></i>
                            </button>
                        </div>
                        <div class="col-sm-6 col-md-6 col-xl-6 text-right" style="padding:0;color:transparent">
                            100 %
                        </div>
                    </div>
                    <div class="text-center" style="margin-top:-10px;">
                        <span class="dashboard-box2__content__title">{{'DASHBOARD.More' | translate}}</span>
                        <h4 style="padding:0;margin-top:0;margin-bottom:7px;">A<i class="fas fa-ellipsis-h fa-2x" style="padding-bottom:15px;"></i>A</h4>
                    </div>
                    <div class="row date-name">
                        <div class="date-name__name">
                            <span>Admin</span>
                        </div>
                        <div class="date-name__date">
                            <span>2019/04/01</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">

        <div *ngIf='Assessments.length!=0' class="chart-box chart-box-main col-xl-6 col-md-12 col-sm-12  ">
            <div class="col-sm-12 col-md-12 col-xl-12 PL0" >
                <div class="row PL0" style="padding-top:10px;padding-bottom:20px;">
                    <div class="text-left col-sm-6 col-md-6 col-xl-6 PL0" style="font-size:1.6rem;">
                        {{'DASHBOARD.selfAssessment' | translate }} : <b>{{ Assessments[this.selectedAssess].assesment_code ||
                    Assessments[this.selectedAssess].assesment_id?.substring(17) }}</b>
                    </div>
                    <div class="text-right col-sm-6 col-md-6 col-xl-6 PL0" style="font-size:1.6rem;">
                        {{'DASHBOARD.entity' | translate}} : <b> {{Assessments[this.selectedAssess].assesment_entity_code}}
                        || {{Assessments[this.selectedAssess].assesment_entity}}
                    </b>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-xl-12 PL0">
                <div class="">
                    <h3 class="text-center">{{'DASHBOARD.resbyAxe' | translate}}</h3>
                    <div class="text-center chart-line" style="border:none;">
                        <div [style.height.px]="610" echarts [options]="chartOption"></div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='Assessments.length!=0' class="row chart-box chart-box-main   col-xl-6 col-md-12 col-sm-12    ">
            <div class="col-sm-12 col-md-12 col-xl-12 PL0">
                <h3 class="text-center">{{'DASHBOARD.resbyElement' | translate}}</h3>
                <div class="dropdown-area">
                    <mat-form-field>
                        <mat-select [(value)]="selectedValueAxe" placeholder="{{'DASHBOARD.selectAxe' | translate}}"
                                    (selectionChange)="reloadChartElements($event.value)">
                            <mat-option *ngFor="let axe of Axes ; let j = index;" [value]="j">
                                {{axe}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <!--<div class="text-center">
                    <small>Self assessment : <b>SA001/Axe 1</b></small>
                </div>-->
                <div>
                    <div [style.height.px]="610" echarts [options]="chartElements"></div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="Assessments.length == 0" class="text-center MB20 MT20">
        <h3 style="color: #919090">{{'DASHBOARD.selfass' | translate}}</h3>
    </div>


    <div class="row" *ngIf='Assessments.length!=0'>
        <div class="chart-box chart-box-main col-sm-12 col-md-12 col-xl-12">
            <div>
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-xl-5 PL0">
                        <h2>{{'DASHBOARD.openAction' | translate}}</h2>
                    </div>
                    <div class="col-sm-7 col-md-7 col-xl-7 PR0">
                        <mat-paginator #paginator
                            [length]="resultsLength"
                            [pageSize]="pageSize"
                            [pageIndex]="pageIndex"
                            (page)="changePage($event)"
                            [pageSizeOptions]="pageSizeOptions">
                        </mat-paginator>
                    </div>
                </div>
                <div class="text-center">
                    <small>{{'DASHBOARD.selfAssessment' | translate}}s : {{ Assessments[this.selectedAssess].assesment_code ||
                        Assessments[this.selectedAssess].assesment_id?.substring(17) }}</small>
                </div>
                <table matSort mat-table [dataSource]="dataSource">

                    <ng-container matColumnDef="axe">
                        <th mat-header-cell *matHeaderCellDef width="12%"> Axe</th>
                        <td mat-cell *matCellDef="let element"> {{element.Axe}}</td>
                    </ng-container>

                    <ng-container matColumnDef="elements">
                        <th mat-header-cell *matHeaderCellDef width="12%"> Element</th>
                        <td mat-cell *matCellDef="let element"> {{element.Element}}</td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef width="20%"> Action</th>
                        <td mat-cell *matCellDef="let element"> {{element.Description}}</td>
                    </ng-container>

                    <ng-container matColumnDef="who">
                        <th mat-header-cell *matHeaderCellDef width="14%"> {{'DASHBOARD.who' | translate}}</th>
                        <td mat-cell *matCellDef="let element">
                            <div *ngIf="element.Who != 'Mail' "> {{element.Who}} </div>
                            <div *ngIf="element.Who == 'Mail' "> {{element.WhoMail}} </div>        
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef width="10%"> {{'DASHBOARD.status' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.Status}}</td>
                    </ng-container>

                    <ng-container matColumnDef="dueDate">
                        <th mat-header-cell *matHeaderCellDef width="15%"> {{'DASHBOARD.timeline' |translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.DueDate}}</td>
                    </ng-container>

                    <ng-container matColumnDef="comment">
                        <th mat-header-cell *matHeaderCellDef width="17%"> {{'DASHBOARD.comment' |translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.Comment}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>
