@import '../../../../assets/scss/abstracts/abstracts';

.complete-list {
  color: $primary-color;
  margin-top: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  text-decoration: underline;
}

.dashboard-main {
  .dashboard-box {
    b {
      background: #f18407;
    }

    h4 {
      color: #f18407;
    }
    &:nth-child(5){
      b {
        background: transparent;
        box-shadow: none;
        color: transparent;
      }

      h4,span {
        color: transparent;
        border-color: transparent;
      }
      i{
        color: #8d8d89;
        margin-top:-22px;
      }
    }
  }
  .dashboard-box.finished{
     /*  b {
        background: #23ab27;
      }

      h4 {
        color: #23ab27;
      } */
      b {
        background: #e7c02b;
      }

      h4 {
        color: #e7c02b;
      }
    }
  .dashboard-box.published{
    /* b {
      background: #a206c9;
    }

    h4 {
      color: #a206c9;
    } */
    b {
      background: #23ab27;
    }

    h4 {
      color: #23ab27;
    }
  }
  .dashboard-box2 {
    b {
      background: transparent;
      box-shadow: none;
      color: transparent;
    }

    h4,span {
      color: transparent;
      border-color: transparent;
    }
    i{
      color: #8d8d89;
      margin-top:-22px;
    }
  }
}

.selected{
  background: #f5f5f5;
  border: 1px solid #f18407;
  &.finished{
    border: 1px solid #e7c02b;
  }
  &.published{
    border: 1px solid #23ab27;
  }

  .fa-ellipsis-h{
    visibility: visible;
  }
}

.dashboard-box,.dashboard-box2 {
  width: 20%;
  float: left;
  padding: 0 1rem;
  margin-top: 4rem;

  &__content {
    background: $white-color;
    border: .1rem solid $grey-color-2;
    position: relative;

    &__title {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: .5rem;
      display: inline-block;
    }

    a {
      display: block;
      padding: 1rem;

      b {
        @include boxShadowMain();
        color: $white-color;
        position: absolute;
        height: 4rem;
        width: 11rem;
        top: -3rem;
        text-align: center;
        line-height: 4rem;
      }

      h4 {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
        border-bottom: .1rem solid $grey-color-2;
        padding-bottom: 1.5rem;
      }
      button {
        .fa-ellipsis-h{
          color:#646464;
          visibility: hidden;
        }
      }

      &:hover {
        background: #f8f8f8 !important;
        button{
          .fa-ellipsis-h{
            visibility: visible;
          }
        }
      }
      &.selected{
        button{
          .fa-ellipsis-h{
            visibility: visible;
          }
        }
      }
    }
  }
}

.chart-box-main{
  margin-left: 15px;
  margin-right: 15px;
}

.chart-box {
  @include boxShadowMain();
  background: $white-color;
  padding: 2rem;
  margin-top: 3rem;


  h3 {
    margin-bottom: 1rem;
  }

  img {
    max-width: 50%;
  }

  small {
    display: block;
    margin-bottom: 2rem;
  }
}

.chart-line{
  border-right: .1rem solid $grey-color-1;
}

.date-name{
  &__name{
    width: calc(100% - 8rem);
  }

  &__date{
    width: 8rem;
    text-align: right;
  }
}

.name-dotted{
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 99%;
}

.dropdown-area{
  height: 5rem;

  &--left-border{
    border-right: .1rem solid $grey-color-1;
  }
}
canvas{
  overflow: visible !important;
}
.chart-line[_ngcontent-c4] {
  border-right: 0px !important;
  padding-bottom: 5px;
}
.dropdown-area--left-border[_ngcontent-c4] {
  border-right: 0px;
}
.chart-box-main[_ngcontent-c4][_ngcontent-c4][_ngcontent-c4] {
  margin-left: 8px;
  margin-right: 0px;
}

@media (max-width: 1800px) and (min-width: 1025px){
  .col-md-6 {
    flex: 0 0 48%;
    max-width: 48%;
  }
}

@media (min-width: 1800px){
  .col-xl-6 {
    flex: 0 0 48%;
    max-width: 48%;
  }
}
.dashSelect{
  top : 149.922px !important;
  right : 50px !important;
  left :auto !important;
}
