<div class="modal">
    <h2>Confirmation</h2>
    <p>{{'CompanyEntities.confirmationDelete' | translate}}</p>
    <div>
        <button type="submit" (click)="onConfirmRemove()" mat-raised-button color="primary">
            {{'CompanyEntities.yes' | translate}}
        </button>
        <button type="button" (click)="closeModal()" mat-raised-button>{{'CompanyEntities.no' | translate}}</button>
    </div>
</div>

<div (click)="closeModal()" class="modal-layer"></div>