// --------------------------------------------------------------------------------------
// ================================== Mixin common methods  =============================
// --------------------------------------------------------------------------------------

//
// Clearfix
//
@mixin clearfix {
  &::after, &::before {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin square($heightWidth){
  height: $heightWidth;
  width: $heightWidth;
}

@mixin boxShadowMain{
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.21);
}

//
// Border Radius mixin
//
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin user-select($none){
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin transform($deg) {
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  transform: rotate($deg);
}


@mixin transition($duration, $property, $ease, $transition-delay){
  -webkit-transition: $property $duration $ease $transition-delay;
  -moz-transition: $property $duration $ease $transition-delay;
  -o-transition: $property $duration $ease $transition-delay;
  transition: $property $duration $ease $transition-delay;
}

/*placeholder*/
@mixin placeholder-color($color) {
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color !important;
  }
  input::-moz-placeholder, textarea::-moz-placeholder { /* Firefox 19+ */
    color: $color !important;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder { /* IE 10+ */
    color: $color !important;
  }
  input:placeholder, textarea:placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $color !important;
    opacity: 1; /* Firefox */
  }
}

//
// Conditional Media Query mixin
//
@mixin respond($breakPoint) {

  @if $breakPoint == large-desktop {
    @media (min-width: 1800px) {
      @content;
    }
  }

  @if $breakPoint == small-desktop {
    @media (min-width: 1025px) and (max-width: 1279px) {
      @content;
    }
  }

  @if $breakPoint == regular-desktop {
    @media (min-width: 1280px) and (max-width: 1439px) {
      @content;
    }
  }

  @if $breakPoint == tab-port {
    @media (min-width: 768px) and (max-width: 1024px) {
      @content;
    }
  }

  @if $breakPoint == phone {
    @media (max-width: 767px) {
      @content;
    }
  }
}
