p {
  padding: 2rem;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

.textarea-score {
  margin: 1rem;
  display: inline-block;
  width: 90%;
}

.mat-expansion-panel-header-title {
  line-height: 2.5rem;
}

.mat-checkbox {
  display: block;
  margin: 1rem;
}

.edit-icon, .delete-icon {
  position: relative;
  top: .4rem;
}
.modal {
  border-radius: 0.5rem;
  background: #fff;
  overflow: auto;
  width: 40%;
  max-height: 60%;
  padding: 2rem;
  z-index: 20;
  position: fixed;
  left: 35%;
  top: 30%;
  right: calc(30%);
}