<div *ngIf="!isEditElement">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xl-3 PL0">
            <h2>{{'ConfigurationAxes.axe' | translate}}</h2>
        </div>
        <div class="col-sm-9 col-md-9 col-xl-9 PR0">
            <mat-paginator
                #paginator
                [length]="resultsLength"
                [pageSize]="pageSize"
                [pageIndex]="pageIndex"
                (page)="changePage($event)"
                [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>
    </div>

    <mat-accordion>
        <mat-expansion-panel *ngFor="let axe of displayAxesList; let axeIndex = index;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{axe.Description}}
                </mat-panel-title>

                <mat-panel-description>
                    <a (click)="onEditAxe($event,axe)" class="edit-icon">
                        <i class="material-icons">edit</i></a>
                    <a (click)="onRemoveAxe($event,axe)" class="delete-icon">
                        <i class="material-icons">delete</i></a>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <!--<mat-accordion>
                <mat-expansion-panel *ngFor="let element of axe?.Elements; let elementIndex = index;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{element.Description}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="text-right">
                        <mat-form-field>
                            <mat-select placeholder="{{'ConfigurationAxes.controlAttach' | translate}}"
                                        (selectionChange)="onChangeAttachment($event,element)"
                                        [id]="'attachment_'+axe.id+'_'+elementIndex"
                                        [value]="element.AttachementControl">
                                <mat-option *ngFor="let score of element?.Scores"
                                            [value]="score.Note">
                                 {{'ConfigurationAxes.score' | translate}} {{score.Note}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <!-- <mat-tab-group #revTabGroup class="tab-group">
                        <mat-tab *ngFor="let score of element?.Scores; let scoreIndex=index"
                                 label=" {{'ConfigurationAxes.score' | translate}} {{score.Note}}">
                            <mat-form-field class="textarea-score">
                                <textarea matInput placeholder=""
                                          [id]="axe.id+'_'+elementIndex+'_'+score.Note"
                                          [value]="score.Description">
                                </textarea>
                            </mat-form-field>
                            <button type="button"
                                    (click)="onClickSave(axe,score,axeIndex,elementIndex,scoreIndex)"
                                    mat-raised-button
                                    color="primary">
                                    {{'ConfigurationAxes.save' | translate}}
                            </button>
                        </mat-tab>
                    </mat-tab-group>

                    <mat-tab-group #revTabGroup class="tab-group">
                            <div *ngFor="let score of element?.Scores; let scoreIndex=index">
                                <mat-tab
                                        label=" {{'ConfigurationAxes.score' | translate}} {{score.Note}}">
                                    <div *ngFor="let description of score?.Description; let desrptionIndex=index">
                                        <mat-form-field class="textarea-score">
                                            <textarea matInput [ngStyle]="{color:colorList[desrptionIndex]}"
                                                    [id]="axe.id+'_'+elementIndex+'_'+score.Note+'_'+desrptionIndex"
                                                    [value]="description">
                                            </textarea>
                                            <!-- <textarea matInput [ngStyle]="{color:colorList[colorList]}"
                                                    [id]="axe.id+'_'+elementIndex+'_'+score.Note"
                                                    [value]="score.Description">
                                            </textarea>
                                        </mat-form-field>
                                    </div>
                                    <button type="button"
                                            (click)="onClickSave(axe,score,axeIndex,elementIndex,scoreIndex)"
                                            mat-raised-button
                                            color="primary">
                                        {{'ConfigurationAxes.save' | translate}}
                                    </button>
                                </mat-tab>
                            </div>
                    </mat-tab-group>

                </mat-expansion-panel>
            </mat-accordion>-->
        </mat-expansion-panel>
    </mat-accordion>

    <div class="add-icon">
        <a (click)="onAddAxis()" matRipple [matRippleColor]="color">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>
<div *ngIf="displayerr===true" class="modal">
    <p style="color: red">{{'ConfigurationAxes.err' | translate}}</p>

    <div>

        <button type="button" (click)="displayerr = false" color="danger"  mat-raised-button>{{'ConfigurationAxes.close' | translate}}</button>
    </div>
</div>
<div (click)="displayerr = false" *ngIf="displayerr" class="modal-layer"></div>
<confirmation-modal *ngIf="isRemoveAxe"
                    (confirmRemove)="onRemoveConfirm($event)"
                    (cancelRemove)="onHideConfirmationModal()">
</confirmation-modal>
