@import "../../../../assets/scss/abstracts/abstracts";


.container{
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    margin: 0 -2rem -2rem -2rem;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.filterCont{
    flex: 20;
    overflow: auto;
    background: #ffffff;
    /* -webkit-box-shadow: 6px 0px 6px 0px #d9eaf5;
    -moz-box-shadow: 6px 0px 6px 0px #d9eaf5;
    box-shadow: 6px 0px 6px 0px #d9eaf5; */
    border-right: 1px solid #e2e2e2;
}
.content{
    flex: 80;
    overflow: auto;

    .searchBox{
        z-index: 0;
        background: #ffffff;
        @include boxShadowMain();
        top:0rem;
        width: 100%;
        left: 0;
        height: 5rem;
        &__search {
            padding: 0.4rem;;
            display: flex;
            flex-direction: row;
            vertical-align: middle;
        
            a {
                flex: 2;
                color: $grey-color-1;
                font-size: 2.4rem;
                padding-top: 0.7rem;
                margin-right: 8px;
            }
            input{
                flex:98;
                font-size: 2rem;
                margin-right: 10px;
                left: 0;
                right: 0;
                color: $grey-color-1;
                background: transparent;
                border: none;
                border-radius: 6px 12px 12px 6px;
                &:focus{
                    outline: none !important;
                    border:none;
                    background-color: rgba($color: #f8f8f8, $alpha: 0.5);
                    -webkit-box-shadow: inset 0px 0px 6px 0px #d9eaf5;
                    -moz-box-shadow: inset 0px 0px 6px 0px #d9eaf5;
                    box-shadow: inset 0px 0px 6px 0px #d9eaf5; 
                }
            }
        }
    
    }

}

mat-card{
    margin: 10px;
}
mat-checkbox{
    font-size: 1.4rem;
}
div.mat-expansion-pânel-body{
    padding:0;
}

.element-container{
    flex-direction: row;
    display: flex;
    .element-image{
        font-size: 8rem;
        cursor: default;
        &.pdf{
            color: #bd3243;
        }
        &.image{
            color: rgba(#530891,0.7);
        }
    }
    .element-info{
        margin-left: 2rem;
    }
}

.expansion{
    box-shadow: none;
    margin: 5px;    
}

.form-field-parent {
    display: flex;
    flex-direction: column;
}

.form-field-parent > * {
    width: 100%;
}

.fa-file-excel{
    color: #18800f;
}
.fa-file-word{
    color: #0b3bc0;
}
.fa-file-powerpoint{
    color: #e96213;
}
.preview-container{
    background: rgba(50, 50, 50, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}