<!-- <div class="searchBox">
  <div class="searchBox__search ">
    <a (click)="search.focus()"><mat-icon>search</mat-icon></a>
    <input #search type="text">
  </div>
</div> -->
<div class="container">
  <div class="filterCont">
    <div style="margin:10px;padding: 5px;display: flex;flex-direction: row">
      
      <h6 style="flex:1;"> <i class="fas fa-filter"></i>  {{'BestPracticeShare.filter' | translate}} </h6>
      <div style="padding: 15px 0 10px;;" class="text-right">
          {{filterFiles.length}} {{'BestPracticeShare.of' | translate}} {{files.length}} {{'BestPracticeShare.results' | translate}}
      </div>
      
    </div>
    
    <mat-expansion-panel class="expansion" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{'BestPracticeShare.entities' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        <mat-select multiple
                (selectionChange)="entityChange($event)"
                 placeholder="{{'BestPracticeShare.selectentity' | translate}}">
            <mat-tree [dataSource]="treeSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    <mat-option [value]="node.entity._id">
                        <a class='entity'>{{node.name}}</a>
                    </mat-option>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>

                    <mat-option [value]="node.entity._id">
                        <a class='entity'>{{node.name}}</a>
                    </mat-option>
                    
                </mat-tree-node>
            </mat-tree>
            
            <!-- <mat-option *ngFor="let entity of Entities;let i = index"
                        [value]="entity.id">
                {{entity.Description}}
            </mat-option> -->
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Axes
        </mat-panel-title>
      </mat-expansion-panel-header>
        <mat-list role="list">
          <mat-list-item class="PR0 PL0" title="{{axe}}" *ngFor="let axe of axes; let j = index" role="listitem"><mat-checkbox (change)="axeChange(j)">{{axe}}</mat-checkbox></mat-list-item>
        </mat-list>
      

    </mat-expansion-panel>
    <mat-expansion-panel class="expansion" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'BestPracticeShare.elements' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <mat-list role="list">
          <div *ngFor="let elmnt of filteredElementsByAxe; let j = index" >
            <mat-list-item  title="{{elmnt}}" role="listitem">
              <mat-checkbox  (change)="elementChange(elmnt)">{{elmnt}}</mat-checkbox>
            </mat-list-item>
          </div>
        </mat-list>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion" (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Date
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="form-field-parent">
          <mat-form-field>
            <input matInput [(ngModel)]="startDate"  [matDatepicker]="startPicker" placeholder="{{'BestPracticeShare.chooseStartdate' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker (closed)="dateChange()" #startPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="endDate" [matDatepicker]="endPicker" placeholder="{{'BestPracticeShare.chooseEndDate' | translate}}">
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker (closed)="dateChange()" #endPicker></mat-datepicker>
          </mat-form-field>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel class="expansion"  (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{'BestPracticeShare.fileType' | translate}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
          <mat-list role="list">
            <mat-list-item *ngFor="let filetype of fileTypes; let j = index" role="listitem"><mat-checkbox (change)="typeChange(j)">{{filetype.toUpperCase()}}</mat-checkbox></mat-list-item>
          </mat-list>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="content">
      <div class="searchBox">
        <div class="searchBox__search ">
          <a (click)="searchInput.focus()"><mat-icon>search</mat-icon></a>
          <input #searchInput type="text" (change)="search($event)" placeholder="{{'BestPracticeShare.search' | translate}}">
        </div>
      </div>
      <div style="padding: 10px;" class="text-right">
          {{'BestPracticeShare.found' | translate}} {{filterFiles.length}} {{'BestPracticeShare.results' | translate}}
          <button mat-icon-button [matMenuTriggerFor]="sortMenu"
           style="margin:0 10px">
            <mat-icon>sort</mat-icon>
        </button>

        <mat-menu #sortMenu="matMenu">
            <!-- <button mat-menu-item class="download-files">
                <span>pertinence</span>
            </button> -->
            <button mat-menu-item class="download-files"
            (click)="sortData({active:'alpha',direction:'asc'})">
                <span>A {{'BestPracticeShare.to' | translate}} Z</span>
            </button>
            <button mat-menu-item class="download-files"
            (click)="sortData({active:'alpha',direction:'desc'})">
                <span>Z {{'BestPracticeShare.to' | translate}} A</span>
            </button>
            <button mat-menu-item class="download-files"
            (click)="sortData({active:'date',direction:'desc'})">
                <span>{{'BestPracticeShare.newesttooldest' | translate}}</span>
            </button>
            <button mat-menu-item class="download-files"
            (click)="sortData({active:'date',direction:'asc'})">
                <span>{{'BestPracticeShare.oldesttonewest' | translate}}</span>
            </button>
        </mat-menu>
      </div>

      <mat-card *ngFor="let element of filterFiles; let k = index">
          <mat-card-title style="display:flex;flex-direction:row;cursor: default;">
            <h4 style="flex:50;margin:0;">
              {{element.DocumentName}}
            </h4>
            <div class="text-right">
              <button mat-icon-button (click)="like(k)">
                {{element.Likes>0 ? element.Likes : ''}}
                <mat-icon *ngIf="!_userService.currentUser.LikedAttachments.includes(element._id)">thumb_up</mat-icon>
                <mat-icon *ngIf="_userService.currentUser.LikedAttachments.includes(element._id)" style="color: #23ad13">thumb_up</mat-icon>
              </button>
              <button mat-icon-button (click)="apply(k)">
                  {{element.Applicators.length > 0 ? element.Applicators.length : ''}}
                  <mat-icon *ngIf="!element.Applicators.includes(_userService.currentUser._id) ">check_circle</mat-icon>
                  <mat-icon *ngIf="element.Applicators.includes(_userService.currentUser._id) " style="color: #23ad13">check_circle</mat-icon>
              </button>                
              <button mat-icon-button (click)="downloadFile(k)">
                {{element.Downloads>0 ? element.Downloads : ''}}
                <mat-icon>file_download</mat-icon>
              </button>
              <button *ngIf="_userService.currentUser.Role === 3" (click)="deleteFile(k)" mat-icon-button>
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-title>
          <!-- <mat-card-subtitle>Type : {{element.Type}}</mat-card-subtitle> -->
          <mat-card-content>
            <div class="element-container">
              <i *ngIf="element.DocumentType.toLowerCase() === 'pdf'" class="element-image fas pdf fa-file-pdf"></i>
              <i *ngIf="element.DocumentType.toLowerCase() === 'png' || element.DocumentType.toLowerCase() === 'jpeg' || element.DocumentType.toLowerCase() === 'jpg'" class="material-icons image element-image">image</i>
              <i *ngIf="element.DocumentType.toLowerCase() === 'mp4' || element.DocumentType.toLowerCase() === 'webm' || element.DocumentType.toLowerCase() === '3gp'" class="material-icons element-image">movie</i>
              <i *ngIf="element.DocumentType.toLowerCase() === 'xlsx' || element.DocumentType.toLowerCase() === 'xls' " class="fas fa-file-excel element-image" ></i>
              <i *ngIf="element.DocumentType.toLowerCase() === 'docx' || element.DocumentType.toLowerCase() === 'doc' " class="fas fa-file-word element-image" ></i>
              <i *ngIf="element.DocumentType.toLowerCase() === 'pptx' || element.DocumentType.toLowerCase() === 'ppt' " class="element-image fas fa-file-powerpoint" ></i>
              <i *ngIf="!(element.DocumentType.toLowerCase() === 'pdf' || element.DocumentType.toLowerCase() === 'png' || element.DocumentType.toLowerCase() === 'jpeg' || element.DocumentType.toLowerCase() === 'jpg' || element.DocumentType.toLowerCase() === 'mp4' || element.DocumentType.toLowerCase() === 'webm' || element.DocumentType.toLowerCase() === '3gp' || element.DocumentType.toLowerCase() === 'xlsx' || element.DocumentType.toLowerCase() === 'xls' || element.DocumentType.toLowerCase() === 'pptx' || element.DocumentType.toLowerCase() === 'ppt' ||element.DocumentType.toLowerCase() === 'docx' || element.DocumentType.toLowerCase() === 'doc')"
               class="element-image fas fa-file" style="color: #3F5161"></i>

              <div class="element-info">
                <div *ngIf="element.Entity">
                    {{'BestPracticeShare.entity' | translate}} : {{element.Entity.Code}}&nbsp;&nbsp;{{element.Entity.Description}}  &nbsp;&nbsp; | &nbsp;&nbsp; Assessment : {{element.AssessmentCode}}
                </div>
                <div>
                  Axe : {{element.Axe.Description}} &nbsp;&nbsp; | &nbsp;&nbsp; Element : {{element.Element}}
                </div>
                <div>
                  Description : {{element.Description}}
                </div>
                <div>
                    Type : {{element.Type}} &nbsp;&nbsp; | &nbsp;&nbsp; Date : {{changeDateFormat(element.Date)}}
                  
                </div>
                <div>
                    {{'BestPracticeShare.uploadedBy' | translate}} : {{element.Uploader}}
                </div>
                
              </div>
            </div>
            
          </mat-card-content>
      </mat-card>
  </div>

</div>

<div *ngIf="isLoading" style="height:100%;width:100%;position:fixed;top:0;left:0;overflow: hidden;text-align:center;background: rgba(240,240,240,0.8);" >
  <!-- <div>
      <img src="assets/images/login-logo.png" style="margin :80px auto; width:20%;object-fit:scale-down">
  </div> -->
  <div style="margin-top:20%;padding-left:23rem;">
  <div class="sk-circle">
      <div class="sk-circle1 sk-child"></div>
      <div class="sk-circle2 sk-child"></div>
      <div class="sk-circle3 sk-child"></div>
      <div class="sk-circle4 sk-child"></div>
      <div class="sk-circle5 sk-child"></div>
      <div class="sk-circle6 sk-child"></div>
      <div class="sk-circle7 sk-child"></div>
      <div class="sk-circle8 sk-child"></div>
      <div class="sk-circle9 sk-child"></div>
      <div class="sk-circle10 sk-child"></div>
      <div class="sk-circle11 sk-child"></div>
      <div class="sk-circle12 sk-child"></div>
  </div>
  </div>
</div>

<div *ngIf="isDeleteAttachment" class="modal">
    <p>{{'SELFASSESSEMENT.confirmationDelete' | translate}}</p>

    <div>
        <button type="button" (click)="confirmDelete()" mat-raised-button color="primary">
                {{'SELFASSESSEMENT.yes' | translate}}
        </button>
        <button type="button" (click)="isDeleteAttachment = false;" mat-raised-button>{{'SELFASSESSEMENT.no' | translate}}</button>
    </div>
</div>

<div (click)="isDeleteAttachment = false" *ngIf="isDeleteAttachment" class="modal-layer"></div>
