<div class="cont" *ngIf="!!assessment">
  <!-- <div style="display: flex;flex-flow: column;" class="col-sm-12 col-md-12 col-xl-12"> -->
  <div>
      <div style="height:50px;display:flex;flex-direction:row;">
          <div class="col-sm-6 col-md-6 col-xl-6 PL0">
              <h2>
                  <a class="back-self-assessment" (click)="onBack()"><i class="material-icons">keyboard_arrow_left</i></a>
                  {{'GuideQms.guide' | translate}}  </h2>
          </div>
      </div>
      <div class="self-assessment-container">
          <mat-tab-group style="padding:10px 5px;" (selectedTabChange)="tabChanged($event)">
              <mat-tab *ngFor="let axis of assessment.Axes;let i = index">
                  <ng-template mat-tab-label>
                      <div class="tab-label-container"
                           [ngClass]="{'tabActive':i === selectedElement.axe}">
                          <div class="tab-label-row">
                              <div class="tab-label-col">
                                  {{axis.Description}}
                              </div>
                          </div>
                      </div>
                  </ng-template>
                  <h4 style="padding-top:0">{{axis.Description}}</h4>
                  <!-- <div class="row element-list"> -->

                  <div class="element-list">
                      <!-- <div class="col-sm-2 col-md-2 col-xl-2"> -->
                      <div class="side">
                          <ul>
                              <li class="side__list" *ngFor="let element of axis.Elements; let j = index;">
                                  <a [ngClass]="{'active' : j == selectedElement.index}"
                                     (click)="selectElement(i,element,j)"
                                     matRipple [matRippleColor]="color">
                                      {{element.Description}}
                                  </a>
                              </li>
                          </ul>
                      </div>
                      <!-- <div class="col-sm-10 col-md-10 col-xl-10" style="left:0;right:0;top:0;bottom:0;" > -->
                      <div class="content">
                          <div *ngFor="let element of axis.Elements; let j = index;">
                              <div style=" margin-bottom: 20px;" *ngIf="j === selectedElement.index">
                                  <mat-accordion style="margin: 5px 0;">
                                      <mat-expansion-panel expanded>
                                          <mat-expansion-panel-header>
                                              <mat-panel-title>
                                                  {{element.Description}}
                                              </mat-panel-title>
                                          </mat-expansion-panel-header>
                                          <div class="score-goal-tab">
                                              <div>
                                                  <div style="display:flex; padding-left: 8px; padding-right: 15px;">
                                                      <div *ngFor="let score of element.Scores"
                                                           class="checkbox-selection">
                                                          <div style="max-height: 320px;overflow: auto;">
                                                            <span>{{score.Note}}</span>
                                                            <a (click)="onReadMore($event,score)" class="read-more">
                                                                <mat-icon>more_horiz</mat-icon>
                                                            </a>
                                                            <div  *ngFor="let description of score.Description;let desrptionIndex=index">
                                                                <p *ngIf="description!==null" [ngStyle]="{color:colorList[desrptionIndex]}">
                                                                    {{description | limitTo: maximumTextLength}} 
                                                                </p>      
                                                            </div>
                                                                                                                       
                                                          </div>
                                                           
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </mat-expansion-panel>
                                  </mat-accordion>
                              </div>
                          </div>
                      </div>
                  </div>
              </mat-tab>
          </mat-tab-group>
      </div>
  </div>
</div>


<!--Read more modal-->
<!--Read more modal-->
<div *ngIf="readMoreDescription"  class="modal description-modal">
    <h3>Score {{readMoreDescription.Note}} Description</h3>
    
    <p *ngFor="let readmore of readMoreDescription.Description;let i = index" [ngStyle]="{color:colorList[i]}">
        {{readmore}}
    </p>  
    <div>
        <button type="button" (click)="readMoreDescription = null" mat-raised-button>{{'SELFASSESSEMENT.Close' | translate}}</button>
    </div>
</div>

<div (click)="readMoreDescription = null" *ngIf="readMoreDescription" class="modal-layer"></div>