<div class="row">
  <div class="col-sm-4 col-md-4 col-xl-4 PL0">
    <h2>
      <a (click)="onBack()" class="back-icon">
        <i class="material-icons">arrow_back_ios</i>
      </a>
      {{this.labeluser}} {{'ConfigurationUsers.User' | translate}}
    </h2>
  </div>
</div>

<div class="admin-form">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-xl-6 PL0">
      <form>
        <div class="admin-form__control">
          <mat-form-field>
            <input type="text" name="name" autocomplete="false" matInput placeholder="{{'ConfigurationUsers.Name' | translate}}" [(ngModel)]="currentUser.Name" >
          </mat-form-field>
        </div>
        <div class="admin-form__control">
          <mat-form-field>
            <input type="text" name="email" autocomplete="false" matInput placeholder="Email" [(ngModel)]="currentUser.Email">
          </mat-form-field>
        </div>
        
        <!-- <div class="admin-form__control" *ngIf="userService.addType === 'Add'">
          <mat-form-field>
            <input type="password" name="password" autocomplete="false" matInput placeholder="Password" [(ngModel)]="currentUser.Password">
          </mat-form-field>
        </div> -->
        <div class="admin-form__control">
          <mat-form-field>
            <mat-select placeholder="{{'ConfigurationUsers.selectrole' | translate}}" name="role" [(ngModel)]="currentUser.Role">
              <mat-option *ngIf="userService.currentUser.Role === 3" [value]="3">General Admin</mat-option>
              <mat-option *ngIf="userService.currentUser.Role === 3" [value]="2">Site Admin</mat-option>
              <mat-option [value]="1">User</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="admin-form__control">
          <mat-form-field>
              <mat-select placeholder="{{'ConfigurationUsers.entity' | translate}}" (selectionChange)="entitySelected($event)" multiple='true' name="entity" [(ngModel)]="currentUser.Entity">
                  <!-- <mat-option *ngFor='let element of this.entititesService.entities' [value]="element._id">{{element.Code}}</mat-option> -->
                  <mat-tree [dataSource]="treeSource" [treeControl]="treeControl">
                      <!-- This is the tree node template for leaf nodes -->
                      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                          <!-- use a disabled button to provide padding for tree leaf -->
                          <button mat-icon-button disabled></button>
                          <mat-option [value]="node.entity._id">
                              <a class='entity'>{{node.name}}</a>
                          </mat-option>
                      </mat-tree-node>
                      <!-- This is the tree node template for expandable nodes -->
                      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                          <button mat-icon-button matTreeNodeToggle
                                  [attr.aria-label]="'toggle ' + node.name">
                              <mat-icon class="mat-icon-rtl-mirror">
                                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                              </mat-icon>
                          </button>
  
                          <mat-option [value]="node.entity._id">
                              <a class='entity'>{{node.name}}</a>
                          </mat-option>
                          
                      </mat-tree-node>
                  </mat-tree>
                </mat-select>
            <input type="text" autocomplete="off" matInput placeholder="{{'ConfigurationUsers.entity' | translate}}">
          </mat-form-field>
        </div>
        <div class="admin-form__control">
          <mat-form-field>
            <mat-select name="status"  [(ngModel)]="currentUser.Status" placeholder="{{'ConfigurationUsers.selectstatus' | translate}}">
              <mat-option [value]="true">Active</mat-option>
              <mat-option [value]="false">Inactive</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="text-right">
          <button *ngIf="this.userService.addType == 'Edit'" type="button" mat-raised-button color="primary" (click)="resetPassword()" style="margin-right:30px;">
              {{'ConfigurationUsers.resetpassword' | translate}}
          </button>
          <button (click)="onBack()" type="button" mat-raised-button>{{'ConfigurationUsers.cancel' | translate}}</button>
          <button type="button" mat-raised-button (click)="addUser()" color="primary">
              <i *ngIf="this.userService.addType==='Add'" class="fas fa-plus fa-lg"></i>
              <i *ngIf="this.userService.addType==='Edit'" class="fas fa-edit fa-lg"></i> {{this.labeluser.toUpperCase()}}
            </button>
        </div>
      </form>
    </div>
  </div>
</div>
