<!-- <div *ngIf="isEnvironnement; else init" class="login-box"> -->
<div class="login-box">
    <div class="login-box__logo">
        <img src="assets/images/login-logo.png" alt="">
    </div>
    <div class="login-box__white w3-animate-opacity">
        <div class="text-center MB20">
            <img src="assets/images/logo.png" width="100" alt="">
        </div>
        <div class="error" *ngIf="this.errorMessage!=null">
            {{this.errorMessage}}
        </div>
        <form role="form">
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="text" name="email" [formControl]="email" required autocomplete="on" matInput placeholder="Email" [(ngModel)]="_email">
                    <mat-error *ngIf="email.invalid && !email.hasError('required')">Please enter a valid email address</mat-error>
                    <mat-error *ngIf="email.hasError('required')">Email is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>

            <div>

                <mat-form-field appearance="outline">
                    <mat-label>{{ 'LOGIN.PASSWORD' | translate }}</mat-label>
                    <input type="password" [formControl]="password" required matInput placeholder="{{ 'LOGIN.PASSWORD' | translate }}" [(ngModel)]="_password">
                    <mat-error *ngIf="password.invalid && !password.hasError('required')">Password must contain 8 caracters or more</mat-error>
                    <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
                </mat-form-field>
            </div>
            <div class="MB10">
                    <mat-form-field appearance="outline">
                        <mat-label>{{ 'LOGIN.language' | translate }}</mat-label>
                        <mat-select name="language" [(ngModel)]='language'>
                            <mat-option value="fr">Fr</mat-option>
                            <mat-option value="en">En</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            <div class="MB10">
                <mat-form-field appearance="outline">
                    <mat-label>{{ 'LOGIN.ENV' | translate }}</mat-label>
                    <mat-select name="environnement" [(ngModel)]='environnement'>
                        <mat-option value="demo">Prod</mat-option>
                        <mat-option value="prod">Demo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <button disabled="{{email.invalid || password.invalid}}" (click)="onUserList()" type="button" mat-raised-button color="primary">LOGIN</button>
            </div>
        </form>
    </div>
</div>

<!-- <ng-template #init>
    <div class="login-box">
        <div class="login-box__initImg w3-animate-opacity">
            <img src="assets/images/login-logo.png" alt="">
        </div>
        <div class="login-box__initLogo w3-animate-opacity">
            <div class="text-center MB20">
                <img class="logo" src="assets/images/logo.png" width="100" alt="">
            </div>
        </div>
        <div class="login-box__white2">
            <div class="text-center MB20 MT20">
                <h4>Choose your environnement</h4>
            </div>
            <div class="MB10 MT10">
                <button (click)="isEnvironnement = true;" type="button" mat-raised-button color="primary">Production</button>
            </div>
            <div class="MB10 MT10">
                <button (click)="isEnvironnement = true;" type="button" mat-raised-button color="primary">Demo</button>
            </div>
        </div>
    </div>
</ng-template> -->
