@import "../../../assets/scss/abstracts/abstracts";

.login-box {
  //background: lighten($primary-color, 50%);
  background: #f0f0f0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;

  &__logo{
    position: relative;
    animation-name: qmlogo;
    animation-duration: 3s;
    //animation-delay: 0.8s;
    -webkit-animation-name: qmlogo;
    -webkit-animation-duration: 3s;
    top: 6rem;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    text-align: center;
    img{
      width: 20rem;

      //-webkit-animation-delay: 0.8s; 
    }
  }

  &__white {
    @include boxShadowMain();
    background: $white-color;
    padding: 2rem;
    width: 40rem;
    margin: 0 auto;
    position: relative;
    top: 8rem;

    animation-name: buttons;
    animation-duration: 3s;

    h1 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    mat-form-field {
      width: 100%;
    }

    button {
      width: 100%;
      height: 4.5rem;
      font-size: 1.4rem;
    }
  }

  &__initImg{
    position: fixed;
    top: 10rem;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    text-align: center;
    img{
      width: 20rem;
      animation-name: qmlogo;
      animation-duration: 5s;
      //animation-delay: 0.8s;
      -webkit-animation-name: qmlogo;
      -webkit-animation-duration: 5s;
      //-webkit-animation-delay: 0.8s; 
    }
  }
  &__initLogo{
    padding: 2rem;
    width: 40rem;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    position: relative;
    top: 23rem;
    text-align: center;
    animation-name: logo;
    animation-duration: 5s;
    -webkit-animation-name: logo;
    -webkit-animation-duration: 5s;
    img{
      width: 100px;
    }
  }
  &__white2 {
    @include boxShadowMain();
    background: $white-color;
    padding: 2rem;
    width: 40rem;
    margin: 0 auto;
    position: relative;
    top: 8rem;

    animation-name: buttons;
    animation-duration: 5s;

    button {
      width: 100%;
      height: 4.5rem;
      font-size: 1.4rem;
    }
  }
}
.error{
  padding: 10px;
  border: 1px solid rgb(240, 50, 50);
  border-radius: 10px;
  color: rgb(240, 50, 50);
  text-align: center;
  font-weight: 300;
  margin: 10px 5px;
}

@keyframes qmlogo {
  from {top: -10rem;}
  to {top:6rem}
}
@keyframes logo {
  from {top: 400px;}
  to {top:10rem}
}

@keyframes buttons {
  0% {top: 100%}
  100% {top: 8rem;}
}