@import "../../../../../assets/scss/abstracts/abstracts";

.self-assessment-container {
  background: rgba($grey-color-2, 0);

  .element-list {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    position: relative;
   min-height: 600px;
    width: 100%;

    ul {
      @include boxShadowMain();
      background: $white-color;

      li {
        a {
          border-bottom: .1rem solid $grey-color-2;
          border-left: .2rem solid $white-color;
          display: block;
          padding: 2rem;
          text-align: center;

          &.active {
            color: $primary-color;
            border-left-color: $primary-color;
          }
        }
      }
    }

  }
  .element-list.collapsed {
    display: flex;
    flex-flow: row;
    overflow: hidden;
    position: fixed;
    height: calc(100% - 9rem - 167px);
    width: calc(100% - 7rem - 36px);
    top: calc(167px + 6rem);
  }
}

.checkbox-selection {
  border: .1rem solid $grey-color-2;
  cursor: pointer;
  margin: 0 1% 1rem 1%;
  //width: calc(20% - 2rem);
  width: 18%;
  display: flex;
  //float: left;

  div {
    padding: 1rem;
    flex: auto;
    flex-direction: column;
    width: 100%;
    //min-height: 22rem;
    position: relative;

    .read-more {
      float: right;
      color: #222222;
      right: 1rem;
    }

    span {
      @include square(3.5rem);
      @include border-radius(50%);
      background: $primary-color;
      color: $white-color;
      font-weight: 500;
      font-size: 1.8rem;
      display: inline-block;
      text-align: center;
      line-height: 3.5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 2rem;
    }

    &.active {
      //background: $primary-color-light;
      color: $white-color;
      border: solid 4px $primary-color;
      a{
          color: #222222;
      }
/* 
      span {
        background: $white-color;
        color: $primary-color;
      } */
    }
  }
}

h6 {
  color: $primary-color;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem

}

.completed {
  margin-top: 2rem;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  color: #848484;
}

.score {
  display: inline-block;
  margin-top: 1.6rem;
  font-size: 1.8rem;
}

.title-panel {
  display: inline-block;
  font-size: 1.4rem;
  line-height: 3rem;
}

.mat-expansion-panel-header {
  font-size: 1.4rem;
}

.mat-radio-button {
  margin-right: 2rem;
}

.goal {
  position: relative;
  text-align: center;
  margin-top: .5rem;
  height: 7rem;
  top: 3rem;

  b {
    margin-right: 1rem;
    display: inline-block;
    position: absolute;
    left: 15px;
    top: -5px;
  }

  .mat-radio-group {
    display: block !important;
    width: 100% !important;
  }
}

.back-self-assessment {
  font-size: 2.2rem;
  position: relative;
  top: .4rem;
}

.textarea-action {
  padding-bottom: 1rem;
  padding-right: 1rem;

  textarea {
    border-bottom: .1rem solid $grey-color-2;
  }
}

.file-attach {
  position: relative;
  top: .5rem;
}

.input-field {
  padding-bottom: 1rem;
  padding-right: 1rem;
}

.side {
  position: absolute;
  bottom:0;
  top:0;
  height: 100%;
  width: 15%;
  padding: 5px 10px 10px;
  overflow: auto;

  &__list {
    position: relative;

    &__icon {
      cursor: default;
      position: absolute;
      right: 5px;
      bottom: 2px;
      color: green;

      i {
        font-size: 18px;
      }
    }
  }
}

.cont{
  position: absolute;
  left: 0;
  top: 0;
  //height: calc(100%);
  padding: 0 2rem 2rem 2rem;
  width: calc(100%);
  overflow:hidden;
}

.content {
  position: absolute;
  bottom:0;
  top:0;
  width: 85%;
  left:15%;
  padding: 5px 10px 10px;
  overflow: auto;
}
.tab-label-container {
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  flex-flow: column;
  height: 49px;
}

.tab-label-container.finished {
  height: 48px;
  border-top: 3px solid green;

  .tab-label-row {
    padding-top: 7px;
  }

  .tab-label-row:nth-child(2) {
    padding-top: 10px;
  }
}

.tab-label-row {
  flex: 1;
  padding-top: 10px;
  display: flex;
  flex-flow: row;
  vertical-align: middle;
}

.tab-label-row:nth-child(2) {
  padding-bottom: 5px;
  font-size: 11px;
}

.tab-label-col {
  flex: 1;
  text-align: center;
}

.fa-check-circle {
  color: rgb(20, 220, 40);
  right: 85%;
  margin-top: -32px;
  position: absolute;
}

.tabActive {
  background: #c7c7c7;
}

.description-modal {
  h3 {
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.4rem;
  }
}

.disable-div {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

.disable-div-green-border {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
  border: 4px solid blue;
}

.green-border{
  outline: 4px solid rgb(5, 201, 5);
  outline-offset: 1px;
}

.modal {
  border-radius: 0.5rem;
  background: #fff;
  overflow: hidden;
  width: 60%;
  max-height: 60%;
  padding: 2rem;
  z-index: 20;
  position: fixed;
  left: 20%;
  top: 20%;
  right: calc(30%);
  .table{
    overflow: auto;
    width: 100%;
    height: 70%;
  }

}



.mat-expansion-panel-header {
  height: 35px !important;
}
.star{
  color:yellow;
}
.side__list__icon{
  display: contents;
}
.animateAttach{
  animation: heartbeat 2s infinite;
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}

button.mat-icon-button img {
  width: 100%;
}
::ng-deep .self-assessment-container .mat-tab-header {
  margin-left: 18rem !important;
}
button.score-goal-tab__btn.mat-raised-button + button.score-goal-tab__btn.mat-raised-button.active {
  border-color: #05c905!important;
}