<div *ngIf="!isAssessmentForm" class="row">
    <div class="col-sm-12 col-md-12 col-xl-12">
        <div class="row">
            <div class="col-sm-10 col-md-10 col-xl-10 PL0">
                <h2>
                    <a (click)="onBack()" class="back-icon">
                        <i class="material-icons">arrow_back_ios</i>
                    </a>
                    {{'SELFASSESSEMENT.selfAssessment' | translate}}
                </h2>
            </div>
        </div>
    </div>
    <form [formGroup]="selfAssessmentForm"
          (submit)="onSubmitSelfAssessmentInitForm(selfAssessmentForm)">

        <div class="row MT10">
            <div class="col-sm-12 col-md-12 col-xl-12">
                <div>{{'SELFASSESSEMENT.genSelfAssessment' | translate}}</div>
                <span *ngIf="displayerr===true" style="color: red">{{'SELFASSESSEMENT.errcreate' | translate}}</span>
            </div>
            
            <div class="col-sm-6 col-md-6 col-xl-6">
                <div class="admin-form MT0 PL0">
                    <div class="admin-form__control">
                        <mat-form-field>
                            <mat-select formControlName="Entity"
                                        placeholder=" {{'SELFASSESSEMENT.entity' | translate}}" >
                                        <mat-option [value]="" disabled>{{'SELFASSESSEMENT.selectEntity' | translate}}</mat-option>
                                        <mat-tree [dataSource]="treeSource" [treeControl]="treeControl">
                                                <!-- This is the tree node template for leaf nodes -->
                                                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                                                    <!-- use a disabled button to provide padding for tree leaf -->
                                                    <button mat-icon-button disabled></button>
                                                    <mat-option [value]="node.entity._id">
                                                        <a class='entity'>{{node.name}}</a>
                                                    </mat-option>
                                                </mat-tree-node>
                                                <!-- This is the tree node template for expandable nodes -->
                                                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                                                    <button mat-icon-button matTreeNodeToggle
                                                            [attr.aria-label]="'toggle ' + node.name">
                                                        <mat-icon class="mat-icon-rtl-mirror">
                                                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                                        </mat-icon>
                                                    </button>

                                                    <mat-option [value]="node.entity._id">
                                                        <a class='entity'>{{node.name}}</a>
                                                    </mat-option>

                                                </mat-tree-node>
                                            </mat-tree>
                                <!-- <mat-option [value]="" disabled>Select Entity</mat-option>
                                <mat-option *ngFor="let entity of entityList"
                                            [disabled]="(_userService.currentUser.Entity.indexOf(entity.id) === -1) && (_userService.currentUser.Role == 1)"
                                            [value]="entity.id">
                                    {{entity.Code}}
                                </mat-option> -->
                            </mat-select>

                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 col-md-4 col-xl-4 MT10">
                <button type="submit" mat-raised-button color="primary">
                        {{'SELFASSESSEMENT.create' | translate}}
                </button>
            </div>

        </div>
    </form>
</div>

<div *ngIf="isAssessmentForm && assessment.Score" class="cont">
    <!-- <div style="display: flex;flex-flow: column;" class="col-sm-12 col-md-12 col-xl-12"> -->
    <div *ngIf="assessment.Score.axes && pourcentages && pourcentages.axes != null">
        <div style="height:50px;display:flex;flex-direction:row;">
            <div class="col-sm-6 col-md-6 col-xl-6 PL0">
                <h2>
                    <a class="back-self-assessment" (click)="onBack()"><i class="material-icons">keyboard_arrow_left</i></a>
                    {{'SELFASSESSEMENT.selfAssessment' | translate}} : {{assessment.Code || assessment._id.substring(17)}}</h2>
            </div>
            <div class="col-sm-2 col-md-2 col-xl-2 text-center">
                <span class="completed">{{pourcentages.assessment || 0}} % {{'SELFASSESSEMENT.completed' | translate}} </span>
            </div>
            <div class="col-sm-4 col-md-4 col-xl-4 PR0 text-right score">
                <b>{{'SELFASSESSEMENT.score' | translate}} / {{'SELFASSESSEMENT.goal' | translate}} : </b> <span>{{assessment.Score.score}} / {{assessment.Goal}}</span>
                <!-- <div class="score" style="flex:1">
                    <b>Score : </b> <span>{{assessment.Score.score}}</span>
                </div>
                <div class="score" style="flex:1">
                    <b>Goal : </b> <span>{{assessment.Goal}}</span>
                </div> -->

            </div>
        </div>
        <div class="self-assessment-container">
            <mat-tab-group style="padding:10px 5px;" (selectedTabChange)="tabChanged($event)">
                <mat-tab *ngFor="let axis of assessment.Axes;let i = index">
                    <ng-template mat-tab-label>
                        <div class="tab-label-container"
                             [ngClass]="{'finished':pourcentages.axes[i] === 100,'tabActive':i === selectedElement.axe}">
                            <div class="tab-label-row">
                                <div class="tab-label-col">
                                    {{axis.Description}}
                                </div>
                            </div>
                            <div class="tab-label-row" style="padding:0">
                                <div class="tab-label-col" style="text-align: start;padding-right: 10px;">
                                    {{pourcentages.axes[i] || 0}} %
                                </div>
                                <div class="tab-label-col" style="text-align: end;padding-left: 10px;">
                                    Score: {{assessment.Score.axes[i].score}}
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <!-- <div class="row element-list"> -->

                    <div class="element-list" [ngClass]="{'collapsed' : _configService.isCollapseMenu}">
                        <!-- <div class="col-sm-2 col-md-2 col-xl-2"> -->
                        <div class="side">
                            <ul>
                                <li class="side__list" *ngFor="let element of axis.Elements; let j = index;">
                                        <div>
                                            <!-- <a *ngIf="assessment.Score.axes[i].elements[j].score >= element.AttachementControl
                                                    && (element.Attachment.length==0 || !element.Attachment)"
                                                style="color: #f01020;font-style: italic;padding: 0 5px 10px;top:0; cursor:default">
                                                {{'SELFASSESSEMENT.attachment' | translate}} </a> -->
                                           
                                        </div>
                                    <a [ngClass]="{'active' : j == selectedElement.index}"
                                       (click)="selectElement(i,element,j)"
                                       matRipple [matRippleColor]="color">
                                       <button mat-icon-button style="position: absolute;top: 0px;
                                       right: 0px;
                                       background-color: transparent;
                                       border: none;
                                       color: rgb(102, 179, 102)"
                                       [ngStyle]="{'display':(element.Goal >= assessment.Score.axes[i].elements[j].score && assessment.Score.axes[i].elements[j].score >= element.AttachementControl
                                       ) ?  'inline-block' : 'none' }"
                                       [className]="(assessment.Score.axes[i].elements[j].score >= element.AttachementControl
                                       && (element.Attachment.length==0 || !element.Attachment )) ? 'animateAttach' : '' "
                                       >
                                            <a class="file-attach" style="border:none;    padding: 0px !important;"
                                                (click)="openAttach('element')">
                                                <i 
                                                    matBadgeColor="primary" matBadgeSize="medium"
                                                    style="font-size : 26px;"
                                                    class="material-icons">attach_file</i>
                                            </a>
                                        </button> 
                                        <button [ngStyle]="{'display':(element.Goal >= assessment.Score.axes[i].elements[j].score && assessment.Score.axes[i].elements[j].score >= element.AttachementControl) ?  'inline-block' : 'none' }" mat-icon-button style=" position: absolute;
                                        top: -5px;
                                        left: 0px;
                                        background-color: transparent;
                                        border: none;
                                        width: 25px;"
                                    
                                        >
                                        <img src="assets/images/badge.png" alt="">
                                         </button> 
                                        {{element.Description}}
                                        <br>
                                        <i class="side__list__icon">
                                            <i class="material-icons" *ngFor='let in of [1,2,3,4,5];let k = index'  [ngStyle]="{'color':(assessment.Score.axes[i].elements[j].score>=k+1 && element.Goal >= assessment.Score.axes[i].elements[j].score && assessment.Score.axes[i].elements[j].score > 0 ) ? 'rgb(37, 107, 194)' : '#a2a2a2' }">
                                                star
                                            </i>
                                        </i>
                                    </a>
                                   
                                </li>
                            </ul>
                        </div>
                        <!-- <div class="col-sm-10 col-md-10 col-xl-10" style="left:0;right:0;top:0;bottom:0;" > -->
                        <div class="content">
                            <div *ngFor="let element of axis.Elements; let j = index;">
                                <div style=" margin-bottom: 20px;" *ngIf="j === selectedElement.index">
                                    <mat-accordion style="margin: 5px 0;">
                                        <mat-expansion-panel expanded >
                                            <mat-expansion-panel-header>
                                                <mat-panel-title >
                                                 {{element.Description}}
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="score-goal-tab">
                                                <button [ngClass]="{'active' : isScore}" class="score-goal-tab__btn" style="margin: 8px;"
                                                        (click)="isScore = true" type="button" mat-raised-button>{{'SELFASSESSEMENT.score' | translate}}
                                                </button>
                                                <button [ngClass]="{'active' : !isScore}" class="score-goal-tab__btn" style="margin: 8px;"
                                                        (click)="isScore = false" type="button" mat-raised-button>{{'SELFASSESSEMENT.goal' | translate}}
                                                </button>
                                                <div>
                                                   
                                                    <div style="display:flex; padding-left: 8px; padding-right: 15px;">
                                                        <div *ngFor="let score of element.Scores"
                                                             class="checkbox-selection">
                                                            <div [ngClass]="{
                                                                'active' : score.Selected,
                                                                'disable-div':!isScore && assessment.Score.axes[i].elements[j].score > score.Note && element.Goal!==score.Note,
                                                                'green-border' : !(assessment.Score.axes[i].elements[j].score > score.Note) && element.Goal===score.Note
                                                                }"
                                                                 (click)="onClickScore(i,j,element,score)" style="max-height: 320px;overflow: auto;">
                                                                <span>{{score.Note}}</span>
                                                                <a
                                                                    (click)="onReadMore($event,score)" class="read-more">
                                                                    <mat-icon>more_horiz</mat-icon>
                                                                </a>
                                                                <div *ngFor="let description of score.Description;let desrptionIndex=index">
                                                                    <p [ngStyle]="{color:colorList[desrptionIndex]}">
                                                                        {{description | limitTo: maximumTextLength}}
                                                                    </p>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>

                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                                             (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    Actions
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>

                                            <div class="text-right MB20">
                                                <button (click)="saveActionsAndEmail()" mat-raised-button color="primary">{{'SELFASSESSEMENT.submit' | translate}}
                                                    </button>
                                                <!-- <button (click)="saveActions()" class="ML20" mat-raised-button color="primary">{{'SELFASSESSEMENT.save' | translate}}
                                                </button> -->
                                                <button (click)="addAction(i,j)" class="ML20" mat-raised-button
                                                        color="primary">{{'SELFASSESSEMENT.newaction' | translate}}
                                                </button>
                                            </div>

                                            <table class="action-table" mat-table [dataSource]="dataSource">

                                                <ng-container matColumnDef="Position">
                                                    <th mat-header-cell *matHeaderCellDef width="4%" style="padding-left:5px">No.</th>
                                                    <td mat-cell style="padding-left:5px"
                                                        *matCellDef="let element; let i = index"> {{i + 1}}</td>
                                                </ng-container>

                                                <ng-container matColumnDef="Description">
                                                    <th mat-header-cell *matHeaderCellDef width="14%"> Description</th>
                                                    <td mat-cell class="textarea-action" *matCellDef="let element">
                                                        <textarea matInput (change)="saveActions()"
                                                            [(ngModel)]="element.Description"></textarea>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="CreatedBy">
                                                    <th mat-header-cell *matHeaderCellDef width="0"></th>
                                                    <td mat-cell *matCellDef="let element" class="input-field">
                                                        <!-- <mat-form-field>
                                                            <mat-select disabled [(ngModel)]="element.CreatedBy">
                                                                <mat-option *ngFor="let user of allUsers"
                                                                            [value]="user._id">
                                                                    {{user.Name}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field> -->
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Who">
                                                    <th mat-header-cell *matHeaderCellDef width="10%"> {{'SELFASSESSEMENT.personincharge' | translate}}
                                                    </th>
                                                    <td mat-cell *matCellDef="let element" class="input-field">
                                                        <mat-form-field>
                                                            <mat-select [(ngModel)]="element.Who" (selectionChange)="saveActions()">
                                                                <mat-option *ngFor="let user of users"
                                                                            [value]="user._id">
                                                                    {{user.Name}}
                                                                </mat-option>
                                                                <mat-option value="Mail" >
                                                                   E-Mail
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                        <mat-form-field *ngIf="element.Who === 'Mail'">
                                                            <input (change)="saveActions()" [(ngModel)]="element.WhoMail" type="mail" matInput placeholder="E-mail">
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="DueDate">
                                                    <th mat-header-cell *matHeaderCellDef width="14%"> {{'SELFASSESSEMENT.duedate' | translate}}</th>
                                                    <td mat-cell *matCellDef="let element" class="input-field">
                                                        <mat-form-field>
                                                            <input matInput (dateChange)="saveActions()" [(ngModel)]="element.DueDate"
                                                                   [matDatepicker]="picker" placeholder="{{'SELFASSESSEMENT.chooseadate' | translate}}">
                                                            <mat-datepicker-toggle matSuffix (change)="saveActions()"
                                                                                   [for]="picker"></mat-datepicker-toggle>
                                                            <mat-datepicker #picker></mat-datepicker>
                                                        </mat-form-field>
                                                        <!-- <mat-form-field>
                                                            <input type="text"
                                                                    autocomplete="off"
                                                                    matInput
                                                                    value="This year (By march)"/>
                                                        </mat-form-field> -->
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Status">
                                                    <th mat-header-cell *matHeaderCellDef width="14%"> {{'SELFASSESSEMENT.status' | translate}}</th>
                                                    <td mat-cell *matCellDef="let element" class="textarea-action">
                                                        <mat-form-field [floatLabel]="'never'">
                                                            <mat-select placeholder="Select Status" (selectionChange)="saveActions()"
                                                                        [(ngModel)]="element.Status">
                                                                <mat-option value="In Progress">{{'SELFASSESSEMENT.inprogress' | translate}}</mat-option>
                                                                <mat-option value="Finished">{{'SELFASSESSEMENT.finished' | translate}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Comment">
                                                    <th mat-header-cell *matHeaderCellDef width="28%"> {{'SELFASSESSEMENT.comment' | translate}}</th>
                                                    <td mat-cell class="textarea-action" *matCellDef="let element">
                                                        <textarea matInput (change)="saveActions()" [(ngModel)]="element.Comment"></textarea>
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Attachment">
                                                    <th mat-header-cell *matHeaderCellDef width="8%">{{'SELFASSESSEMENT.attachement' | translate}} </th>
                                                    <td mat-cell *matCellDef="let element;let k = index"
                                                        style="text-align:center">
                                                        <button mat-icon-button>
                                                            <a class="file-attach" (click)="openAttach('action',k)">
                                                                <i class="material-icons"
                                                                   matBadgeColor="primary">attach_file</i>
                                                            </a>
                                                        </button>
                                                        <!-- <input id="attachment"
                                                                (change)="onFileGetName($event)"
                                                                type="file" hidden/> -->
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="Action">
                                                    <th mat-header-cell *matHeaderCellDef width="8%"></th>
                                                    <td mat-cell *matCellDef="let element;let k = index"
                                                        style="text-align:center">
                                                        <button mat-icon-button (click)="deleteAction(k)">
                                                            <a class="file-attach">
                                                                <i class="material-icons">delete</i>
                                                            </a>
                                                        </button>
                                                        <!-- <input id="attachment"
                                                                (change)="onFileGetName($event)"
                                                                type="file" hidden/> -->
                                                    </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>

                                        </mat-expansion-panel>

                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                                             (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    {{'SELFASSESSEMENT.comment' | translate}}s
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="comment-section">
                                                <div class="col-sm-12 col-md-12 col-xl-12 text-right">
                                                    <button (click)="save(i,j)" class="ML20 MB10" type="button"
                                                            mat-raised-button color="primary">
                                                            {{'SELFASSESSEMENT.validate' | translate}}
                                                    </button>
                                                </div>
                                                <mat-form-field>
                                                    <textarea matInput rows="6"
                                                        placeholder="{{'SELFASSESSEMENT.comment' | translate}}"
                                                        [(ngModel)]="element.Comment"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>

<div *ngIf="isAttach" class="modal" style="width:50%;height:50%;left:25%;top:25%;">
    <p>{{'SELFASSESSEMENT.attachfile' | translate}}</p>
    <div class="table">
        <table class="action-table" mat-table [dataSource]="attachments">
            <ng-container matColumnDef="Position">
                <th mat-header-cell *matHeaderCellDef width="10%"> No.</th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}</td>
            </ng-container>
            <ng-container matColumnDef="Type">
                <th mat-header-cell *matHeaderCellDef width="20%"> Type</th>
                <td mat-cell *matCellDef="let element"> {{element.Type}}</td>
            </ng-container>
            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef width="25%"> {{'SELFASSESSEMENT.Filename' | translate}}</th>
                <td mat-cell *matCellDef="let element"> {{element.Name}}</td>
            </ng-container>
            <ng-container matColumnDef="Description">
                <th mat-header-cell *matHeaderCellDef width="25%"> Description</th>
                <td mat-cell *matCellDef="let element" class="input-field">
                    <textarea style="border: 1px solid #bbbbbb;margin: 3px;border-radius: 5px;"
                    matInput (change)="updateAttachments()" [(ngModel)]="element.Description"></textarea>
                </td>
            </ng-container>
            <ng-container matColumnDef="Download">
                <th mat-header-cell *matHeaderCellDef width="10%"></th>
                <td mat-cell *matCellDef="let element; let k = index">
                    <button mat-icon-button (click)="downloadAttachment(element,k)">
                        <a class="fas fa-file-download fa-lg"></a>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef width="10%"></th>
                <td mat-cell *matCellDef="let element; let k = index">
                    <button mat-icon-button (click)="deleteAttachment(element,k)">
                        <a class="fas fa-trash-alt fa-lg"></a>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayAttachmentsColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayAttachmentsColumns;"></tr>
            <div *ngIf="attachments.data.length == 0" style="font-size:14px;padding: 10px;color:#242323;">{{'SELFASSESSEMENT.NoAttachments' | translate}}.
            </div>
        </table>    
    </div>
    <div *ngIf="isLoading" style="height:100%;width:100%;position:absolute;top:0;left:0;">
        <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
        </div>
    </div>

    <div style="bottom:0;position: absolute; margin-bottom: 10px;margin-right:10px;text-align: right;right:0;">
        <button
                *ngIf="actionIndex == null"
                type="button" (click)="onFileSelect('attachmentSelf')"
                mat-raised-button color="primary">
            Upload Document
        </button>
        <button *ngIf="actionIndex != null"
                type="button" (click)="onFileSelect('attachmentAct')"
                mat-raised-button color="primary">
            Upload Document
        </button>
        <input id="attachmentSelf" multiple="false" (change)="onFileGetName($event,'element')" type="file" hidden/>
        <input id="attachmentAct" multiple="false" (change)="onFileGetName($event,'action')" type="file" hidden/>
        <button type="button" (click)="isAttach = false;" mat-raised-button>{{'SELFASSESSEMENT.Close' | translate}}</button>
    </div>
</div>

<div (click)="isAttach = false" *ngIf="isAttach" class="modal-layer"></div>

<!--Read more modal-->
<div *ngIf="readMoreDescription"  class="modal description-modal">
    <h3>Score {{readMoreDescription.Note}} Description</h3>

    <p *ngFor="let readmore of readMoreDescription.Description;let i = index" [ngStyle]="{color:colorList[i]}">
        {{readmore}}
    </p>



    <div>
        <button type="button" (click)="readMoreDescription = null" mat-raised-button>{{'SELFASSESSEMENT.Close' | translate}}</button>
    </div>
</div>

<div (click)="readMoreDescription = null" *ngIf="readMoreDescription" class="modal-layer"></div>

<!--Attachment alert modal-->
<div *ngIf="isBestInClass"  class="modal description-modal">
        <h3>Vous êtes 'Best in Class'</h3>
    
        <p>{{attachmentAlertText}}</p>

        <div>
            <button type="button" (click)="isBestInClass = false" mat-raised-button>{{'SELFASSESSEMENT.validate' | translate}}</button>
        </div>
    </div>
    
    <div (click)="isBestInClass = false" *ngIf="isBestInClass" class="modal-layer"></div>
