<form id        =  "uploadExcel"
     enctype   =  "multipart/form-data"
     action    =  "/axes/Axe_upload"
     method    =  "post"
>
<input type="file" name="axeExcel" />
<input type="submit" value="Upload Excel file" name="submit">
</form>