th {
  background-color: #3f5161 !important;
  border-color: inherit;
  text-align: center;
  color: white !important;
  vertical-align: top;
  font-weight: bold !important;
}
tr td:first-of-type {
  width: !important;
  background-color: #3f516196;
  width: 28%;
  color: white;
  font-weight: bold;
  padding: 10px !important;
}
td.tg-0lax {
  background-color: white;
  font-weight: bold;
}
