<h1>Définition des élèments</h1>
<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
  .tg .tg-gdc4{background-color:#96fffb;border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  .tg .tg-j6lv{background-color:#96fffb;text-align:center;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-gdc4" colspan="2">Axe 01-Orgnisation et R&amp;R qualité</th>
  </tr>
  <tr>
    <td class="tg-0lax">E01-01 Mission&nbsp;qualité (Role&amp;responsabilité).</td>
    <td class="tg-0lax">Les cadres et les responsables des différentes&nbsp;mission de la qualité des produits .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E01-02 Libération&nbsp;des produits (Role&amp;Responsabilité).</td>
    <td class="tg-0lax">Les rôles et les responsabilités pour la libération&nbsp;des produits.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E01-03 Admin.&nbsp;Système qualité .</td>
    <td class="tg-0lax">La responsabilité de l'administrateur du système de&nbsp;la qualité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E01-04&nbsp;Transformation digitale de la qualité.</td>
    <td class="tg-0lax">La maturité des missions de la qualité en terme de&nbsp;digitalisation.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E01-05&nbsp;Communication de la qualité.</td>
    <td class="tg-0lax">La maturité du canal de la communication de la&nbsp;qualité .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E01-06 R&amp;R de&nbsp;la traçabilité qualité .</td>
    <td class="tg-0lax">Les R&amp;Rs &nbsp;de la traçabilité qualité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E01-07 Comité&nbsp;Qualité.</td>
    <td class="tg-0lax">La maturité du comité qualité (porter les résultats&nbsp;en matière de qualité, impliquer l'ensemble dans l'amélioration…) .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E01-08 Comité&nbsp;veille règlementaire.</td>
    <td class="tg-0lax">La maturité du comité de la veille réglementaire au&nbsp;sein du groupe.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 02: Voix du  client.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E02-01 Canal de&nbsp;communication Client-Fournisseur.</td>
    <td class="tg-0lax">Disposer des &nbsp;supports, moyens et méthodes de communication entre client et&nbsp;fournisseur internes et externes.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-02 Dossier&nbsp;Client.</td>
    <td class="tg-0lax">Disposer d'une banque de donnée contenant toutes&nbsp;les  informations nécessaires et&nbsp;relatives  aux clients.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-03 Déclinaison&nbsp;des exigences du client.</td>
    <td class="tg-0lax">Mettre en place un processus pour partager les&nbsp;exigences clients avec toutes les parties prenantes.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-04 Processus de&nbsp;la gestion des réclamations.</td>
    <td class="tg-0lax">Mettre en place un processus de gestion des&nbsp;réclamations clients (internes et externes).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-05 Anticipation&nbsp;du besoin du client.</td>
    <td class="tg-0lax">Réaliser en permanence une  veille basée sur l'écoute client, connaitre&nbsp;ses  besoins  et ses difficultés et agir en conséquence&nbsp;(adaptation produit, traitement rapide des demandes client…).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-06 Enquête de&nbsp;la satisfaction des clients.</td>
    <td class="tg-0lax">Adresser selon une périodicité donnée, une enquête&nbsp;aux clients pour mesurer leur satisfaction par rapport aux exigences&nbsp;contractuelles.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-07 Orientation&nbsp;et conseil technique.</td>
    <td class="tg-0lax">S'assurer d'une bonne gestion des relations clients&nbsp;( profils techniques dans les équipes commerciales).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-08&nbsp;Développement des nouveaux produits.</td>
    <td class="tg-0lax">Avoir un processus d'élaboration et de création de&nbsp;nouvelles qualités produits sur mesure des demandes clients.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-09 Charte&nbsp;qualité interne.</td>
    <td class="tg-0lax">Disposer d'une charte qualité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-10 Veille&nbsp;concurrentielle.</td>
    <td class="tg-0lax">Réaliser en permanence une veille sur&nbsp;l'environnement commercial et techniques des acteurs industriels et des&nbsp;nouveaux entrants dans le secteur d'activité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-11 Ecoute du&nbsp;marché.</td>
    <td class="tg-0lax">Suivre en continu les tendances de l'offre et la&nbsp;demande.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-12 KPI’s voix&nbsp;du client.</td>
    <td class="tg-0lax">Mettre en place &nbsp;des indicateurs de performance de l'activité commerciale.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-13 La proximité&nbsp;client.</td>
    <td class="tg-0lax">Disposer d'un processus de gestion des clients.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-14 Référentiel&nbsp;des produits.</td>
    <td class="tg-0lax">Disposer d'une banque de données contenant les&nbsp;informations relatives au produit (exigences chimiques et physiques,&nbsp;packaging et Labelling, .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-15 Segmentation&nbsp;des exigences des clients.</td>
    <td class="tg-0lax">Disposer d'un processus de catégorisation des&nbsp;exigences des clients ( par degré de criticité…).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-16 Veille&nbsp;règlementaire.</td>
    <td class="tg-0lax">Réaliser en permanence un veille sur les&nbsp;règlementations nationales et internationales.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-17 Revue de la&nbsp;voix du client.</td>
    <td class="tg-0lax">Suivre les améliorations lancées pour satisfaire les&nbsp;attentes des clients.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E02-18 Services&nbsp;client.</td>
    <td class="tg-0lax">Disposer d'un processus de gestion des services&nbsp;clients.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe  03-Developpement des Capabilités.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E03-01 Référentiel&nbsp;de compétences .</td>
    <td class="tg-0lax">Répertoire des compétences des différents métiers.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E03-02 Matrice de&nbsp;compétences.</td>
    <td class="tg-0lax">Référentiel des niveaux de compétences des métiers&nbsp;OCP.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E03-03 Plan de&nbsp;formation.</td>
    <td class="tg-0lax">Les formations et les stages de formation dont&nbsp;peuvent bénéficier les collaborateurs.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E03-04 Evaluation&nbsp;des compétences.</td>
    <td class="tg-0lax">Les évaluations de compétences des collaborateurs.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E03-05 Fiche de&nbsp;poste.</td>
    <td class="tg-0lax">Description de chaque poste et métier.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E03-06&nbsp;Développement de carrière.</td>
    <td class="tg-0lax">Le plan de développement de carrières .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E03-07&nbsp;Développement d'expertise.</td>
    <td class="tg-0lax">Le plan de développement des experts.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E03-08&nbsp;Qualification des formateurs.</td>
    <td class="tg-0lax">référentiel de compétence des formateurs.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 04: Maitrise  documentaire.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E04-01 Rédaction de&nbsp;documents.</td>
    <td class="tg-0lax">Edition et traitement des informations&nbsp;documentaires .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E04-02 La revue et&nbsp;la mise à jour des documents.</td>
    <td class="tg-0lax">Revue et mise à jour des informations documentaires&nbsp;obsolètes par des nouvelles versions (fréquence de revue, comité concerné,..).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E04-03 Approbation&nbsp;des documents.</td>
    <td class="tg-0lax">Validation et accord des informations contenues  dans les documents .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E04-04 Maitrise&nbsp;d'accessibilité.</td>
    <td class="tg-0lax">Connaitre les limites d'accès à chaque document&nbsp;(pour maitriser la confidentialité de l'information).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E04-05 Maitrise&nbsp;d'archivage.</td>
    <td class="tg-0lax">Connaitre les documents concernés par l'archivage et&nbsp;le stockage .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E04-06  Maitrise d'enregistrement.</td>
    <td class="tg-0lax">Connaitre le processus d'enregistrement des&nbsp;informations documentaires.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E04-07  Veille documentaire.</td>
    <td class="tg-0lax">Surveillance active et continue des nouveaux&nbsp;documents (technologique, juridique, règlementaire,..) .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E04-08 Maitrise de&nbsp;destruction des documents .</td>
    <td class="tg-0lax">Connaitre le processus de destruction des&nbsp;informations documentaires qui ne sont plus utiles .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E04-09 Maitrise des&nbsp;documents externes.</td>
    <td class="tg-0lax">Connaitre et évaluer l'utilité des informations&nbsp;documentaires reçues .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E04-10 Bibliothèque&nbsp;documentaire.</td>
    <td class="tg-0lax">Processus de gestion des documents qui sont à notre&nbsp;possession .</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 05: Veille et  Benchmark.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E05-01 Comité&nbsp;veille concurrentielle.</td>
    <td class="tg-0lax">Comité de surveillance active et continue de&nbsp;l'environnement des acteurs et des nouveaux entrants .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-02 Dossier&nbsp;concurrents.</td>
    <td class="tg-0lax">Avoir un dossier pour chaque concurrent contenant&nbsp;les informations utiles (sa part dans le marché, process utilisé et les&nbsp;produits vendus ).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-03 Plan&nbsp;d’action de la veille concurrentielle.</td>
    <td class="tg-0lax">Définir la stratégie à adopter pour l'amélioration (&nbsp;plan d'action issu des recommandations du comité veille concurrence ).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-04 Données de&nbsp;la veille concurrentielle.</td>
    <td class="tg-0lax">Organisation et analyse des données de la veille&nbsp;concurrentielle collectées .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-05 Comité&nbsp;veille règlementaire.</td>
    <td class="tg-0lax">Comité de surveillance  et d'anticipation des réglementations&nbsp;nationales ou internationales susceptibles d'avoir une influence sur les&nbsp;activités ou la stratégie de l'entreprise..</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-06 Les canaux&nbsp;de veille réglementaire.</td>
    <td class="tg-0lax">Prospecter des sources fiables des données de veille&nbsp;règlementaire .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-07 Recueil des&nbsp;règlementations.</td>
    <td class="tg-0lax">Collecte des dernières versions des textes&nbsp;règlementaires et comparaison avec les versions obsolètes.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">E05-08 Exploitation  et transposition des données règlementaires par rapport à nos produits.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E05-09 Adaptation&nbsp;et Mise en conformité par rapport à la règlementation .</td>
    <td class="tg-0lax">Synthèse de comparaison entre les nouvelles&nbsp;réglementations et le catalogue produits.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-10 Plan&nbsp;d'amélioration de la conformité aux exigences réglementaires.</td>
    <td class="tg-0lax">Adaptation et mise en conformité par rapport à la&nbsp;règlementation ( suivi de la mise à conformité sur la chaine de valeur).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-11 Comité&nbsp;veille technologique .</td>
    <td class="tg-0lax">Envisager un plan d'action pour amélioration de la&nbsp;conformité vis-à-vis les exigences règlementaire .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-12 Implication&nbsp;académique dans les recherches technologiques (Université).</td>
    <td class="tg-0lax">Comité de surveillance active et continue des&nbsp;innovations technologique dans notre secteur.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-13 Implication&nbsp;dans les forums technologiques.</td>
    <td class="tg-0lax">Implication de l'université dans les recherches&nbsp;technologiques concernant le secteur .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-14 Revue&nbsp;Produits (Veille Marché).</td>
    <td class="tg-0lax">Implication dans les forums et les événements&nbsp;technologiques concernant le secteur .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-15 Prospection&nbsp;des nouveaux marchés.</td>
    <td class="tg-0lax">Revues continue des produits et de ces dérivés .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-16 Comité&nbsp;benchmark externe.</td>
    <td class="tg-0lax"> La recherche&nbsp;de nouveaux prospects pour en faire des clients potentiels.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-17 Comité&nbsp;benchmark interne.</td>
    <td class="tg-0lax">Comité d'analyse &nbsp;des techniques de gestion, les modes d'organisation des autres&nbsp;entreprises  pour mener des&nbsp;comparaisons rapprochées .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-18 Processus de&nbsp;benchmark.</td>
    <td class="tg-0lax">Echange et standardisation des bonnes pratiques&nbsp;entre les sites et les usines de même activité .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-19 Recueil des&nbsp;bonnes pratiques.</td>
    <td class="tg-0lax">Procédure à adopter pour la réalisation du&nbsp;benchmark .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-20 KPI's&nbsp;Benchmark.</td>
    <td class="tg-0lax">Collecte, partage et application des bonnes&nbsp;pratiques .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E05-21 La propriété&nbsp;intellectuelle (Protection, brevet).</td>
    <td class="tg-0lax">identifier et évaluer les KPI's décrivant la&nbsp;performance du benchmark .</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 06: Dossiers  produits.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E06-01 Fiche&nbsp;produits fini.</td>
    <td class="tg-0lax">Le processus de création d'une fiche d'un produit&nbsp;fini .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-02 Fiche de&nbsp;données de sécurité du produit fini.</td>
    <td class="tg-0lax">Le processus de création et de gestion des données&nbsp;de sécurité d'un produit fini  .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-03 VSM&nbsp;processus de transformation.</td>
    <td class="tg-0lax">VSM des étapes Process et flux d'un produit.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-04 SIPOC.</td>
    <td class="tg-0lax">Les élément et le diagramme SIPOC (supplier input&nbsp;process output Customer).</td>
  </tr>
  <tr>
    <td class="tg-0lax">  E06-041 Fournisseurs.</td>
    <td class="tg-0lax">fournisseurs internes et externes du SIPOC  et son utilisation comme référence pour&nbsp;leur évaluation.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-042 Input.</td>
    <td class="tg-0lax">Les inputs du diagramme SIPOC (supplier input&nbsp;process output Customer).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-043 Processus de&nbsp;transformation.</td>
    <td class="tg-0lax">Le processus de transformation d'un produit.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-044 Output.</td>
    <td class="tg-0lax">Les outputs du diagramme SIPOC (supplier input&nbsp;process output Customer).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-045 Clients.</td>
    <td class="tg-0lax">Les clients du SIPOC &nbsp;et son utilisation comme référence pour l'évaluation de la&nbsp;conformité .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-05 Fiches&nbsp;produits matières premières et produits auxiliaires (FST).</td>
    <td class="tg-0lax">Le processus de création d'une nouvelle fiche&nbsp;produit MP et PA.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-06 FDS Matières&nbsp;premières et produits auxiliaires.</td>
    <td class="tg-0lax">Le processus de création d'une nouvelle FDS MP et MA.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-07 Cartographie&nbsp;d'échantillonnage.</td>
    <td class="tg-0lax">La formalisation et la validation des cartographies&nbsp;d'échantillonnage et la matrice d'échantillonnage (contiennent les points&nbsp;d'échantillonnage, la fréquence, les analyses, le temps .... ).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-08 Fiches&nbsp;d'échantillonnage &nbsp;&nbsp;(Méthode et technique d'échantillonnage et de quartage).</td>
    <td class="tg-0lax">Le processus de création d'une nouvelle fiche&nbsp;d'échantillonnage son accessibilité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-09 Mode&nbsp;opératoire d'échantillonnage.</td>
    <td class="tg-0lax">Les modes opératoires d'échantillonnage et leur taux&nbsp;d'accessibilité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-10 Plan de&nbsp;contrôle qualité.</td>
    <td class="tg-0lax">La formalisation, l'accessibilité et l'amélioration&nbsp;des éléments des plans de contrôle ( Les caractéristiques , les exigences&nbsp;,les critères d'acceptation, les références du plan d'échantillonnage, la&nbsp;réaction en cas de non-conformité ……) .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-11 Procédures&nbsp;de fonctionnement.</td>
    <td class="tg-0lax">La validation, le déploiement, l'accessibilité et&nbsp;l'amélioration des éléments de procédures de fonctionnement des procédés&nbsp;(L'objectif , le domaine d'application ,les responsabilités et un descriptif&nbsp;ou logigramme de fonctionnement...... ).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-111 Mode normale.</td>
    <td class="tg-0lax">La validation, le déploiement, l'accessibilité et&nbsp;l'amélioration des modes normaux.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-112 Mode dégradé.</td>
    <td class="tg-0lax">La validation, le déploiement, l'accessibilité et&nbsp;l'amélioration des modes dégradés.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-113 Cas de dérogation&nbsp;particulière.</td>
    <td class="tg-0lax">La formalisation, l'accessibilité et l'amélioration&nbsp;des cas de dérogation particulière et leur intégration dans les procédures de&nbsp;fonctionnement.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-12 Liste des&nbsp;paramètre clés .</td>
    <td class="tg-0lax">La formalisation, l'identification, l'accessibilité&nbsp;et l'amélioration des paramètres clés.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-13 Diagramme de&nbsp;pilotage (cause à effet).</td>
    <td class="tg-0lax">La formalisation, l'accessibilité et l'amélioration&nbsp;des diagrammes de pilotage.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-14 Dossier&nbsp;qualification Process.</td>
    <td class="tg-0lax">La formalisation, l'accessibilité et l'amélioration&nbsp;du dossier Qualification Process.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-15 Revue&nbsp;performance qualité produit.</td>
    <td class="tg-0lax">La formalisation, le déploiement, l'accessibilité et&nbsp;l'amélioration Revue performance qualité produit.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E06-16 AMDEC&nbsp;Process.</td>
    <td class="tg-0lax">Le déploiement, l'accessibilité et l'amélioration de&nbsp;l'AMDEC Process.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 07: Analyses  &amp; libération.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E07-01 Fiches&nbsp;d'échantillonnage produit fini / Semi fini.</td>
    <td class="tg-0lax">Processus de création et le contrôle des fiches&nbsp;illustrant l'échantillonnage d'un produit fini /semi fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-02 Fiches&nbsp;d'échantillonnage des matières premières/auxiliaires.</td>
    <td class="tg-0lax">Processus de création et le contrôle des fiches&nbsp;illustrant l'échantillonnage d'une matière première/auxiliaire.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-03 Modes&nbsp;opératoires d'échantillonnage du produit fini / Semi fini.</td>
    <td class="tg-0lax">Contrôle des modes opératoires d'échantillonnage&nbsp;d'un produit fini / semi fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-04 Modes&nbsp;opératoires d'échantillonnage des matière première/auxiliaires.</td>
    <td class="tg-0lax">Contrôle des modes opératoires d'échantillonnage des&nbsp;matières premières/auxiliaires.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-05 Modes&nbsp;opératoires quartage du produit du fini / semi fini.</td>
    <td class="tg-0lax">Contrôle et diffusion des modes opératoires du&nbsp;quartage d'un produit fini / semi fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-06 Modes&nbsp;opératoires quartage  des matières&nbsp;premières/auxiliaires.</td>
    <td class="tg-0lax">Contrôle et diffusion des modes opératoires du&nbsp;quartage de la matière première/auxiliaire.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-07 Gestion des&nbsp;échantillons.</td>
    <td class="tg-0lax">Le processus de conditionnement et la gestion des&nbsp;échantillons.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-08 Méthodes&nbsp;d'analyses de la matière première/ auxiliaire.</td>
    <td class="tg-0lax">Processus de création et le contrôle des méthodes&nbsp;d'analyses de la matière première/auxiliaire.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-09 Méthodes&nbsp;d'analyses du produit fini / semi fini.</td>
    <td class="tg-0lax">Processus de création et le contrôle des méthodes&nbsp;d'analyses d'un produit fini/semi fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-10&nbsp;Enregistrement et suivi des résultats d'analyse.</td>
    <td class="tg-0lax">L'enregistrement, suivi et l'accessibilité aux&nbsp;résultats d'analyses.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-11 Traçabilité&nbsp;des données de la qualité (PF, en cours de production, MP/MA).</td>
    <td class="tg-0lax">Processus d'analyse la traçabilité des données&nbsp;qualité des produits finis, produits en cours de production, MP/MA.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-12 Analyse de&nbsp;la traçabilité des données de la qualité.</td>
    <td class="tg-0lax">Planning et déploiement de la traçabilité des&nbsp;données qualité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-13 Rituel revue&nbsp;de la traçabilité des données de la qualité.</td>
    <td class="tg-0lax">Planning et déploiement de la traçabilité des&nbsp;données qualité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-14 Repporting&nbsp;de la traçabilité des données de la qualité.</td>
    <td class="tg-0lax">Processus de Repporting traçabilité des données&nbsp;qualité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-15 Libération&nbsp;du produit fini.</td>
    <td class="tg-0lax">Processus de libération du produit fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-16 Libération&nbsp;du semi fini.</td>
    <td class="tg-0lax">Processus de libération du produit semi fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-17 Libération&nbsp;des matières premières/ auxiliaires.</td>
    <td class="tg-0lax">Processus de libération des matières premières&nbsp;/auxiliaires.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-18 Analyse du&nbsp;système de mesure du laboratoire (R&amp;R,…).</td>
    <td class="tg-0lax">Processus d'analyse du système de mesure Laboratoire.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-19 Libération&nbsp;par dérogation.</td>
    <td class="tg-0lax">Processus de libération par dérogation.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E07-20 Méthode de&nbsp;contrôle des résultats.</td>
    <td class="tg-0lax">La formalisation et l'accessibilité aux méthodes de&nbsp;contrôle des résultats.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 08: Plan de  contrôle.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E08-01 Processus&nbsp;d’homologation des fournisseurs des matières premières/matières auxiliaires.</td>
    <td class="tg-0lax">Processus de la validation ou l'annulation de&nbsp;l'homologation des fournissmatieres premières et auxiliaires.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-02 Processus&nbsp;d’homologation  des matières&nbsp;premières/matières auxiliaires.</td>
    <td class="tg-0lax">Processus de la validation ou l'annulation de&nbsp;l'homologation des premières et auxiliaires.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-03 Contrôle de&nbsp;la réception matière première et matière auxiliaire.</td>
    <td class="tg-0lax">Processus de la réception et validation de la&nbsp;qualité des matières premières et matières auxiliaires.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-04 Plan de&nbsp;surveillance du Process.</td>
    <td class="tg-0lax">Regroupant l'ensemble des contrôles à réaliser&nbsp;(régulièrement ou dans des cas particulier) sur chaque produit, les&nbsp;paramètres et caractéristiques à contrôler, les tolérances, la fréquence de&nbsp;l’échantillonnage / inspection, la méthode de contrôle et d’analyse,&nbsp;l’instrument de mesure et l’inspecteur, les actions à prendre lorsqu’une&nbsp;non-conformité est détectée..</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-05 Cartes de&nbsp;control Process.</td>
    <td class="tg-0lax">Carte de contrôle entité/atelier/équipement.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-06 Cartographie&nbsp;des points de contrôle.</td>
    <td class="tg-0lax">L’identification des points de contrôle dans les&nbsp;étapes de la chaine devaleur, les caractéristiques à contrôler et la&nbsp;fréquence.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-07 Définition&nbsp;d'une référence des paramètres (seuils, min, max).</td>
    <td class="tg-0lax">L’identification des points de contrôle dans les&nbsp;étapes de la chaine devaleur, les caractéristiques à contrôler et la&nbsp;fréquence.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-08 Traçabilité&nbsp;et enregistrement de résultats de contrôle.</td>
    <td class="tg-0lax">L'identification des des seuils de chaque paramètre&nbsp;dans chaque point de control.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-09 Moyens et&nbsp;instruments  de contrôle.</td>
    <td class="tg-0lax">Le processus de suivi et de l'enregistrement des&nbsp;contrôles réalisés tout au long de la chaine de valeur.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-10  Méthodes de contrôle.</td>
    <td class="tg-0lax">L'identification des moyens, instruments et méthodes&nbsp;de contrôle.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-11 Analyse et&nbsp;revue du plan de contrôle.</td>
    <td class="tg-0lax">Le processus d'exploitation du plan de contrôle&nbsp;qualité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-12&nbsp;Habilitations du personnel.</td>
    <td class="tg-0lax">La maitrise des niveaux de qualification et de&nbsp;formation du personnel responsable de la métrologie..</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-13 Poka-yoké.</td>
    <td class="tg-0lax">les mécanismes et les processus éliminant l'erreur.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-14 Audits et&nbsp;évaluation.</td>
    <td class="tg-0lax">Les audits, les évaluation et les&nbsp;auto-evaluations .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-15 Veille&nbsp;règlementaire et technologique.</td>
    <td class="tg-0lax">Veilles sur les règlementations nationales et&nbsp;internationales et les améliorations des technologies et équipements&nbsp;utilisées.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E08-16 Capabilité&nbsp;Process.</td>
    <td class="tg-0lax">L'adéquation d'une machine,  ou d'un procédé à réaliser une performance&nbsp;demandée.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 09: Maitrise  des changements.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E09-01 Gestion des&nbsp;changements des fournisseurs.</td>
    <td class="tg-0lax">disposer de processus  de gestion des changements fournisseurs&nbsp;permettant d'éviter l'impact des performances le long de  la chaine de valeur jusqu'au produit  fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-02 Gestion des&nbsp;changements des Matières premières et matières auxiliaires.</td>
    <td class="tg-0lax">disposer de processus  de gestion des changements MP/MA permettant&nbsp;d'éviter l'impact des performances le long de &nbsp;la chaine de valeur jusqu'au produit &nbsp;fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-03 Gestion de&nbsp;la variabilité des matières premières.</td>
    <td class="tg-0lax">disposer de processus de gestion des causes et&nbsp;impacts de la variabilité des MP pour éviter toute atteinte à la qualité du&nbsp;produit dans toute ses étapes de production.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-04 Gestion des&nbsp;changements du Process.</td>
    <td class="tg-0lax">disposer de processus  de gestion des changements Process&nbsp;permettant d'éviter l'impact des performances le long de  la chaine de valeur jusqu'au produit  fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-05 Gestion des&nbsp;changements des paramètres.</td>
    <td class="tg-0lax">disposer de processus  de gestion des changements des paramètres&nbsp;de marches Process permettant d'éviter l'impact des performances le long&nbsp;de  la chaine de valeur jusqu'au&nbsp;produit  fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-06 Gestion des&nbsp;modes dégradés/modes transitoires.</td>
    <td class="tg-0lax">disposer de processus de  gestion des modes dégradé qui garanti&nbsp;prédiction et la prévention des impacts négatifs de ce mode sur la qualité du&nbsp;produit fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-07 Gestion des&nbsp;changements des compétences du personnel.</td>
    <td class="tg-0lax">disposer  de&nbsp;plan d' accompagnement de changement et de développement des compétences pour&nbsp;répondre aux besoins de  maitrise des&nbsp;performances et de la qualité .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-08 Gestion des&nbsp;modifications des équipements.</td>
    <td class="tg-0lax">disposer de processus  de gestion des modifications des&nbsp;équipements permettant d'éviter l'impact des performances le long de  la chaine de valeur jusqu'au produit  fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-09 Gestion des&nbsp;changements technologiques.</td>
    <td class="tg-0lax">Disposer de processus  de gestion des  changements technologiques permettant&nbsp;d'éviter l'impact des performances le long de &nbsp;la chaine de valeur jusqu'au produit &nbsp;fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-10 Gestion des&nbsp;changements des méthodes .</td>
    <td class="tg-0lax">disposer de processus  de gestion des  changements de méthode de travail&nbsp;permettant d'éviter l'impact des performances le long de  la chaine de valeur jusqu'au produit  fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-11 Gestion des&nbsp;changements de l’environnement du marché (plan stratégique).</td>
    <td class="tg-0lax">disposer de processus de prédiction et&nbsp;d'accompagnement des changements de l'environnement pour garantir la&nbsp;conformité du produit et sa &nbsp;compétitivité .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-12 Gestion des&nbsp;changements de la règlementation.</td>
    <td class="tg-0lax">disposer de processus de prédiction et&nbsp;d'accompagnement des changements de la réglementation pour garantir la&nbsp;conformité du produit et sa &nbsp;compétitivité .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-13 Gestion des&nbsp;changements des exigences du client.</td>
    <td class="tg-0lax">disposer de processus de prédiction et&nbsp;d'accompagnement des changements des exigences des clients pour garantir la&nbsp;conformité du produit et sa &nbsp;compétitivité .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-14 Gestion des&nbsp;changements organisationnels.</td>
    <td class="tg-0lax">disposer de processus  de gestion des  changements organisationnelles permettant&nbsp;d'éviter l'impact des performances le long de &nbsp;la chaine de valeur jusqu'au produit &nbsp;fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-15 Gestion des&nbsp;changements dans la Supply Chain.</td>
    <td class="tg-0lax">disposer de processus  de gestion des  changements &nbsp;dans la Supply Chain permettant d'éviter l'impact des performances le&nbsp;long de  la chaine de valeur jusqu'au&nbsp;produit  fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-16 Gestion des&nbsp;changements des méthodes d’analyses.</td>
    <td class="tg-0lax">disposer de processus  de gestion des  changements des méthodes d'analyses&nbsp;permettant d'éviter l'impact des performances le long de  la chaine de valeur jusqu'au produit  fini.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E09-17 Gestion des&nbsp;changements des partenaires.</td>
    <td class="tg-0lax">disposer de processus  de gestion des  partenaires permettant d'éviter l'impact&nbsp;des performances le long de  la chaine&nbsp;de valeur jusqu'au produit  fini.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 10: Maitrise  des non-conformités.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E10-01 Références&nbsp;et Exigences des matières premières.</td>
    <td class="tg-0lax">Fichier ou ensemble de fichiers caractérisant les MP.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-02 Références&nbsp;et Exigences des matières auxiliaires.</td>
    <td class="tg-0lax">Fichier ou ensemble de fichiers caractérisant les MA.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-03 Références&nbsp;et Exigences des produits finis.</td>
    <td class="tg-0lax">Fichier ou ensemble de fichiers caractérisant les&nbsp;produits finaux.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-04 Moyens de&nbsp;détection des non-conformités.</td>
    <td class="tg-0lax">Moyens, méthodes et procédures de détection des&nbsp;non-conformités .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-05&nbsp;Enregistrement des non-conformités des clients internes.</td>
    <td class="tg-0lax">suivre, remonter, partager , et enregistrer selon un&nbsp;processus défini les non-conformités des clients internes  .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-06&nbsp;Enregistrement des non-conformités des clients externes.</td>
    <td class="tg-0lax">suivre, remonter, partager , et enregistrer selon un&nbsp;processus défini les non-conformités des clients internes  .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-07 Traçabilité&nbsp;des non-conformités des Clients internes.</td>
    <td class="tg-0lax">Lier les non-conformité à leurs sources.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-08 Traçabilité&nbsp;des non-conformités des Clients externes.</td>
    <td class="tg-0lax">Lier les non-conformité à leurs sources.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-09&nbsp;Classification des non-conformités des clients internes.</td>
    <td class="tg-0lax">Catégoriser les type des non-conformités selon des&nbsp;critères préfinis.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-10&nbsp;Classification des non-conformités des clients externes.</td>
    <td class="tg-0lax">Catégoriser les type des non-conformités selon des&nbsp;critères préfinis.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-11 Processus&nbsp;d'analyse des causes (Procédures).</td>
    <td class="tg-0lax">Processus d'analyse des causes des non conformités.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-12 Analyses&nbsp;préventives des non-conformités.</td>
    <td class="tg-0lax">Processus, procédures ou standards  d'analyse &nbsp;préventive des causes.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-13 Analyses&nbsp;correctives des non-conformités.</td>
    <td class="tg-0lax">Processus, procédures ou standards  d'analyse &nbsp;corrective des causes.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-14 Analyses&nbsp;curatives des non-conformités.</td>
    <td class="tg-0lax">Processus, procédures ou standards  d'analyse &nbsp;curative des causes.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-15 Bilan des&nbsp;non-conformités.</td>
    <td class="tg-0lax">disposer de la synthèse des non conformités&nbsp;identifiées durant une période données avec une analyse qualitative&nbsp;/quantitative .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-16 Suivi et&nbsp;maitrise des écarts.</td>
    <td class="tg-0lax">disposer des outils &nbsp;et processus de détection suivi et de gestion des écarts .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-17&nbsp;Capitalisation des bonnes pratiques de gestion des non-conformités.</td>
    <td class="tg-0lax">formaliser et partager les bonnes pratiques de&nbsp;gestion des non conformités à l'échelle du groupe.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-18 Enquête de&nbsp;satisfaction des clients.</td>
    <td class="tg-0lax">disposer d'un processus de recueil du Feed back&nbsp;client par rapport à la qualité des produit/prestations….</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-19 Analyse de&nbsp;l’impact/étendu de la non-conformités.</td>
    <td class="tg-0lax">identifier et évaluer l'impact des non conformités&nbsp;internes et externes à l'entreprise.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-20 Suivi des&nbsp;KPI’s des non-conformités.</td>
    <td class="tg-0lax">instaure des Suivis d'indicateurs de performance en&nbsp;relation avec la conformité du produit.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-21 Gestion des&nbsp;produits non conformes .</td>
    <td class="tg-0lax">Disposer et appliquer des Procédures/méthodes de&nbsp;gestion des produits non conformes ( stockage, isolation, recyclage … ).</td>
  </tr>
  <tr>
    <td class="tg-0lax">E10-22 Traitement&nbsp;des réclamations des clients.</td>
    <td class="tg-0lax">Disposer d'un mode de traitement  qui consiste au recueil, analyse, et&nbsp;feedback des réclamations.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 11: Métrologie  &amp; Qualification.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E11-01 Etalonnage&nbsp;des équipements du laboratoire:.</td>
    <td class="tg-0lax">Calibration des équipements pour garantir la&nbsp;précision et l'exactitude des résultats.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-02 Préparation&nbsp;des réactifs:.</td>
    <td class="tg-0lax">Connaitre les réactifs, la préparation de solutions&nbsp;et la détermination de l'ordre de grandeur d'une concentration.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-03 Conformité&nbsp;des réactifs:.</td>
    <td class="tg-0lax">Contrôle rigoureux des réactifs avant&nbsp;l'utilisation .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-04&nbsp;Qualification et habilitation du personnel du laboratoire :.</td>
    <td class="tg-0lax">Disposition d'un personnel qualifié et capable&nbsp;d'exécuter les différentes tâches.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-05 Etat des&nbsp;équipements de mesure du laboratoire:.</td>
    <td class="tg-0lax">Contrôle rigoureux des équipements et revue de ses&nbsp;états.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-06 Etat des&nbsp;capteurs.</td>
    <td class="tg-0lax">Contrôle rigoureux des capteurs et revue de ses&nbsp;états.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-07&nbsp;Qualification et formation.</td>
    <td class="tg-0lax">Formation et enseignement pour acquérir les&nbsp;compétences et les aptitudes requises pour des tâches données .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-08 Maintenance&nbsp;des équipements de mesures .</td>
    <td class="tg-0lax">Maintenance préventive/corrective des équipements&nbsp;pour le maintien de leur fonctionnalités .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-09 Capabilités&nbsp;des équipements.</td>
    <td class="tg-0lax">La mesure traduisant le rapport entre la performance&nbsp;réelle des équipements et la performance cible. .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-10 Modes&nbsp;opératoires de métrologie.</td>
    <td class="tg-0lax">Contrôle des modes opératoires des opérations de&nbsp;métrologie.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-11 Veille&nbsp;technologique sur les moyens de mesures.</td>
    <td class="tg-0lax">Surveillance active et continue sur les moyens de&nbsp;mesures concernant le secteur de travail.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-12 Conformité&nbsp;des équipements de mesure.</td>
    <td class="tg-0lax">Mesure et la mise en état des équipement de mesure.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-13 Gestion des&nbsp;étalons.</td>
    <td class="tg-0lax">Contrôle des étalons.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-14 Indicateurs&nbsp;de fiabilité des moyens et méthodes de mesure.</td>
    <td class="tg-0lax">Connaitre la fiabilité des moyens et méthodes de&nbsp;mesure.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-15 Etat du&nbsp;stock des équipements de mesure .</td>
    <td class="tg-0lax">Etat du stock des équipements de mesure.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E11-16 Etalonnage&nbsp;des équipements de mesure au chantier.</td>
    <td class="tg-0lax">Etalonnage des équipements de mesure au chantier.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 12: KPI's et  tableaux de bord.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E12-01 Référentiel&nbsp;des KPI's.</td>
    <td class="tg-0lax">Un Référentiel contenant les indicateurs de&nbsp;performance utilisés, son contenue est à définir par chaque entité..</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-02 Méthode de&nbsp;calcul des KPI's.</td>
    <td class="tg-0lax">Les formules et les données utilisées pour le calcul&nbsp;des KPI's.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-03 Tableau de&nbsp;bord site.</td>
    <td class="tg-0lax">Outil de mise en forme des indicateurs de&nbsp;performance à l'échelle du site.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-04 Tableau de&nbsp;bord entité.</td>
    <td class="tg-0lax">Outil de mise en forme des indicateurs de&nbsp;performance à l'échelle de l'entité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-05 Tableau de&nbsp;bord secteur.</td>
    <td class="tg-0lax">Outil de mise en forme des indicateurs de&nbsp;performance à l'échelle de l'entité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-06 Management&nbsp;visuel Atelier/Ligne.</td>
    <td class="tg-0lax">Outils et moyens d’affichages d’indicateurs&nbsp;accessibles aux collaborateurs.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-07 Coût de la&nbsp;non qualité.</td>
    <td class="tg-0lax">Indicateurs mesurant la dépense économique&nbsp;résultants des non-conformité. Les couts de traitement internes, les couts de&nbsp;traitement externes et les couts de détection font partis  des cout de la non qualité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-08 Taux de&nbsp;récurrence des réclamations.</td>
    <td class="tg-0lax">Indicateurs mesurant la dépense économique&nbsp;résultants des non-conformité. Les couts de traitement internes, les couts de&nbsp;traitement externes et les couts de détection font partis  des cout de la non qualité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-09 Déclinaison&nbsp;des objectifs.</td>
    <td class="tg-0lax">L'équivalence de chaque indicateur dans tout les&nbsp;stades.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-10 Le taux du&nbsp;bon dés le premier coup.</td>
    <td class="tg-0lax">Taux de produits bon du premier coup sans recours à&nbsp;une correction .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-11 Capabilités&nbsp;du procédé aux nouveaux exigences client CP CPK.</td>
    <td class="tg-0lax">La notion de la maitrise statistique qui traduit&nbsp;l'adéquation du procédé à réaliser une performance demandée.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-12 Taux de&nbsp;traitement de réclamation dans les délais.</td>
    <td class="tg-0lax">Pourcentage des réclamation traitées dans les délais&nbsp;précisés.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E12-13 Taux des&nbsp;réclamations.</td>
    <td class="tg-0lax">Pourcentage de la quantité des ventes sujette des&nbsp;réclamations.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 13: Revues de  performance.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E13-01 Tableaux de&nbsp;bord.</td>
    <td class="tg-0lax">Visualisation des indicateurs de performances .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-02 KPI's.</td>
    <td class="tg-0lax">Identification des indicateurs de performances à&nbsp;mettre en revue .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-03 Revues de&nbsp;performance site.</td>
    <td class="tg-0lax">Revues des KPI's concernant le site .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-04 Revues de&nbsp;performance entité.</td>
    <td class="tg-0lax">Revues des KPI's concernant l'entité.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-05 Revues de&nbsp;performance Secteur.</td>
    <td class="tg-0lax">Revues des KPI's concernant le secteur.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-06 Rituels&nbsp;Process.</td>
    <td class="tg-0lax">Identification des rituels de suivi pilotage du&nbsp;process.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-07 Réunion de&nbsp;coordination Client/Fournisseurs.</td>
    <td class="tg-0lax">Coordination entre clients/fournisseurs et&nbsp;alignement sur les propos du cahiers de charge .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-08 Evaluation&nbsp;de performance.</td>
    <td class="tg-0lax">Suivi et évaluation de la performance en terme&nbsp;d'amélioration .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-09 Fixation des&nbsp;objectifs de performance.</td>
    <td class="tg-0lax">Connaitre à l'avance les objectés de performance&nbsp;souhaitables à atteindre .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-10 Comité&nbsp;qualité.</td>
    <td class="tg-0lax">Comité de surveillance active et continue du respect&nbsp;de la qualité .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-11 Feuille de&nbsp;route.</td>
    <td class="tg-0lax">Elaboration des différents objectifs à atteindre&nbsp;pendant un exercice en terme de performance .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-12 Suivi des&nbsp;actions à Court/Moyen termes.</td>
    <td class="tg-0lax">Suivi de l'impact des actions tenues sur la&nbsp;performance .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-13 Suivi des&nbsp;projets structurant les feuilles de route.</td>
    <td class="tg-0lax">Suivi de la concrétisation des projets liés à la&nbsp;qualité .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E13-14 Cost&nbsp;déploiement/Qualité.</td>
    <td class="tg-0lax">Réduction des pertes industrielles générées par des&nbsp;défauts qualité.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 14: Audits  internes et externes.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E14-01&nbsp;Planification des audits externes.</td>
    <td class="tg-0lax">Planification des audits externes et leurs&nbsp;préparations fondée sur les risques et les objectifs fixés.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E14-02&nbsp;Planification des audits internes.</td>
    <td class="tg-0lax">Planification des audits internes et leurs&nbsp;préparations fondée sur les risques et les objectifs fixés.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E14-03&nbsp;Critère-guide -checklist des audits.</td>
    <td class="tg-0lax">L'ensemble des moyens qui vont permettre&nbsp;l'évaluation pour les audits.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E14-04 Suivi des&nbsp;plans d'action des audits externes.</td>
    <td class="tg-0lax">Suivi de l'avancement et l'impact des actions des&nbsp;audits externes.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E14-05 Suivi des&nbsp;plans d'action des audits internes.</td>
    <td class="tg-0lax">Suivi de l'avancement et l'impact des actions des&nbsp;audits internes.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E14-06 Préparation&nbsp;des audits.</td>
    <td class="tg-0lax">Le processus de préparation des audits .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E14-07&nbsp;Démarche/programme des audits (lancement/déroulement/clôture).</td>
    <td class="tg-0lax">Le déroulement des audits dés le lancement jusqu'à&nbsp;la clôture.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E14-08&nbsp;Qualification d'équipes des audits.</td>
    <td class="tg-0lax">Disposition du personnel qualifié pour les audits.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E14-09 Rapport des&nbsp;audits.</td>
    <td class="tg-0lax">La rédaction, la revue et l'exploitation des&nbsp;rapports d'audit.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E14-10 KPI's des&nbsp;audit (taux de réalisation des planning...).</td>
    <td class="tg-0lax">Indicateurs mesurant la réalisation et l'impact des&nbsp;audits.</td>
  </tr>
  <tr>
    <th class="tg-j6lv" colspan="2">Axe 15: Projets  d'amélioration.</th>
  </tr>
  <tr>
    <td class="tg-0lax">E15-01  Identification et validation des projets.</td>
    <td class="tg-0lax">identifier les projets les plus pertinents pour&nbsp;approbation.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E15-02&nbsp;Planification des projets.</td>
    <td class="tg-0lax">Connaitre et planifier les différentes étapes de&nbsp;réalisation des projets.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E15-03&nbsp;Commissionning des projets.</td>
    <td class="tg-0lax">Phase regroupant l'ensemble des opérations à&nbsp;effectuer : vérification, test et validation .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E15-04&nbsp;Qualification des projets.</td>
    <td class="tg-0lax">S'assurer de la pertinence des projets vis-à-vis&nbsp;leurs objectifs.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E15-05  Vérification des projets.</td>
    <td class="tg-0lax">S'assurer au caractère adéquat et efficace des&nbsp;projets .</td>
  </tr>
  <tr>
    <td class="tg-0lax">E15-06&nbsp;Capitalisation et amélioration continue.</td>
    <td class="tg-0lax">Valoriser des projets existants pour amélioration&nbsp;des prochains projets.</td>
  </tr>
  <tr>
    <td class="tg-0lax">E15-07 Performance&nbsp;des projets.</td>
    <td class="tg-0lax">Améliorer continuellement le processus de conduite&nbsp;des projets en termes de la qualité, le coût et le délai..</td>
  </tr>
  <tr>
    <td class="tg-0lax">E15-08 Les équipes&nbsp;projets.</td>
    <td class="tg-0lax">Optimiser les équipes projet pour atteindre les&nbsp;objectifs des projets..</td>
  </tr>
  <tr>
    <td class="tg-0lax">E15-09 Les critères&nbsp;de la sélection des projets (effort/ bénéfices).</td>
    <td class="tg-0lax">Définir et situer le portefeuille des projets dans&nbsp;un diagramme suivant les deux critères efforts et bénéfices..</td>
  </tr>
  <tr>
    <td class="tg-0lax">E15-10 Gestion des&nbsp;projets.</td>
    <td class="tg-0lax">Améliorer continuellement le processus de conduite&nbsp;des projets en termes de livrables, délais et budget..</td>
  </tr>
</table>

