<div class="row">
    <div class="col-sm-8 col-md-8 col-xl-8 PL0">
        <h2>{{'ACTIONS.header' | translate}}</h2>
    </div>
    <div class="col-sm-4 col-md-4 col-xl-4 MT10 PR0 text-right">
        <mat-form-field>
            <mat-select
                    (selectionChange)="onSelectionChangeEntity($event)"
                    value="all" placeholder="{{'DASHBOARD.selectEntity' | translate}}" class="dashSelect">
                    <mat-option value="all">{{'DASHBOARD.all' | translate}} </mat-option>
                <mat-tree [dataSource]="treeSource" [treeControl]="treeControl">
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                        <!-- use a disabled button to provide padding for tree leaf -->
                        <button mat-icon-button disabled></button>
                        <mat-option [value]="node.entity._id">
                            <a class='entity'>{{node.name}}</a>
                        </mat-option>
                    </mat-tree-node>
                    <!-- This is the tree node template for expandable nodes -->
                    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                        <button mat-icon-button matTreeNodeToggle
                                [attr.aria-label]="'toggle ' + node.name">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>

                        <mat-option [value]="node.entity._id">
                            <a class='entity'>{{node.name}}</a>
                        </mat-option>
                        
                    </mat-tree-node>
                </mat-tree>
                
                <!-- <mat-option *ngFor="let entity of Entities;let i = index"
                            [value]="entity.id">
                    {{entity.Description}}
                </mat-option> -->
            </mat-select>

        </mat-form-field>
    </div>

    <div class="chart-box chart-box-main col-sm-7 col-md-7 col-xl-7 MB10" style="margin-bottom: 10px;">
        <mat-card>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xl-12 PL0">
                    <h2>{{'ACTIONS.Assessments' | translate}}</h2>
                </div>
                <div class="col-sm-12 col-md-12 col-xl-12 PR0">
                    <mat-paginator #paginator
                        [length]="resultsLengthAssessments"
                        [pageSize]="pageSizeAssessments"
                        [pageIndex]="pageIndexAssessments"
                        (page)="changeAssessmentsPage($event)"
                        [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                </div>
            </div>
            <table matSort mat-table [dataSource]="dataSourceAssessments">

                <ng-container matColumnDef="code">
                    <th mat-header-cell *matHeaderCellDef width="40%"> {{'SELFASSESSEMENT.selfAssessmentID' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.Code}}</td>
                </ng-container>

                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef width="30%"> Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.CreatedOn}}</td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef width="30%"> {{'SELFASSESSEMENT.status' | translate}}</th>
                    <!-- td mat-cell *matCellDef="let element"> {{element.Status}}</td> -->
                    <td mat-cell *matCellDef="let element" >
                    <p *ngIf="element.Status === 0">
                        <mat-chip-list >
                            <mat-chip  style="background-color: #f18407;color:white">{{'SELFASSESSEMENT.inprogress' | translate}}</mat-chip>
                        </mat-chip-list>
                    </p>
                    <p *ngIf="element.Status === 1">
                        <mat-chip-list >
                            <mat-chip  style="background-color: #e7c02b;color:white">{{'SELFASSESSEMENT.finished' | translate}}</mat-chip>
                        </mat-chip-list>
                    </p>
                    <!-- <p *ngIf="element.Status === 1"> In Progress </p> -->
                    <p *ngIf="element.Status === 2"> 
                        <mat-chip-list >
                            <mat-chip  style="background-color: #23ab27;color:white">{{'SELFASSESSEMENT.published' | translate}}</mat-chip>
                        </mat-chip-list>
                         </p>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsAssessments"></tr>
                <tr mat-row *matRowDef="let row; let k =index; columns: displayedColumnsAssessments;" 
                style="cursor: pointer" class="assessments"
                [ngClass]="{'active': ( (k+(pageIndexAssessments*pageSizeAssessments)) == selectedAssessment)}"
                (click)="selectAssessment(k+(pageIndexAssessments*pageSizeAssessments))" ></tr>
            </table>
        </mat-card>
    </div>

    <div class="chart-box chart-box-main col-sm-5 col-md-5 col-xl-5 MB10" style="margin-bottom: 10px;">
        <mat-card >
            <div class="col-sm-12 col-md-12 col-xl-12 PL0" style="padding-bottom: 3rem;">
                <h2>{{'REPORTS.actions' | translate}}</h2>
            </div>
            <canvas baseChart
                    [data]="doughnutChartActions"
                    [options]="doughnutChartOptions"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"
                    [colors]="doughnutChartActionsColours"
                    style="margin-bottom: 3rem;">
            </canvas>
            <!-- <div class="row" style="padding:5px">
                <b>{{'REPORTS.actions' | translate}}</b>
                <canvas baseChart
                        [data]="doughnutChartActions"
                        [options]="doughnutChartOptions"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType">
                </canvas>
            </div> -->
        </mat-card>
    </div>

    <div class="chart-box chart-box-main col-sm-12 col-md-12 col-xl-12" style="margin-bottom: 10px;">
        <mat-card>
            <div class="row">
                <div class="col-sm-5 col-md-5 col-xl-5 PL0">
                    <h2>{{'ACTIONS.actions' | translate}}</h2>
                </div>
                <div class="col-sm-7 col-md-7 col-xl-7 PR0">
                    <mat-paginator #paginator
                        [length]="resultsLength"
                        [pageSize]="pageSize"
                        [pageIndex]="pageIndex"
                        (page)="changePage($event)"
                        [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                </div>
            </div>
            <!-- <div class="text-center">
                <small>{{'DASHBOARD.selfAssessment' | translate}}s : {{ Assessments[this.selectedAssess].assesment_code ||
                    Assessments[this.selectedAssess].assesment_id?.substring(17) }}</small>
            </div> -->
            <table matSort mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="axe">
                    <th mat-header-cell *matHeaderCellDef width="12%"> {{'DASHBOARD.selfAssessment' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.Axe}}</td>
                </ng-container>

                <ng-container matColumnDef="element">
                    <th mat-header-cell *matHeaderCellDef width="12%"> {{'DASHBOARD.selfAssessment' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.Element}}</td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef width="20%"> Description</th>
                    <td mat-cell *matCellDef="let element"> {{element.Description}}</td>
                </ng-container>

                <ng-container matColumnDef="who">
                    <th mat-header-cell *matHeaderCellDef width="14%"> {{'DASHBOARD.who' | translate}}</th>
                    <td mat-cell *matCellDef="let element">
                        <div *ngIf="element.Who != 'Mail' "> {{element.Who}} </div>
                        <div *ngIf="element.Who == 'Mail' "> {{element.WhoMail}} </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef width="10%"> {{'DASHBOARD.status' | translate}}</th>
                    <!-- td mat-cell *matCellDef="let element"> {{element.Status}}</td> -->
                    <td mat-cell *matCellDef="let element" >
                    <p *ngIf="element.Status === 'In Progress'">
                        <mat-chip-list >
                            <mat-chip  style="background-color: #f18407;color:white">{{'SELFASSESSEMENT.inprogress' | translate}}</mat-chip>
                        </mat-chip-list>
                         </p>
                    <!-- <p *ngIf="element.Status === 1"> In Progress </p> -->
                    <p *ngIf="element.Status === 'Finished'"> 
                        <mat-chip-list >
                            <mat-chip  style="background-color: #23ab27;color:white">{{'ACTIONS.finished' | translate}}</mat-chip>
                        </mat-chip-list>
                         </p>
                    </td>
                </ng-container>

                <ng-container matColumnDef="dueDate">
                    <th mat-header-cell *matHeaderCellDef width="15%"> {{'DASHBOARD.timeline' |translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.DueDate}}</td>
                </ng-container>

                <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef width="17%"> {{'DASHBOARD.comment' |translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.Comment}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card>
    </div>

    <div class="chart-box chart-box-main col-sm-12 col-md-12 col-xl-12" style="margin-bottom: 10px;">
        <mat-card>
            <div class="row">
                <div class="col-sm-5 col-md-5 col-xl-5 PL0">
                    <h2>{{'ACTIONS.comments' | translate}}</h2>
                </div>
                <div class="col-sm-7 col-md-7 col-xl-7 PR0">
                    <mat-paginator #paginator
                        [length]="resultsLengthComments"
                        [pageSize]="pageSizeComments"
                        [pageIndex]="pageIndexComments"
                        (page)="changeCommentsPage($event)"
                        [pageSizeOptions]="pageSizeOptions">
                    </mat-paginator>
                </div>
            </div>
            <table matSort mat-table [dataSource]="dataSourceComments">

                <ng-container matColumnDef="axe">
                    <th mat-header-cell *matHeaderCellDef width="25%"> {{'ACTIONS.axe' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.Axe}}</td>
                </ng-container>

                <ng-container matColumnDef="element">
                    <th mat-header-cell *matHeaderCellDef width="25%"> {{'ACTIONS.element' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.Element}}</td>
                </ng-container>

                <ng-container matColumnDef="comment">
                    <th mat-header-cell *matHeaderCellDef width="50%"> {{'ACTIONS.comment' | translate}}</th>
                    <td mat-cell *matCellDef="let element"> {{element.Comment}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsComments"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsComments;"></tr>
            </table>
        </mat-card>
    </div>

</div>