@import "../../../../assets/scss/abstracts/abstracts";
tr.active{
    outline: 2px solid $primary-color;
    background: rgba($primary-color,0.07);
}
tr.assessments:hover{
    background: rgba($primary-color,0.1);
}
