@import "../assets/scss/abstracts/abstracts";

.panel{
  transition: .2s all ease-in;
  position: absolute;
  left: 25rem;
  top: 6rem;
  height: calc(100% - 9rem);
  padding: 0 2rem 2rem 2rem;
  width: calc(100% - 25rem);
  overflow:auto;
  .panel-inner{
    overflow: auto;
  }
}
router-outlet{
  overflow: hidden;
}
.footer{
  transition: .2s all ease-in;
  @include boxShadowMain();
  background: #f0f0f8;
  position: fixed;
  height: 3rem;
  padding: 3px;
  left: 25rem;
  bottom: 0;
  width: calc(100% - 25rem);
  padding-right: 3rem;
  z-index: 5;
  color: #999999;
  font-size: 12px;
}

.panel-large{
  left: 7rem !important;
  width: calc(100% - 7rem);
}

.footer-large{
  left: 7rem;
  width: calc(100% - 7rem);
}

html, body {
  overflow: inherit !important;
}
.slick-dots li button:before {
  font-size: 20px;
  line-height: 35px;
}
