<app-header (menuClick)="panelMove = $event" *ngIf="!isLogIn && !isHome"></app-header>

<div *ngIf="isHome">
  <router-outlet></router-outlet>
</div>
<div *ngIf="!isHome" [ngClass]="{'panel-large' : panelMove}" class="panel">
  <div class="panel_inner">
    <router-outlet></router-outlet>
  </div>
</div>
<div  *ngIf="login==false && !isHome" class="footer" [ngClass]="{'footer-large' : panelMove}">

  <div class="row align-center">
    <div class="col-sm-6 col-md-6 col-xl-6 PL20">Developed by OCP Maintenance Solutions </div>
    <div class="col-sm-6 col-md-6 col-xl-6 PR20 text-right">
      <img src="../assets/images/logo-oms.png" style="height: 4rem; margin-top: -1rem;object-fit: scale-down;" alt="">
    </div>
  </div>

</div>

<app-progress-hud></app-progress-hud>
