<h1>Glossaire</h1>
<mat-card>
  <p><b>Un processus</b> est un ensemble d'activités corrélées ou en interaction qui utilise des éléments d'entrée pour produire un résultat escompté.</p>
  <p><b>Un format standard</b> est un format qui peut être défini au niveau de la ligne, l'atelier, l'entité ou le site.</p>
  <p><b>Un rituel</b> est l'ensemble des activités qui entre dans le contexte d'un élément (des réunions, session de validation en groupe ou individuel…). Exemple: E13-06 Revue de performance Process.</p>
  <p><b>Un niveau minimum de digitalisation</b> est d'avoir une dématérialisation du processus avec une interaction informatique avec les parties prenantes.</p>
  <p><b>Les parties prenantes</b>sont définies pour chaque élément.</p>
  <p>
    <b>la validation dans le cadre de la formalisation</b> veut dire que l'élément dans le contexte est passé par une instance de décision</p>
</mat-card>
<br>

<table>
  <tr>
    <th  style="width: 50px">Quelque</th>
    <td><50%</td>
  </tr>
  <tr>
    <th>La majorité</th>
    <td>>50%</td>
  </tr>
  <tr>
    <th>La totalité</th>
    <td>100%</td>
  </tr>
  <tr>
    <th style="width: 50px">MP</th>
    <td>Matière première</td>
  </tr>
  <tr>
    <th>MA</th>
    <td>Matière auxiliaire</td>
  </tr>
  <tr>
    <th>PF</th>
    <td>Produit fini</td>
  </tr>
</table>
<br>
<table >
  <tr>
    <th style="width: 50px">1</th>
    <td style="background-color: rgb(255, 0, 0);width: 50px"></td>
    <td>Formalisation</td>
  </tr>
  <tr>
    <th>2</th>
    <td style="background-color: rgb(42, 42, 218)"></td>
    <td>Déploiement</td>

  </tr>
  <tr>
    <th>3</th>
    <td style="background-color: rgb(0, 126, 0)"></td>
    <td>Accessibilité</td>
  </tr>
  <tr>
    <th>4</th>
    <td style="background-color: black"></td>
    <td>Amélioration</td>
  </tr>
  <tr>
    <th>5</th>
    <td  style="background-color: rgb(128, 9, 9)"></td>
    <td>Digitalisation</td>
  </tr>
</table>
<br>



