.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-gdc4{background-color:#96fffb;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
.tg .tg-j6lv{background-color:#96fffb;text-align:center;vertical-align:top}
th {
  background-color: #3f5161 !important;
  border-color: inherit;
  text-align: center;
  color: white !important;
  vertical-align: top;
  font-weight: bold !important;
}
tr td:first-of-type {
  width: !important;
  background-color: #3f516196;
  width: 28%;
  color: white;
  font-weight: bold;
  padding: 10px !important;
}
td {
  background-color: white;
  font-weight: bold;
}
