<div>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-xl-3 PL0">
      <h2>{{'ConfigurationUsers.users' | translate}}</h2>
    </div>
    <div class="col-sm-9 col-md-9 col-xl-9 PR0">
      <mat-paginator #paginator
                     [length]="resultsLength"
                     [pageSize]="pageSize"
                     [pageIndex]="pageIndex"
                     (page)="changePage($event)"
                     [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>
  </div>
    <!-- <div class="col-sm-9 col-md-9 col-xl-9 PR0">
      <mat-paginator [length]="100"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div> -->

  <table mat-table (matSortChange)="sortData($event)" matSort [dataSource]="dataSource">

    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef width="10%"> Sr. No.</th>
      <td mat-cell *matCellDef="let element"> {{element.position}}</td>
    </ng-container> -->

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> {{'ConfigurationUsers.Name' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.Name}}</td>
    </ng-container>

    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header width="25%"> Email</th>
      <td mat-cell *matCellDef="let element"> {{element.Email}}</td>
    </ng-container>

    <ng-container matColumnDef="Role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header width="20%">&nbsp;&nbsp;Role</th>
      <td mat-cell *matCellDef="let element"> <p *ngIf="element.Role ===3"> &nbsp;&nbsp;General Admin</p>
        <p *ngIf="element.Role ===2">&nbsp;&nbsp;Site Admin</p>
        <p *ngIf="element.Role ===1">&nbsp;&nbsp;User</p></td>
    </ng-container>

    <ng-container matColumnDef="Entity">
      <th mat-header-cell *matHeaderCellDef width="15%"> {{'ConfigurationUsers.entity' | translate}}</th>
      <td mat-cell *matCellDef="let element;let i = index;"> <p>{{entitiesCodes[i+pageSize*(pageIndex)]}}</p> </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef width="15%"> {{'ConfigurationUsers.status' | translate}}</th>
      <td mat-cell *matCellDef="let element"> <p *ngIf="element.Status">
        <mat-chip-list >
          <mat-chip  style="background-color: #23ab27;color:white">Active</mat-chip>
        </mat-chip-list>
      </p>
        <p *ngIf="!element.Status">
          <mat-chip-list >
            <mat-chip  style="background-color: #c0392b;color:white">Inactive</mat-chip>
          </mat-chip-list>
        </p></td>
    </ng-container>

    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef width="15%"> Action</th>
      <td mat-cell *matCellDef="let element">
        <a (click)="onAddsUser('Edit',element)" class="edit-icon"><i class="material-icons">edit</i></a>
        <a (click)="isDeleteUser = true; currentUser = element;" class="delete-icon"><i class="material-icons">delete</i></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <div class="table-responsive"  style="overflow-y: hidden; width: 100%;">
    <ngx-datatable
    #connectedContactsTable
    class='table table-stripped'
    [columns]="connectedContactsTableColumns"
    [columnMode]="columnModeSetting"
    [scrollbarH]="true"
    [footerHeight]="30"
    [rowHeight]="'auto'"
    [limit]="5"
    [messages]="messages"
    [scrollbarV]="false"
    [rows]='userService.users'>

    
      <ngx-datatable-column name="Name" [minWidth]="80" [sortable]="true" >
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{row.Name}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Email" [minWidth]="180" [sortable]="true" >
        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{row.Email}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Role" [minWidth]="100" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{row.Role}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Entity" [minWidth]="100" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{row.Entity}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Status" [minWidth]="100" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <span>{{row.Status}}</span>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Action" [minWidth]="100" [sortable]="false">
        <ng-template let-column="column" ngx-datatable-header-template>
          {{column.name}}
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a (click)="onAddsUser()" class="edit-icon"><i class="material-icons">edit</i></a>
          <a class="delete-icon"><i class="material-icons">delete</i></a>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>
  </div> -->

  <div class="add-icon">
    <a (click)="onAddsUser('Add')" matRipple [matRippleColor]="color">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>

<div *ngIf="isDeleteUser" class="modal">
  <p>{{'ConfigurationUsers.confirmationDelete' | translate}}</p>

  <div>
      <button type="button" (click)="deleteUser()" mat-raised-button color="primary">
        {{'ConfigurationUsers.yes' | translate}}
      </button>
      <button type="button" (click)="isDeleteUser = false;" mat-raised-button>{{'ConfigurationUsers.no' | translate}}</button>
  </div>
</div>

<div (click)="isDeleteUser = false" *ngIf="isDeleteUser" class="modal-layer"></div>
