<!--Comment SelfAssesment -->
<div>
    <div class="row">
        <div class="col-sm-9 col-md-9 col-xl-9 PL0">
            <h2>{{'SELFASSESSEMENT.selfAssessment' | translate}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-4 col-xl-4 PL0">
            <label>{{'SELFASSESSEMENT.selfAssessmentFilter' | translate}} : </label>
            <mat-form-field>
                <input id="filterBox" matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'SELFASSESSEMENT.filter' | translate}}">
            </mat-form-field>
        </div>
        <div class="col-sm-8 col-md-8 col-xl-8 text-right PR0">
            <mat-paginator #paginator
                            showFirstLastButtons
                            [length]="resultsLength"
                            [pageSize]="pageSize"
                            [pageIndex]="pageIndex"
                            (page)="changePage($event)"
                            [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>
    </div>

    <table mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="Position">
            <th mat-header-cell *matHeaderCellDef width="5%">  No.</th>
            <td mat-cell *matCellDef="let element;let i = index"> {{i+1}}</td>
        </ng-container>

        <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="_id" width="15%"> {{'SELFASSESSEMENT.selfAssessmentID' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.Code || element._id.substring(17)}}</td>
        </ng-container>

        <ng-container matColumnDef="entity">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="entity" width="20%"> {{'SELFASSESSEMENT.entity' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.entity}}</td>
        </ng-container>

        <ng-container matColumnDef="createdOn">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="createdOn" width="20%"> Date</th>
            <td mat-cell *matCellDef="let element"> {{element.createdOn}}</td>
        </ng-container>

        <ng-container matColumnDef="Score">
            <th mat-header-cell *matHeaderCellDef  width="10%"> {{'SELFASSESSEMENT.score' | translate}}</th>
            <td mat-cell *matCellDef="let element"> {{element.Score}}</td>
        </ng-container>

        <ng-container matColumnDef="Goal">
            <th mat-header-cell *matHeaderCellDef width="10%"> {{'SELFASSESSEMENT.goal' | translate}}</th>
            <td mat-cell *matCellDef="let element">{{element.Goal!==null ? element.Goal : ''}}</td>
        </ng-container>

        <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef width="10%">{{'SELFASSESSEMENT.status' | translate}} </th>
            <td mat-cell *matCellDef="let element">
                <p *ngIf="element.Status === 0">
                    <mat-chip-list >
                        <mat-chip  style="background-color: #f18407;color:white">{{'SELFASSESSEMENT.inprogress' | translate}}</mat-chip>
                    </mat-chip-list>
                     </p>
                <!-- <p *ngIf="element.Status === 1"> In Progress </p> -->
                <p *ngIf="element.Status === 1">
                    <mat-chip-list >
                        <mat-chip  style="background-color: #e7c02b;color:white">{{'SELFASSESSEMENT.finished' | translate}}</mat-chip>
                    </mat-chip-list>
                     </p>
                <p *ngIf="element.Status === 2">

                    <mat-chip-list >
                        <mat-chip  style="background-color: #23ab27;color:white">{{'SELFASSESSEMENT.published' | translate}}</mat-chip>
                    </mat-chip-list>
                     </p></td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef width="10%"> </th>
            <td mat-cell *matCellDef="let element">
                
                <button  mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item class="download-files"
                        [disabled]="element.Status > 1 || ( element.CreatedBy !== currUser._id && currUser.Role <= 2 ) "
                        (click)="onEditSelfAssessment(element)">
                        <i class="material-icons">edit</i>
                        <span>{{'SELFASSESSEMENT.edit' | translate}}</span>
                    </button>
                    <button mat-menu-item class="download-files"
                        [disabled]="(element.CreatedBy !== currUser._id) && (currUser.Role <= 2)"
                        (click)="isDeleteAssessment = true; assessmentToDelete = element">
                        <i class="material-icons">delete</i>
                        <span>{{'SELFASSESSEMENT.delete' | translate}}</span>
                    </button>
                    <button *ngIf="element.Status<2" (click)="publish(element)" 
                        [disabled]="element.Status != 1 || ( (element.CreatedBy !== currUser._id) && (currUser.Role < 2) ) " 
                        mat-menu-item class="download-files">
                        <i class="material-icons fas fa-share-square fa-lg"></i>
                        <span>{{'SELFASSESSEMENT.publish' | translate}}</span>
                    </button>
                    <button *ngIf="element.Status == 2" (click)="publish(element)"
                        [disabled]="(element.CreatedBy !== currUser._id) && (currUser.Role < 2)"
                         mat-menu-item class="download-files">
                        <i class="material-icons fas fa-share-square fa-lg"></i>
                        <span>{{'SELFASSESSEMENT.unpublish' | translate}}</span>
                    </button>
                    <button mat-menu-item class="download-files" (click)="generatePdf(element)" >
                        <i class="material-icons">picture_as_pdf</i>
                        <span>PDF</span>
                    </button>
                    <button mat-menu-item class="download-files" (click)="generateExcel(element)" >
                        <i class="material-icons">insert_drive_file</i>
                        <span>Excel</span>
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="add-icon">
        <a (click)="onAddSelfAssessment()" matRipple [matRippleColor]="color">
            <i class="material-icons">add</i>
            ADD
        </a>
    </div>
</div>

<div *ngIf="isDeleteAssessment" class="modal">
    <p>{{'SELFASSESSEMENT.confirmationDelete' | translate}}</p>

    <div>
        <button type="button" (click)="onDeleteAssessment()" mat-raised-button color="primary">
                {{'SELFASSESSEMENT.yes' | translate}}
        </button>
        <button type="button" (click)="isDeleteAssessment = false;" mat-raised-button>{{'SELFASSESSEMENT.no' | translate}}</button>
    </div>
</div>

<div (click)="isDeleteAssessment = false" *ngIf="isDeleteAssessment" class="modal-layer"></div>


<div *ngIf="isLoading" style="height:100%;width:100%;position:fixed;top:0;left:0;overflow: hidden;text-align:center;background: rgba(240,240,240,0.8);" >
    <!-- <div>
        <img src="assets/images/login-logo.png" style="margin :80px auto; width:20%;object-fit:scale-down">
    </div> -->
    <div style="margin-top:20%;padding-left:23rem;">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
    </div>
</div>
