td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  overflow: hidden;
  padding: 4px;
}
.mat-chip.mat-standard-chip {
  background-color: #016753;
  color: white;
}
.mat-row:nth-child(even){
  background-color:#ffffff;
}

.mat-row:nth-child(odd){
  background-color:#efefef7a;
}
.mat-standard-chip {
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: inline-flex;
  padding: 2px 9px;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
}
.mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
  margin: 3px 2px;
}
