<div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xl-3 PL0">
            <h2>{{'ConfigurationAssessment.AssPlan' | translate}}</h2>
        </div>
        <div class="col-sm-9 col-md-9 col-xl-9 PR0">
            <mat-paginator
                #paginator
                [length]="resultsLength"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
        </div>
    </div>

    <table mat-table [dataSource]="assessmentPlanList">
        <ng-container matColumnDef="Position">
            <th mat-header-cell *matHeaderCellDef width="5%"> Sr. No.</th>
            <td mat-cell *matCellDef="let element;let i = index;"> {{i + 1}}</td>
        </ng-container>

        <ng-container matColumnDef="Code">
            <th mat-header-cell *matHeaderCellDef width="10%"> Code</th>
            <td mat-cell *matCellDef="let element"> {{element.Code}}</td>
        </ng-container>

        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef width="25%"> Description</th>
            <td mat-cell *matCellDef="let element"> {{element.Description}}</td>
        </ng-container>

        <ng-container matColumnDef="Axes">
            <th mat-header-cell *matHeaderCellDef width="50%"> {{'SELFASSESSEMENT.axe'| translate}}</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <mat-chip-list >
                    <mat-chip  *ngFor="let axe of axes[i]; let i = index;">{{axe}}</mat-chip>
                </mat-chip-list>
            </td>
        </ng-container>

        <ng-container matColumnDef="Action">
            <th mat-header-cell *matHeaderCellDef width="10%"> Action</th>
            <td mat-cell *matCellDef="let element">
                <a (click)="onEditPlan(element)" class="edit-icon"><i class="material-icons">edit</i></a>
                <a (click)="onRemovePlan(element)" class="delete-icon"><i class="material-icons">delete</i></a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index"></tr>
    </table>

    <div class="add-icon">
        <a (click)="onAddPlan()" matRipple [matRippleColor]="color">
            <i class="material-icons">add</i>
        </a>
    </div>
</div>

<confirmation-modal *ngIf="isRemovePlan"
                    (confirmRemove)="onRemoveConfirm($event)"
                    (cancelRemove)="onHideConfirmationModal()">
</confirmation-modal>
