<div>
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xl-3 PL0">
            <h2>
                <a (click)="onBack()" class="back-icon">
                    <i class="material-icons">arrow_back_ios</i>
                </a>
                {{'ConfigurationAxes.editAxe' | translate}}
            </h2>
        </div>
        <div class="col-sm-9 col-md-9 col-xl-9 PR0 text-right">
            <div class="MB20 MT10">
                <button (click)="onAddElement()"
                        type="button"
                        mat-raised-button
                        color="primary">
                        {{'ConfigurationAxes.addElement' | translate}}
                        
                </button>
            </div>
        </div>
    </div>

    <mat-accordion *ngIf="selectedAxe">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-form-field class="large-input">
                        <input type="text"
                               (click)="onClickAxe($event)"
                               (blur)="onBlurAxe($event,selectedAxe)"
                               (keydown)="handleSpacebar($event)"
                               autocomplete="off" matInput
                               maxlength="80"
                               [(ngModel)]="selectedAxe.Description">
                    </mat-form-field>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let element of selectedAxe.Elements; let elementIndex = index;">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-form-field class="large-input">
                                <input type="text" autocomplete="off" matInput
                                       maxlength="80"
                                       (click)="onClickAxe($event)"
                                       (blur)="onBlurElement($event,selectedAxe,elementIndex)"
                                       (keydown)="handleSpacebar($event)"
                                       [id]="selectedAxe.id+'_'+elementIndex"
                                       [(ngModel)]="element.Description">
                            </mat-form-field>

                        </mat-panel-title>
                        <mat-panel-description>
                            <a (click)="onRemoveElement($event,elementIndex)"
                               class="delete-icon" style="margin-top: 1rem">
                                <i class="material-icons">delete</i></a>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <div class="text-right">
                        <mat-form-field>
                            <mat-select placeholder="{{'ConfigurationAxes.controlAttach' | translate}}"
                                        (selectionChange)="onChangeAttachment($event,element)"
                                        [id]="'attachment_'+selectedAxe.id+'_'+elementIndex"
                                        [value]="element.AttachementControl">
                                <mat-option *ngFor="let score of element?.Scores"
                                            [value]="score.Note">
                                 {{'ConfigurationAxes.score' | translate}} {{score.Note}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <mat-tab-group #revTabGroup class="tab-group">
                        <div *ngFor="let score of element?.Scores; let scoreIndex=index">
                            <mat-tab 
                                    label="Score {{score.Note}}">
                                <div *ngFor="let description of score?.Description; let desrptionIndex=index">
                                    <mat-form-field class="textarea-score">
                                        <!-- {{score[desrptionIndex]}} -->
                                        <textarea matInput [ngStyle]="{color:colorList[desrptionIndex] }"
                                                [id]="selectedAxe.id+'_'+elementIndex+'_'+score.Note+'_'+desrptionIndex"
                                                [value]="description">
                                        </textarea>
                                        <!-- <textarea matInput [ngStyle]="{color:colorMy}"
                                                [id]="selectedAxe.id+'_'+elementIndex+'_'+score.Note"
                                                [value]="score.Description">
                                        </textarea> -->
                                    </mat-form-field>
                                </div>
                                <button type="button"
                                        (click)="onClickSave(selectedAxe,score,elementIndex,scoreIndex)"
                                        mat-raised-button
                                        color="primary">
                                    Save
                                </button>
                            </mat-tab>
                        </div>
                    </mat-tab-group>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<confirmation-modal *ngIf="isRemoveElement"
                    (confirmRemove)="onRemoveConfirm($event)"
                    (cancelRemove)="onHideConfirmationModal()">
</confirmation-modal>