p {
  padding: 2rem;
}

.mat-expansion-panel-header-description {
  flex-grow: 0;
}

.textarea-score {
  margin: 1rem;
  display: inline-block;
  width: 90%;
}

.mat-expansion-panel-header-title {
  line-height: 2.5rem;
}

.mat-checkbox {
  display: block;
  margin: 1rem;
}

.edit-icon, .delete-icon {
  position: relative;
  top: .4rem;
}

.large-input {
  width: 60rem;
  input {
    width: 100%;
  }
}