@import "../../../../../assets/scss/abstracts/abstracts";

.main.row {
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0;
  right: 0;
  flex-flow: row;
  height: calc(100% - 6rem -70px);
  display: flex;
  justify-content: center;
  overflow: hidden;
}

div.panel{
  overflow: hidden;
}

.tree {
  flex: 40;
  height: 100%;
  overflow: auto;
}

.content {
  flex: 60;
  height: 100%;
  padding: 10px;
  padding-top: 0;
  padding-bottom: 5px; 
  overflow: auto;
}

.mat-tree-node {
  font-size: 1.4rem;
}

form {
  background: rgba($grey-color-2, 0.3);
  padding: 2rem;
}

.hover-entity {
  &:hover {
    color: $primary-color;
  }
}

.icon {
  padding: 8.5px 12px;
  border-radius: 50%;
  display: none;
  //width: 2.8rem;
  text-align: center;
}

.icon:hover {
  background-color: #dadada;
}

mat-tree-node:hover > .icon {
  display: block;
}

.mat-tree-node:hover > .icon {
  display: block;
}

.entity {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.entity:hover {
  background: #eeeeee;
}

.entity.active {
  background: #d3d3d3;
  color: #0d860d;
}

mat-form-field {
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

mat-tree-node {
  margin-left: 10px;
}
