<div class="row">
    <div class="col-sm-7 col-md-7 col-xl-7 PL0">
        <h2 style="padding: 5px;">
            <!--<a (click)="onBack()" class="back-icon">
              <i class="material-icons">arrow_back_ios</i>
            </a>-->
            {{'CompanyEntities.entities' | translate}}
        </h2>
    </div>
    <div class="col-sm-5 col-md-5 col-xl-5 text-right">
        <button (click)="showInfo('Add')"
                class="MT10"
                type="button"
                mat-raised-button
                color="primary">
                {{'CompanyEntities.createEntity' | translate}}
        </button>
    </div>
</div>

<!-- <div class="admin-form"> -->
    <div class="row main">
        <div class="tree">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <!-- This is the tree node template for leaf nodes -->
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    <a class='entity' (click)="showInfo('Show',node.entity)">{{node.name}}</a>
                    <a class='icon fas fa-ellipsis-v' [matMenuTriggerFor]="menu"></a>
                    <!-- <a (mouseleave)="hideMenu()" (mouseenter)="showMenu()"
                       class="hover-entity">{{node.name}}</a>

                    <button mat-icon-button class="icon" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button> -->
                    <mat-menu #menu="matMenu">
                        <button *ngIf="node.entity.Type == 'Usine' || node.entity.Type == 'Site' ||  node.entity.Type == 'Ligne'" type="button" (click)="showInfo('Add',node.entity)" mat-menu-item>
                            <mat-icon>add</mat-icon>
                            <span>{{'CompanyEntities.add' | translate}}</span>
                        </button>
                        <button type="button" (click)="showInfo('Edit',node.entity)" mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>{{'CompanyEntities.edit' | translate}}</span>
                        </button>
                        <button type="button" (click)="isDeleteEntity = true;currentEntity = node.entity" mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>{{'CompanyEntities.delete' | translate}}</span>
                        </button>
                    </mat-menu>
                </mat-tree-node>
                <!-- This is the tree node template for expandable nodes -->
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>

                    <a class='entity' (click)="showInfo('Show',node.entity)">{{node.name}}</a>
                    <a class='icon fas fa-ellipsis-v' [matMenuTriggerFor]="menu"></a>
                    <mat-menu #menu="matMenu">
                        <button *ngIf="node.entity.Type == 'Usine' || node.entity.Type == 'Site' || node.entity.Type == 'Ligne' " type="button" (click)="showInfo('Add',node.entity)" mat-menu-item>
                            <mat-icon>add</mat-icon>
                            <span>{{'CompanyEntities.add' | translate}}</span>
                        </button>
                        <button type="button" (click)="showInfo('Edit',node.entity)" mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>{{'CompanyEntities.edit' | translate}}</span>
                        </button>
                        <button type="button" (click)="isDeleteEntity = true;currentEntity = node.entity" mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>{{'CompanyEntities.delete' | translate}}</span>
                        </button>
                    </mat-menu>
                </mat-tree-node>
            </mat-tree>
        </div>
        <div class="content">
            <div *ngIf="entityForm" class="col-sm-12 col-md-12 col-xl-12 PL0">
                <h2> {{'CompanyEntities.entity' | translate}}</h2>
                <form>
                    <div class="admin-form__control">
                        <mat-form-field>
                            <textarea matInput [formControl]="description" required readonly="{{!isEditable}}"
                            name="description" placeholder="{{'CompanyEntities.description' | translate}}"
                            [(ngModel)]="currentEntity.Description"></textarea>
                            <mat-error *ngIf="description.hasError('required')">{{'CompanyEntities.requiredError' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="admin-form__control">
                        <mat-form-field>
                            <input type="text" name="code" readonly="{{!isEditable}}" autocomplete="off" matInput
                            [formControl]="code" required placeholder="{{'CompanyEntities.entityCode' | translate}}"
                            [(ngModel)]="currentEntity.Code">
                            <mat-error *ngIf="code.hasError('required')">{{'CompanyEntities.requiredError' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="admin-form__control">
                        <mat-form-field>
                            <mat-select name="type" [formControl]="type" required
                            [disabled]="!isEditable||formText==='Edit'"
                            placeholder="{{'CompanyEntities.entityType' | translate}}" [(ngModel)]="currentEntity.Type">
                                <mat-option [disabled]="parentEntityType === 'Ligne' || parentEntityType === 'Usine' || parentEntityType === 'Site'" value="Site">Site</mat-option>
                                <mat-option [disabled]="parentEntityType === 'Usine' || parentEntityType === 'Ligne' ||(parentEntityCode==null && formText=='Add')" value="Usine">Entité n-1</mat-option>
                                <mat-option [disabled]="parentEntityType === 'Ligne' ||(parentEntityCode==null && formText=='Add')" value="Ligne">Entité n-2</mat-option>
                                <mat-option [disabled]="parentEntityCode==null && formText=='Add'" value="Atelier">Entité n-3</mat-option>
                            </mat-select>
                            <mat-error *ngIf="type.hasError('required')">{{'CompanyEntities.requiredError' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <!-- <div class="admin-form__control">
                        <mat-form-field>
                            <mat-select name="subEntities" multiple='true' [disabled]="!isEditable" placeholder="Select Sub Entities" [(ngModel)]="currentEntity.SubEntities">
                                <mat-option *ngFor="let sub of this.entitiesService.entities" value="sub.Code">{{sub.Code}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div> -->
                    <div class="admin-form__control">
                        <mat-form-field>
                            <mat-select name="assessmentPlan" [disabled]="!isEditable" [formControl]="assessmentPlan"
                            placeholder="{{'CompanyEntities.entityPlan' | translate}}"  required
                            [(ngModel)]="currentEntity.AssessmentPlan">
                                <mat-option *ngFor="let element of assessmentPlanService.assessmentPlans" [value]="element._id">{{element.Code}} : {{element.Description}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="assessmentPlan.hasError('required')">{{'CompanyEntities.requiredError' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="admin-form__control">
                        <mat-form-field>
                            <input type="number" name="scoreGoal" readonly="{{!isEditable}}" autocomplete="off"
                            matInput [(ngModel)]="currentEntity.ScoreGoal" [formControl]="scoreGoal"  required
                            placeholder="{{'CompanyEntities.goal' | translate}}">
                            <mat-error *ngIf="scoreGoal.hasError('required')">{{'CompanyEntities.requiredError' | translate}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="formText!=='Show'" class="text-right">
                        <button (click)="entityForm = false;" type="button" mat-raised-button>{{'CompanyEntities.cancel' | translate}}</button>
                        <button (click)="addEntity()" style='margin-left: 10px;vertical-align: middle;' class="uppercase"
                        type="button" mat-raised-button color="primary"
                        disabled="{{scoreGoal.invalid || type.invalid || description.invalid || code.invalid || assessmentPlan.invalid}}">
                            <i *ngIf="formText ==='Add'" class="fas fa-plus "></i>
                            <i *ngIf="formText ==='Edit'" class="fas fa-edit "></i> {{formText}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
<!-- </div> -->

<div *ngIf="isDeleteEntity" class="modal">
    <p>{{'CompanyEntities.confirmationDelete' | translate}}</p>

    <div>
        <button type="button" (click)="deleteEntity()" mat-raised-button color="primary">
            {{'CompanyEntities.yes' | translate}}
        </button>
        <button type="button" (click)="isDeleteEntity = false;" mat-raised-button>{{'SELFASSESSEMENT.no' | translate}}</button>
    </div>
</div>

<div (click)="isDeleteEntity = false" *ngIf="isDeleteEntity" class="modal-layer"></div>
