@import "../../../../../assets/scss/abstracts/abstracts";

.element-section{
  @include boxShadowMain();
  padding: 2rem 2rem 0 2rem;
}

.add-elements{
  display: inline-block;
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 500;

  i{
    vertical-align: middle;
    font-size: 2.2rem;
    margin-right: .5rem;
    position: relative;
    top: -.1rem;
  }
  .uploader{
    margin-top: 1rem;
    padding-right: 1rem

  }

  .ML0 {
    margin-left: 10 !important;
}
}
