<div class="row">
    <div class="col-sm-3 col-md-3 col-xl-3 PL0">
        <h2>
            <a (click)="onBack()" class="back-icon">
                <i class="material-icons">arrow_back_ios</i>
            </a>
            {{'ConfigurationAxes.addAxe' | translate}}
        </h2>
    </div>
</div>

<form [formGroup]="axesForm" (submit)="onSubmitAxesForm(axesForm)">
    <div class="admin-form">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-xl-6 PL0">
                <div>
                    <div class="admin-form__control">
                        <mat-form-field>
                            <input type="text" autocomplete="off"
                                   formControlName="description"
                                   matInput placeholder=" {{'ConfigurationAxes.addAxe' | translate}}">
                        </mat-form-field>
                    </div>

                    <div class="admin-form__control">
                        <mat-form-field>
                            <input type="text" autocomplete="off"
                                   formControlName="elements"
                                   matInput placeholder="{{'ConfigurationAxes.numElement' | translate}}">
                        </mat-form-field>
                    </div>


                    <button
                            type="submit"

                            [disabled]="!axesForm.valid"
                            mat-raised-button color="primary">
                            {{'ConfigurationAxes.create' | translate}}
                    </button>
                    <!--
                    <button style="margin-left: 10px" type="button"  mat-raised-button color="primary"  (click)="uploader.uploadAll()" 
                    [disabled]="!uploader.getNotUploadedItems().length" >  {{'ConfigurationAxes.import' | translate}}</button>
                      
                         -->

                        <button type="button" mat-raised-button  style="margin-left: 10px; " onclick="document.getElementById('files').click()">{{'ConfigurationAxes.import' | translate}}</button>
                       
    
    <input id="files"  type="file" name="axeExcel" style="visibility:hidden;"  ng2FileSelect [uploader]="uploader" (change)="uploader.uploadAll()" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
  
                </div>
            </div>
        </div>
    </div>
</form>
