.lds-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: fixed;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  z-index: 55;
}
.lds-ring-layer{
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 54;
  background: transparent;
}

.lds-ring {
  border: 6px solid #ddd;
  border-radius: 50%;
  border-top: 6px solid #256bc2;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
