
//Base Grey Color
$color-master: #626262 ;

// Lighter Grey colors
$color-master-light:mix($color-master, #fff, 16%) ;
$color-master-lighter:mix($color-master, #fff, 9.5%) ;
$color-master-lightest:mix($color-master, #fff, 3%) ;

// Darker Grey colors
$color-master-dark:mix($color-master, #000, 45%) ;
$color-master-darker:mix($color-master, #000, 27%) ;
$color-master-darkest:mix($color-master, #000, 18%) ;

$color-white: #fff ;
$color-black: #000 ;

//$color-success: #2b96dd ;
$color-success: rgb(240,140,0) ;
$color-complete : #38b882 ;
$color-primary: #1379bd ;
$color-warning: #f8d053 ;
$color-danger: #f55753 ;
$color-info: #3b4752 ;

$base-font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell","Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;

// Menu Vars
// --------------------------------------------------
//Menu Animation Curve
$menu-bezier:.05, .74, .27, .99 ;
$menu-icon-size:40px ;
$color-menu :rgb(121, 120, 119);
$color-menu-dark :mix($color-menu, #000, 75%) ;
$color-menu-darker :mix($color-menu, #000, 90%) ;
$color-sidebar-background-header : rgb(80, 80, 80);
$color-text-menu-elements : #b0b0b0;

//Generating Menu font color
$menu-mix-temp : mix($color-menu, #fff, 92%) ;
$menu :blend-hardlight($menu-mix-temp,#fff) ;
$color-menu-light :$menu !global;
//Menu Font Color
$color-menu-link-hover:rgb(255, 255, 255) ;

// Body
// --------------------------------------------------
$body-background: $color-master-lightest ;
$body-color: $color-master ;
$body-font-family : $base-font-family ;
$body-font-size : 13px ;

// Layout
// --------------------------------------------------
$layout-header-height:60px ;
$layout-mobile-header-height:48px ;
$layout-mobile-logo-scale:0.8 ;
$layout-sidepanel-width-collapsed : 70px ;
$layout-sidepanel-width:280px ;
$layout-sidepanel-pin-width:250px ;
$layout-right-quickview-width: 285px ;
$layout-user-profile-margin:25px ;
$layout-container-fixed-lg: 1700px ;

$layout-gutter-sm : 5px ;

//Horizontal Dropdown
//---------------------------------------------------
$navbar-width:45px;
$menu-padding:25px;

$header-lg-height:75px;
$header-md-height:51px;
$header-sm-height:50px;

// Panels
$panel-border-color: rgba(0, 0, 0, 0.07) ;
$panel-padding: 20px ;
$panel-heading-padding: $panel-padding $panel-padding 7px $panel-padding ;
$panel-heading-min-height: 48px ;
$panel-condensed-heading-padding: 13px 13px 0 13px ;
$panel-condensed-body-padding: 13px ;
$panel-condensed-heading-min-height: 48px ;

//Forms
$form-group-height: 54px ;
$form-control-border-color: rgba($color-black, .07) ;

//Dashboard
$dashboard-background : #cce7f3 ;

//Mixing Color varriable for creating both light and dark colors
$mix-percentage-dark: 81% ;
$mix-percentage-darker: 60% ;
$mix-percentage-light: 80% ;
$mix-percentage-lighter: 20% ;

//Lighter colors
$color-success-light: mix($color-success, $color-white, $mix-percentage-light) ;
$color-success-lighter: mix($color-success, $color-white, $mix-percentage-lighter) ;

$color-complete-light: mix($color-complete, $color-white, $mix-percentage-light) ;
$color-complete-lighter: mix($color-complete, $color-white, $mix-percentage-lighter) ;

$color-primary-light: mix($color-primary, $color-white, $mix-percentage-light) ;
$color-primary-lighter: mix($color-primary, $color-white, $mix-percentage-lighter) ;

$color-warning-light: mix($color-warning, $color-white, $mix-percentage-light) ;
$color-warning-lighter: mix($color-warning, $color-white, $mix-percentage-lighter) ;

$color-danger-light: mix($color-danger, $color-white, $mix-percentage-light) ;
$color-danger-lighter: mix($color-danger, $color-white, $mix-percentage-lighter) ;

$color-info-light: mix($color-info, $color-white, $mix-percentage-light) ;
$color-info-lighter: mix($color-info, $color-white, $mix-percentage-lighter) ;

//Darker colors
$color-success-dark: mix($color-success, $color-black, $mix-percentage-dark) ;
$color-success-darker: mix($color-success, $color-black, $mix-percentage-darker) ;

$color-complete-dark: mix($color-complete, $color-black, $mix-percentage-dark) ;
$color-complete-darker: mix($color-complete, $color-black, $mix-percentage-darker) ;

$color-primary-dark: mix($color-primary, $color-black, $mix-percentage-dark) ;
$color-primary-darker: mix($color-primary, $color-black, $mix-percentage-darker) ;

$color-warning-dark: mix($color-warning, $color-black, $mix-percentage-dark) ;
$color-warning-darker: mix($color-warning, $color-black, $mix-percentage-darker) ;

$color-danger-dark: mix($color-danger, $color-black, $mix-percentage-dark) ;
$color-danger-darker: mix($color-danger, $color-black, $mix-percentage-darker) ;

$color-info-dark: mix($color-info, $color-black, $mix-percentage-dark) ;
$color-info-darker: mix($color-info, $color-black, $mix-percentage-darker) ;


/*------------------------------------------------------------------
[16. Tables and Datatables]
*/

/* Generic Tables
------------------------------------
*/
.table {
  margin-bottom: 0;
  margin-top: 0px;
  border-top: 1px solid fade-out(#D0D0D0, .5);

  thead {
      tr {
          th {
              text-transform: uppercase;
              font-weight: 500;
              font-family:'Montserrat';
              font-size: 10.5px;
              letter-spacing: 0.06em;
              padding-top: 14px;
              padding-bottom: 14px;
              vertical-align: middle;
              //border-bottom: 1px solid fade-out($color-master-light, .5);
              border-bottom: 1px solid fade-out(#D0D0D0, .5);
              //color:fade-out($color-master-dark, .65);
              color: rgb(30, 30, 30);
              border-top: none;
              &[class*='sorting_']:not([class='sorting_disabled']){
                  color:$color-master-dark;
              }
              &:first-child {
                  padding-left: 18px !important;
              }
              .btn {
                  margin-top: -20px;
                  margin-bottom: -20px;
              }
          }
      }
  }
  tbody {
      tr {
          td {
              background: #fff;
              border-bottom: 1px solid fade-out(#D0D0D0, .5);
              border-top: 0px;
              padding: 10px;
              vertical-align: middle;
              font-size: 13.5px;
              .btn-tag {
                  background:fade-out($color-master-dark, .93);
                  display: inline-block;
                  margin: 5px;
                  border-radius: 4px;
                  padding: 5px;
                  color: #62605a !important;
                  &:hover {
                      background:fade-out($color-master-dark, .85);
                  }
              }
              &[class*='sorting_'] {
                  color:#000;
              }
              .checkbox label::after{
                  left: 0.5px;
              }
          }
          &.selected td {
              background: $color-warning-lighter;
          }
      }
  }
  &.table-hover {
      tbody {
          tr {
              &:hover td {
                  background: $color-complete-lighter !important;
              }
              &.selected:hover td{
                  background: $color-warning-lighter !important;
              }
          }
      }
  }
  &.table-striped {
      tbody {
          tr {
              td {
                  background: $body-background !important;
              }
              &:nth-child(2n+1) td {
                  background: #fff !important;
              }
          }
      }
  }
  &.table-borderless{
       tbody {
          tr {
              td {
                 border-top: 0;
              }
          }
      }
  }
  &.table-condensed {
      table-layout: fixed;
      thead {
          tr {
              th {
                  padding-left: 20px;
                  padding-right: 20px;
              }
          }
      }
      tbody {
          tr {
              td {
                  padding-top: 12px;
                  padding-bottom: 12px;
              }
          }
      }
      thead tr th, tbody tr td, tbody tr td *:not(.dropdown-default){
          white-space: nowrap;
          vertical-align: middle;
          overflow: hidden;
          text-overflow: ellipsis;
          &.reset-overflow *{
              overflow: initial !important;
          }
      }
      &.table-detailed {
          & > tbody > tr {
              &.shown {
                  & > td {
                      background: $color-warning-lighter;
                      &:first-child:before {
                         // @include rotate(90deg);
                      }
                  }
                  & + tr {
                      & > td {
                          background: fade-out($body-background, .6);
                          padding: 0px 40px;
                          .table-inline{
                              margin-top: 13px;
                              margin-bottom: 13px;
                              background: transparent;
                              tr,td{
                              background: transparent;
                              font-weight: 600;
                              }
                          }
                      }
                  }
              }
              &.row-details{
                   & > td {
                      &:first-child:before {
                          content: '';
                          display: none;
                      }
                  }
              }
              & > td {
                  &:hover {
                      cursor: pointer;
                  }
                  &:first-child:before {
                      content:"\f054";
                      display: inline-block;
                      margin-right: 8px;
                      font-size: 8px;
                      top: -1px;
                      position: relative;
                      font-family: 'FontAwesome';
                      //@include transition(all 0.12s linear);
                  }
              }
          }
          .table-inline {
              td {
                  border: none;
                  text-align: left;
              }
          }
      }
  }
  &.table-borderless{
      & > tbody{
          & > tr{
              & > td{
                  border-bottom: 0px;
              }
          }
      }
  }
}
.fht-table {
  margin-bottom: 0 !important;
}


@media (max-width: 767px) {
  .table-responsive{
      border: 1px solid #ddd;
  }
}

/* Demo classes */
.demo-table-search{
  thead th{
      &:nth-child(1){
          width: 20%;
      }
      &:nth-child(2){
          width: 22%;
      }
      &:nth-child(3){
          width: 24%;
      }
      &:nth-child(4){
          width: 15%;
      }
      &:nth-child(5){
          width: 19%;
      }
  }
}

.demo-table-dynamic {
  thead th{
      &:nth-child(1){
          width: 25%;
      }
      &:nth-child(2){
          width: 30%;
      }
      &:nth-child(3){
          width: 20%;
      }
      &:nth-child(4){
          width: 25%;
      }
  }
}

.table-invoice{
  th{
      border-top: 0;
  }
}
