a.icon.fas.fa-ellipsis-v {
  border: 1px solid gray;
  margin-left: 7px;
  padding: 5px 10px;
}

mat-tree-node.mat-tree-node.ng-star-inserted a {
  background-color: #f0f0f8;
  border: 1px solid #35445263;
}
