<div>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-xl-3 PL0">
      <h2>Company Entities</h2>
    </div>
    <div class="col-sm-9 col-md-9 col-xl-9 PR0">
      <mat-paginator [length]="100"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef width="10%">{{'CompanyEntities.entityCode' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.code}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef width="15%"> Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}}</td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef width="10%"> Type</th>
      <td mat-cell *matCellDef="let element"> {{element.type}}</td>
    </ng-container>

    <ng-container matColumnDef="subEntity">
      <th mat-header-cell *matHeaderCellDef width="10%"> Sub-entities</th>
      <td mat-cell *matCellDef="let element"> {{element.subEntity}}</td>
    </ng-container>

    <ng-container matColumnDef="assessmentPlan">
      <th mat-header-cell *matHeaderCellDef width="10%"> Assessment Plan</th>
      <td mat-cell *matCellDef="let element"> {{element.assessmentPlan}}</td>
    </ng-container>

    <ng-container matColumnDef="selfAssessment">
      <th mat-header-cell *matHeaderCellDef width="10%"> Self assessment</th>
      <td mat-cell *matCellDef="let element"> {{element.selfAssessment}}</td>
    </ng-container>

    <ng-container matColumnDef="score">
      <th mat-header-cell *matHeaderCellDef width="5%"> Score</th>
      <td mat-cell *matCellDef="let element"> {{element.score}}</td>
    </ng-container>

    <ng-container matColumnDef="calculatedScore">
      <th mat-header-cell *matHeaderCellDef width="10%"> Calculated Score</th>
      <td mat-cell *matCellDef="let element"> {{element.calculatedScore}}</td>
    </ng-container>

    <ng-container matColumnDef="scoreGoal">
      <th mat-header-cell *matHeaderCellDef width="10%"> Score Goal</th>
      <td mat-cell *matCellDef="let element"> {{element.scoreGoal}}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef width="15%"> Action</th>
      <td mat-cell *matCellDef="let element">
        <a (click)="onAddEntity()" class="edit-icon"><i class="material-icons">edit</i></a>
        <a class="delete-icon"><i class="material-icons">delete</i></a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="add-icon">
    <a (click)="onAddEntity()" matRipple [matRippleColor]="color">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>
