

<div class="header">
  <div class="logo">
    <img src="assets/images/logo.png" alt="">
  </div>
  <div class="menu">
    <ul>
      <li></li>
      <li> <a routerLinkActive="active"  matRipple (click)="downloadFile()"  >
        <i class="material-icons">cloud_download</i>
        <span *ngIf="!isMenuCollapse">Télècharger Booklet</span>
      </a></li>
      <li *ngIf="connected==false"> <a routerLinkActive="active" [routerLink]="login" matRipple>
        <i class="material-icons">lock</i>
        <span *ngIf="!isMenuCollapse">{{'HOME.Login' | translate}}</span>
      </a></li>
      <li *ngIf="connected==true"> <a routerLinkActive="active" [routerLink]="dash" matRipple>
        <i class="material-icons">account_circle</i>
        <span *ngIf="!isMenuCollapse">{{'HOME.Account' | translate}}</span>
      </a></li>
    </ul>
  </div>
</div>
<div class="slider one-time">
  <ngx-slick-carousel class="carousel"
                      #slickModal="slick-carousel"
                      [config]="slideConfig"
                     >
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="" width="100%">
    </div>
  </ngx-slick-carousel>

</div>
<div class="description">
  <div class="container">
    <h1>C'est quoi QMS?</h1>
    <p>Avec la conviction que la qualité est un levier de compétitivité majeur, ce référentiel QMS-LCP OCP est conçu, co-construit et développé « from us, by us, for us » entièrement par nos collaborateurs en mode agile et apprenant, Ce système ambitionne de positionner  l’OCP en tant que leader mondial en management de la qualité dans l’industrie à process continu. </p>
    <p>


      C’est un système de management de la qualité simple, nouvelle génération et World Class. Il permet à chaque acteur, de se positionner selon un référentiel commun à tout le groupe, de se fixer les objectifs à atteindre et les plans de progrès pour y parvenir et surtout, il permet de diffuser, valoriser et capitaliser les bonnes pratiques.
    </p>

  </div>

</div>
<!--
<div class="Valeurs">
<h1>Nos Valeurs</h1>
<div class="container">
    <div class="grid-4">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1138174/profile/profile-512.jpg">
        <p>La volonté de disposer d’un langage « Qualité » commun, tout au long du Cycle de Vie des Produits OCP, </p>
    </div>
    <div class="grid-4">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1138174/profile/profile-512.jpg">
        <p>Le courage de développer un QMS-LCP OCP « From us, By us & For us », 100% TailorMaid, en interne dans une approche d’intelligence collective, </p>
    </div>
    <div class="grid-4">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1138174/profile/profile-512.jpg">
        <p>L’alignement avec les orientations stratégiques du groupe, alliant notre Passion & Ambition, en vue d’ancrer la culture d’Outstanding Qualité, </p>
    </div>
    <div class="grid-4">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1138174/profile/profile-512.jpg">
        <p> la clarté d’une vision, à savoir, « Devenir un Leader Mondial de Management</p>
    </div>
</div>
</div>
-->
<div class="testi">
  <div class="container">
    <ngx-slick-carousel class="carousel"
                        #slickModal="slick-carousel"
                        [config]="slideConfigTesti">

      <div ngxSlickItem  class="slide">
        <figure class="testimonial">
          <blockquote>QMS LCP OCP  vient capitaliser sur les retours d’expérience de 100 ans d’existence. C’est un système qui permet de disposer d’un langage « Qualité » commun et de renforcer l’amélioration continue de nos produits tout au long de la chaine de valeur.
            <div class="arrow"></div>
          </blockquote>
          <img src="assets/images/home/Iliass-El-Fali.png" alt="Iliass-El-Fali" />
          <div class="author">
            <h5>El FALI Iliass</h5>
            <p class="th-margin-remove">Directeur Exécutif – Opérations Industrielles</p>
          </div>
        </figure>
      </div>
      <div ngxSlickItem  class="slide">
        <figure class="testimonial">
          <blockquote>La  performance de notre groupe implique l’Excellence Qualité, QMS LCP OCP  est un système 100% Tailor Made « From us, By us & For us », Driver de l’OUTSTANDING Quality Beyond Compliance.
            <div class="arrow"></div>
          </blockquote>
          <img src="assets/images/home/nada.png" alt="ELMAJDOUB Nada" />
          <div class="author">
            <h5>ELMAJDOUB Nada</h5>
            <p class="th-margin-remove">Directeur Exécutif - Performance Management</p>
          </div>
        </figure>
      </div>
      <div ngxSlickItem  class="slide">
        <figure class="testimonial">
          <blockquote>La voix du client est au centre de la dynamique du QMS LCP OCP, permettant ainsi de s’adapter à des exigences marchés de plus en plus complexes et à une réglementation internationale en constante évolution
            <div class="arrow"></div>
          </blockquote>
          <img src="assets/images/home/belhoussain.png" alt="BELHOUSSAIN Mohamed" />
          <div class="author">
            <h5>BELHOUSSAIN Mohamed</h5>
            <p class="th-margin-remove">Directeur Exécutif - Commercial</p>
          </div>
        </figure>
      </div>
    </ngx-slick-carousel>
    <div class="slideset">


    </div>
  </div>
</div>
<div class="footer">
  <p>© OCP-QM 2019</p>
</div>
