@import url(https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round);

body{
  margin: 0px !important;
}
h5 {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  line-height: 1.4em;
  color: #3F5161;
}
.container {
  box-sizing: content-box;
  max-width: 1330px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.th-margin-remove {
  margin: 0!important
}
figure.testimonial {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  padding: 0 20px;
  text-align: left;
  box-shadow: none !important;
}
figure.testimonial * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.testimonial img {
  max-width: 100%;
  vertical-align: middle;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: 40px 0 0 0px;
  box-shadow: 0px 0px 1px 1px #323232ad;
}
figure.testimonial blockquote {
  background-color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0;
  padding: 25px 50px 30px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 6px -1px #0c0c0c73;
  border-bottom: 3px solid #3F5161;
  border-top: 3px solid #3F5161;
}figure.testimonial blockquote:before, figure.testimonial blockquote:after {
   content: "\201C";
   position: absolute;
   color: #3F5161;
   font-size: 50px;
   font-style: normal;
 }
figure.testimonial blockquote:before {
  top: 25px;
  left: 20px;
}
figure.testimonial blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.testimonial .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #3F5161;
  margin: 0;
  position: absolute;
  /* box-shadow: 0px 0px 6px -1px #0c0c0c73; */
}
figure.testimonial .author {
  position: absolute;
  bottom: 75px;
  padding: 0 10px 0 146px;
  margin: 0;
  color: #ffffff;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
}
figure.testimonial .author h5 {
  opacity: 0.9;
  margin: 0;
}
figure.testimonial .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}
/* Slider */
.slick-slider {
  margin-top: 85px !important;
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track, .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Arrows */
.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}
.slick-prev:before, .slick-next:before {
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -40px;
}
.slick-prev:before {
  content: "<";
}
.slick-next {
  right: -40px;
}
.slick-next:before {
  content: ">";
}
.slick-slide img {
  display: block;
  height: auto;
  text-align: center;
}
.slick-next:before {
  content: '>' !important;
}
.slick-prev:before {
  content: '<' !important;
}
.testi {
  /* background: #ffffff; */
  /* background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}
.grid-4 img {
  width: 138px;
  border-radius: 100%;
  width: 179px;
  border: 1px solid #80808059;
  box-shadow: 1px 1px 4px -1px grey;
}
.grid-4 {
  text-align: center;
  width: 22%;
  display: table-cell;
  margin: 5px;
  padding: 8px;
  box-shadow: 1px 1px 5px -2px #0000004d;
  vertical-align: top;
  background-color: white;
  color: #30352c;
  font-weight: bold;
  border-radius: 13px;
  border-bottom: 4px solid #3F5161;
}
.grid-4 {
  font-size: 14px;
}
.Valeurs {
  display: table;
  border-collapse: separate;
  border-spacing: 8px;
  width: 100%;
  background-color: #3F5161;
  color: white;
  background-image: url('http://www.ocpgroup.ma/sites/default/files/styles/optimized/public/2018-11/La-mine-de-Merah-Lahrach-dans-la-zone-de-Khouribga.jpg?itok=3JYH9guA');
  box-shadow: 0px 0px 2px #0000008c;
}
h1 {
  text-align: center;
  color: #5db323;
}
.header li {
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  padding: 12px;
}
.header ul {
  list-style: none;
  height: 100%;
  display: table;
}
.menu {
  float: right;
  height: 100%;
  display: block;
  vertical-align: middle;
}
.logo {
  float: left;
  margin-left: 32px;
}
.logo img {
  width: 94px;
}
.header {
  height: 85px;
  box-shadow: 1px 1px 6px -2px black;
  position: fixed;
  top: 0px;
  z-index: 999999;
  width: 100%;
  background-color: white;
}
.description p {
  display: flex;
  /* font-weight: 600; */
  line-height: 1.6;
  /* border-left: 6px solid white; */
  /* padding-left: 18px; */
}
.description h1 {
  float: left;
  margin-right: 46px;
  color: white;
}

.description {
  margin: 47px 0px;
  font-weight: 100;
  background-color: #3F5161;
  color: white;
  box-shadow: 0px 0px 3px -1px black;
  border-bottom: 6px solid #86b023;
}

.Valeurs h1 {
  color: white;
}

p.th-margin-remove {
  color: #86b023;
}
.footer {
  background-color: #323232;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 1px;
  border-bottom: 9px solid #86b023;
}
.slick-slider {
  text-align: -webkit-center !important;
}
.testi .container {
  padding-top: 0px;
}
html, body {
  overflow: inherit !important;
}
i.material-icons {
  color: #3F5161;
  margin-right: 5px;
  vertical-align: sub;
}
.slick-dots li button:before {
  font-size: 20px !important;
  line-height: 35px !important;
}
.testimonial img {
  background-color: white;
}
